﻿@using Masnet3.Common.Helper;
@using Masnet3.Common.Utilities;
@using Masnet3.Common;
@model Masnet3.Model.ViewModel.LayoutViewModel
@{
    List<MASNET.DataAccess.ItemDetail> SocialList = Model.SiteInformation.SocialLinks;
    bool hasSocialPage = false;
    hasSocialPage = (SocialList.Where(s => string.IsNullOrWhiteSpace(s.Value) == false).Count() > 0);
}
<style type="text/css">
    .socialicon {
        background: white;
        border-radius: 35px;
        width: 37px;
        vertical-align: middle;
        height: 35px;
        margin-left: 6px;
        padding-top: 8px;
        padding-left: 10px;
        float: left;
        margin-top: 7px;
    }

        .socialicon a {
            color: #4C5151;
            font-size: 20px;
            text-decoration: none;
            opacity: 0.9;
        }

        .socialicon :hover {
            background: #D4D6D5;
        }
</style>
<footer>
    <!-- Bottom Navbar -->
    <div class="navbar navbar-fixed-bottom nonfullsizable">
        <div class="navbar-inner">

            @if (hasSocialPage)
            {
                foreach (var sociallink in SocialList)
                {
                    if (!string.IsNullOrWhiteSpace(sociallink.Value))
                    {
                        <div class="socialicon">
                            <a target="_blank" href="@sociallink.Value"><i class="@sociallink.Item.Icon"></i></a>
                        </div>
                    }
                }
            }
            <div style="text-align: center">
                <p class="footer-disclaimer" @Commons.ContentEdittable("gFooter_Disclaimer", "footer-disclaimer")>@Html.Raw(DbLanguage.GetText("gFooter_Disclaimer"))</p>
                <p class="footer-copyright" @Commons.ContentEdittable("gFooter_CopyRight", "footer-copyright")>@Html.Raw(DbLanguage.GetText("gFooter_CopyRight"))</p>
            </div>
        </div>
    </div>
    <div id="privacy-modal" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"><div class="" style="height: 550px; width:100%;padding: 30px; padding-right:0px;"><div width="100%" height="100%" frameborder="0" scrolling="yes" src="~/privacy.html"></div>&nbsp;</div></div>
        </div>

    </div>
    <div id="terms-modal" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"><div class="" style="height: 550px; width:100%;padding: 30px; padding-right:0px;"><div width="100%" height="100%" frameborder="0" scrolling="yes" src="~/termofuse.html"></div>&nbsp;</div></div>
        </div>

    </div>
    <!-- End Bottom Navbar -->
</footer>
