﻿@using Masnet3.Common.Helper;
@using Masnet3.Common;
@model Masnet3.Model.ViewModel.LayoutViewModel
@{ 
    string FooterPrivacyLink = "";
}
<div class="main-footer">
    <div class="footer-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 footer-copyright">
                    &copy;2018 Syngenta.
                </div>
                <div class="col-sm-6 social-links">
                    <ul id="footer-links" class="list-inline link-font">
                        <li>
                            <a href="http://response.syngenta.ca/cp-soymaster-pyb" target="_blank" id="footer-rules-btn" class="footer-menu">Soy Masters</a>
                        </li>
                        <li class="separator">|</li>
                        <li>
                            <a href="http://response.syngenta.ca/stewardship-agreement" target="_blank" id="footer-rules-btn" class="footer-menu">Stewardship Agreement</a>
                        </li>
                        <li class="separator">|</li>

                        <li>
                            <a href="javascript: void(0);" id="footer-rules-btn" @Commons.ContentEdittable("gFooter_ContestRules", "footer-menu") class="footer-menu" onclick=" contestRulesClick(); ">@DbLanguage.GetText("gFooter_ContestRules")</a>
                        </li>
                        <li class="separator">|</li>
                        <li>
                            @if (!string.IsNullOrWhiteSpace(DbLanguage.GetText("gFooter_Privacy_Link")))
                            {
                                if (DbLanguage.GetText("gFooter_Privacy_Link").ToLower().IndexOf("https") != -1)
                                {
                                    FooterPrivacyLink = "https://" + DbLanguage.GetText("gFooter_Privacy_Link").ToLower().Replace("https://", "");
                                }
                                else if (DbLanguage.GetText("gFooter_Privacy_Link").ToLower().IndexOf("http") != -1)
                                {
                                    FooterPrivacyLink = "http://" + DbLanguage.GetText("gFooter_Privacy_Link").ToLower().Replace("http://", "");
                                }
                                else
                                {
                                    FooterPrivacyLink = "http://" + DbLanguage.GetText("gFooter_Privacy_Link").ToLower();
                                }
                                <a id="footer-privacy-btn" target="_blank" href="@FooterPrivacyLink" @Commons.ContentEdittable("gFooter_Privacy", "footer-menu") class="footer-menu">
                                    @DbLanguage.GetText("gFooter_Privacy")
                                </a>
                            }
                            else
                            {
                                <a id="footer-privacy-btn" href="#" onclick=" return false " @Commons.ContentEdittable("gFooter_Privacy", "footer-menu") class="footer-menu">
                                    @DbLanguage.GetText("gFooter_Privacy")
                                </a>
                            }
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 poweredby">
                    <a href="http://contestfactory.com/" target="_blank">
                        <img src="~/Content/themes/syngenta/images/powered-by.png" class="img-responsive" alt="Powered by ContestFactory.com" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
