﻿@using Masnet3.Common.Helper;
@using Masnet3.Common.Utilities;
@using Masnet3.Common;
@using MASNET.DataAccess.Constants.Enums;
@model Masnet3.Model.ViewModel.LayoutViewModel
@{

    List<MASNET.DataAccess.ApplicationLanguage> applicationLanguages = Model.SiteInformation.Application.ApplicationLanguages;
    List<MASNET.DataAccess.Language> languages = GlobalVariables.Languages;
}


@if (applicationLanguages != null && applicationLanguages.Count > 1)
{
    MASNET.DataAccess.Language activelanguage = languages.FirstOrDefault(l => l.LanguageID == SessionUtilities.CurrentLanguageID);
    <div class="dropdown dropdown-flag">
        <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="flag-active">
            <img title="@activelanguage.Name" class="flag flag-@activelanguage.Langcode.ToLower()" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
            <span class="caret"></span>
        </div>
        <ul class="dropdown-menu">
            @foreach (var applicationLanguage in applicationLanguages)
            {
                MASNET.DataAccess.Language language = languages.FirstOrDefault(l => l.LanguageID == applicationLanguage.LanguageID);
                if (language != null && language.LanguageID > 0 && SessionUtilities.CurrentLanguageID != language.LanguageID)
                {
                    <li>
                        <img title="@language.Name" class="flag flag-@language.Langcode.ToLower()" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" onclick="changeCurrentLanguage('@language.LanguageID');">
                    </li>
                }
            }
        </ul>
    </div>
    <script type="text/javascript">
    function changeCurrentLanguage(languageId) {
        $.ajax({
            type: "post",
            url: "@Url.Action("ChangeCurrentLanguage", "Home")",
            data: { languageId: languageId },
            success: function (data) {
                window.location.href = window.location.href;
            }
        });
    }
    </script>
}