﻿@using Masnet3.Common.Helper;
@using Masnet3.Common.Utilities;
@using Masnet3.Common;
@using Masnet3.Business.Repository.Languages;
@inject ILanguageRepostirory languageRepostirory;
@model Masnet3.Model.ViewModel.LayoutViewModel

@{
    var useType = Commons.GetUseType(0, Model.SiteInformation.CampaignID);
    var languages = languageRepostirory.GetLanguageList(useType, 0, Model.SiteInformation.CampaignID);
}

@if (languages != null && languages.Count > 1)
{
    <ul class="list-inline languages">
        @foreach (var language in languages)
        {
            var activeLanguageCss = language.LanguageID == SessionUtilities.CurrentLanguageID ? "active" : "";
            <li class="@activeLanguageCss">
                <a href="javascript:void(0);" title="@language.Langcode.ToLower()" onclick="changeCurrentLanguage('@language.LanguageID');">
                    @if (language.Name.ToLower() == "english")
                    {
                        @DbLanguage.GetText("Language_English", 1)
                    }
                    else if (language.Name.ToLower() == "french")
                    {
                        @DbLanguage.GetText("Language_French", 1)
                    }
                    else if (language.Name.ToLower() == "spanish")
                    {
                        @DbLanguage.GetText("Language_Spanish", 1)
                    }
                    else
                    {
                        @language.Name
                    }
                </a>
            </li>
        }
    </ul>

    <script type="text/javascript">
        function changeCurrentLanguage(languageId) {
            $.ajax({
                type: "post",
                url: "@Url.Action("ChangeCurrentLanguage", "Home")",
                data: { languageId: languageId },
                success: function (data) {
                    window.location.href = window.location.href;
                }
            });
        }
    </script>
}
