@import "vars"

/* ----------- Flex Grid ----------- */
.flex-container-fluid
	padding-left: $flex-padding
	padding-right: $flex-padding

.flex-row
	/* will apply equal heights to flex items */
	align-items: stretch      
	/* horizontal alignment of flex items (default value can be omitted) */
	flex-direction: row

	display: flex
	margin-left: -$flex-padding
	margin-right: -$flex-padding
	flex-wrap: wrap
	justify-content: center


[class^='flex-col-']
	padding-left: $flex-padding
	padding-right: $flex-padding	

	/* vertical alignment of flex items */
	flex-direction: column
	/* center flex items vertically */
	justify-content: center
	/* center flex items horizontally */
	align-items: center

.flex-col-1
	width: 8.33333333%

.flex-col-2
	width: 16.66666667%

.flex-col-3
	width: 25%

.flex-col-4
	width: 33.33333333%

.flex-col-5
	width: 41.66666667%

.flex-col-6
	width: 50%

.flex-col-7
	width: 58.33333333%

.flex-col-8
	width: 66.66666667%

.flex-col-9
	width: 75%

.flex-col-10
	width: 83.33333333%

.flex-col-11	
	width: 91.66666667%

.flex-col-12
	width: 100%






.height-100
	height: 100%


@media screen and (max-width: 767px)
	/* .flex-col-3
		width: 50%
		margin-bottom: $flex-padding*2 */

@media screen and (max-width: 767px)
	[class^='flex-col-']
		width: 100%
		margin-bottom: $flex-padding*2