﻿@using Masnet3.Common.Helper;
@using Masnet3.Common.Utilities;
@using Masnet3.Common;
@using MASNET.DataAccess.Constants.Enums;
@using Masnet3.Business.Repository.Layout;
@model Masnet3.Model.ViewModel.LayoutViewModel
@{
    var urlLogo = string.Format("/Content/Themes/Default/images/", Model.SiteInformation.Theme.ThemeName) + "logo.png";
    if (!string.IsNullOrWhiteSpace(Model.SiteInformation.Logo))
    {
        urlLogo = Commons.ImageURL(Model.SiteInformation.Logo, "h");
    }

    if (SessionUtilities.IsLoggedIn() && Model.SiteInformation.SiteType == Enums.SiteType.Main)
    {
        return;
    }
    bool isForceLogin = (ViewContext.HttpContext.Request.Query["forcelogin"] + "").Equals("1");
}
<div class="col-sm-12">
    @*<div class="col-sm-1"></div>*@
    <div class="row-fluid">
        <a class="navbar-brand" href="@Url.SZAction("Index", "Home")">
            <img src="@urlLogo" style="max-height: 90px" />
        </a>
        <div class="pull-right">
            @Html.Partial("_Flags")
        </div>
    </div>
</div>
<div class="clearfix"></div>
@if (!isForceLogin)
{
    <div class="col-sm-12" style="background-color: #333;">
        @*<div class="col-sm-1"></div>*@
        <div class="row-fluid">
            <div class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; ">
                <div class="navbar-header">
                    <button id="btnNavToggle" class="navbar-toggle collapsed" data-target="#divMainMenu" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="icon icon-bars" style="font-size: 30px;"></i>
                    </button>
                </div>
                <div class="navbar-collapse collapse" style="width: 100%; height: 0px;" id="divMainMenu">
                    <ul class="nav navbar-nav" style="display: @(Model.SiteInformation.SiteStatus == Enums.SiteStatus.InvalidSite || Model.SiteInformation.SiteStatus == Enums.SiteStatus.Unpublished ? "none" : "")">

                        @if (!string.IsNullOrWhiteSpace(SessionUtilities.AdminUserToken))
                        {
                            <li class="divider-vertical"></li>
                            <li>
                                <a onclick="SwitchUser('@SessionUtilities.AdminUserToken'); return false;" style="cursor:pointer;">
                                    <i class="icon icon-gears"></i>
                                    @DbLanguage.GetText("gMenuAdminArea")
                                </a>
                            </li>
                        }
                    </ul>
                    <ul id="rightnav" class="nav navbar-nav navbar-right loginhandle">
                        @if (!SessionUtilities.IsLoggedIn())
                        {
                            if (Model.SiteInformation.SiteType == Enums.SiteType.Main && SessionUtilities.CurrentUser.UserID == 0 && false)
                            {
                                <li>
                                    <a href="@Url.SZAction("Register", "Customer", new { userType = (int)Enums.RegistrationUserType.Customer })">
                                        <i class="icon-user"></i>
                                        @DbLanguage.GetText("gRegisterUser")
                                    </a>
                                </li>
                            }
                            <li>
                                @if (Model.SiteInformation.SiteType == Enums.SiteType.Main)
                                {
                                    <button style="margin-right:10px;" onclick="window.location.href='@Url.SZAction("Register", "Customer", new { userType = (int)Enums.RegistrationUserType.Customer })'">@DbLanguage.GetText("gRegister")</button>
                                }
                                else
                                {
                                    <button style="margin-right:10px;" onclick="window.location.href='@Url.SZAction("Register", "Customer")'">@DbLanguage.GetText("gRegister")</button>
                                }
                                @if (Model.SiteInformation.SiteType == Enums.SiteType.Main && SessionUtilities.CurrentUser.UserID == 0 && false)
                                {
                                    <div style="text-align: center; width: 100px">
                                        <a href="@Url.SZAction("Register", "Customer", new { userType = (int)Enums.RegistrationUserType.Customer })">
                                            @DbLanguage.GetText("gRegisterUser")
                                        </a>
                                    </div>
                                }
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.SZAction("Edit", "MyAccount")">
                                    @{
                                        var avatar = GlobalVariables.DefaultAvatar;
                                        if (!string.IsNullOrWhiteSpace(SessionUtilities.CurrentUser.Photo))
                                        {
                                            avatar = Commons.ImageURL(SessionUtilities.CurrentUser.Photo, "s");
                                        }
                                    }
                                    <img id="CurrentUserPhoto_TopMenu" class="menu-user-photo img-circle" alt="@SessionUtilities.CurrentUser.Username" src="@avatar">
                                    <strong>@SessionUtilities.CurrentUser.Username</strong>
                                </a>
                            </li>
                        }
                        <li>
                            @{
                                string url = "", loginText = "";
                                if (SessionUtilities.IsLoggedIn())
                                {
                                    url = Url.SZAction("Logout", "Home");
                                    loginText = DbLanguage.GetText("gMenuLogout");
                                }
                                else
                                {
                                    if (!(Model.Controller.ToLower() == "home" && Model.Action.ToLower() == "customerlogin"))
                                    {
                                        url = Url.SZAction("CustomerLogin", "Home", new { returnUrl = ViewContext.HttpContext.Request.GetRawUrl() });
                                    }
                                    else
                                    {
                                        url = Url.SZAction("CustomerLogin", "Home");
                                    }
                                    loginText = DbLanguage.GetText("gMenuLogin");
                                }
                            }

                            @if (SessionUtilities.IsLoggedIn())
                            {
                                <a href="@url" class="button-logout">
                                    <i class="icon-power-off"></i>
                                    @loginText
                                </a>
                            }
                            else
                            {
                                <button style="margin-left: 0px" onclick="showLogonDialog();return false;">@loginText</button>
                            }
                        </li>
                        <li style="display: block; clear: both; width: 100%;">
                            <div id="login_dialog" @(Commons.Config["LoginStyle"] == "1" ? "class=logindropdown" : "") title="@DbLanguage.GetText("gLabel_Login")" style="display: none;"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<div class="clearer"></div>
