﻿@using Masnet3.Common.Helper;
@using Masnet3.Common.Utilities;
@using Masnet3.Common;
@using MASNET.DataAccess.Constants.Enums;
@model Masnet3.Model.ViewModel.LayoutViewModel

@if (Model.ShowLanguges && !SessionUtilities.IsUserHasAdminPermission() && !Model.Action.ToLower().Equals("customerlogin"))
{
    @Html.Partial("_Languages")
}

<div class="row row-header">
    <div class="col-sm-4 logo-container">
        <div class="logo-header">
            @if (SessionUtilities.IsUserHasAdminPermission() || Model.Action.ToLower().Equals("customerlogin"))
            {
                <img class="img-responsive" src="@Commons.ImageURL(Model.SiteInformation.Campaign.Photo, "")">
            }
            else
            {
                <a href="@Model.LogoUrl">
                    <img class="img-responsive" src="@Commons.ImageURL(Model.SiteInformation.Campaign.Photo, "")">
                </a>
            }

        </div>
    </div>
    <div class="col-sm-8 user-container">
        @if (Model.IsLogin)
        {
            if (Model.ExtraSetting != null)
            {
                if (Model.ExtraSetting["ShowLogin"] == 1)
                {
                    <ul class="list-inline">
                        <li class="welcome">
                            <div class="username">
                                @if (Model.IsSyngentaContext)
                                {
                                    <span class="fName">@Commons.Username(SessionUtilities.CurrentUser.FirstName, SessionUtilities.CurrentUser.LastName, SessionUtilities.CurrentUser.Username)</span>
                                }
                                else
                                {
                                    <span class="fName">@SessionUtilities.CurrentUser.FirstName</span>
                                    <span class="lName">@SessionUtilities.CurrentUser.LastName</span>
                                }
                            </div>
                            <a href="@Url.SZAction(" Logout", "Home" )">@DbLanguage.GetText("gMenuLogout")</a>
                        </li>
                    </ul>
                }
            }
            else
            {
                <ul class="list-inline">
                    <li class="welcome">
                        <div class="username">
                            @if (Model.IsSyngentaContext)
                            {
                                <span class="fName">@Commons.Username(SessionUtilities.CurrentUser.FirstName, SessionUtilities.CurrentUser.LastName, SessionUtilities.CurrentUser.Username)</span>
                            }
                            else
                            {
                                <span class="fName">@SessionUtilities.CurrentUser.FirstName</span>
                                <span class="lName">@SessionUtilities.CurrentUser.LastName</span>
                            }
                        </div>
                        <a href="@Url.SZAction(" Logout", "Home" )">@DbLanguage.GetText("gMenuLogout")</a>
                    </li>
                </ul>
            }

            if (!SessionUtilities.HasPermission(Enums.Permissions.Admin_Campaign_ReportViralDNA))
            {
                <ul class="list-inline">
                    @if (Model.IsNumberAnsweredQuestions == "1")
                    {
                        <li class="point numberAnswered">
                            <p>@DbLanguage.GetText("gAnswer", 1)</p>
                            <p><span id="numberAnswered">@Model.NumberAnswered</span></p>
                        </li>
                    }
                    @if (Model.IsNumberCorrectAnswered == "1")
                    {
                        <li class="point correctAnswered">
                            <p>@DbLanguage.GetText("gCorrectAnswers", 1)</p>
                            <p><span id="userCorrectAnswered">@Model.CorrectAnswered</span></p>
                        </li>
                    }
                    @if (Model.IsShowPoints == "1")
                    {
                        <li class="point">
                            <p>@DbLanguage.GetText("gAccountMenu_Points", 1)</p>
                            <p><span id="userPoint">@Model.Point</span></p>
                        </li>
                    }
                </ul>
            }
        }
        else
        {

            var site = GlobalVariables.SiteInformation;
            var SiteInformation = ViewBag.SiteInformation ?? GlobalVariables.SiteInformation;
            var pageShareURL = Url.Action("details", "contest", new { id = site.CampaignID }, RequestUtilities.Scheme());
            var conestId = SiteInformation.CampaignID;
            MASNET.DataAccess.Share modelShared = new MASNET.DataAccess.Share {
                customView = "_Sharing_Football",
                contestantentryid = 0,
                bFlag = true,
                contestantID = 0,
                shareURL = pageShareURL,
                isNotDeActivate = true,
                sourceID = (int)Enums.PageID.HomePage,
                ContestID = (int)conestId,
                Title = "Share this site",
                SourceType = (int)Enums.PageID.HomePage

            };
            @await Component.InvokeAsync("ShareList", new { model = modelShared });
        }
    </div>
</div>

<div id="logo-halex" class="logo-halex" style="display: none;">
    <img src="~/Content/themes/syngenta-soybean/images/hero.jpg" class="img-responsive" alt="" />
</div>

@if (Model.IsLogin && !Model.IsSyngentaContext)
{
    <nav role="navigation" id="NavLogined" class="navbar navbar-default navbar-custom" style="display: none;">
        <header>
            <!-- navigation -->
            <div id="header-navigation">
                <div class="container">
                    @if (!Model.IsPageContestended)
                    {
                        <!--/.nav-collapse -->
                        <div class="navbar-collapse collapse" id="divMainMenu">
                            @if (!SessionUtilities.HasPermission(Enums.Permissions.Admin_Campaign_ReportViralDNA))
                            {
                                <ul class="nav">
                                    @if (!Model.IsContestEnd)
                                    {
                                        <li class="@(Model.Action.ToLower() == " index" && Model.Controller.ToLower() == "quiz" ? "active" : "" )">
                                            <a href="@Url.Action(" Index", "Quiz" )">@DbLanguage.GetText("Menu_Trivia")</a>
                                        </li>
                                    }
                                    @if ((!Model.IsContestEnd || Model.IsSyngentaContext) && Model.IsShowLeaderBoard == "1")
                                    {
                                        <li class="@(Model.Action.ToLower() == " pointleader" && Model.Controller.ToLower() =="myaccount" ? "active" : "" )">
                                            <a href="@Url.Action(" PointLeader", "MyAccount" )">@DbLanguage.GetText("Title_PointLeader")</a>
                                        </li>
                                    }
                                    @if (!Model.IsContestEnd && Model.SpinAllow != "0")
                                    {
                                        <li class="" style="position:relative">
                                            <a href="javascript:void(0);" onclick="playSpin();">
                                                <i class="icon icon-bell bell" style="display:none;position:relative" aria-hidden="true">
                                                    <div class="spinnum" style="display:none">@Model.SpinCount</div>
                                                </i>
                                                <span id="spintab" class="disabledtab">
                                                    &nbsp;SpinZone<sup>&reg;</sup>
                                                </span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }

                        </div>
                        <!--/.nav-collapse -->
                    }
                </div>
            </div>
            <!-- end navigation -->
        </header>
    </nav>
}

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var logoHalex = document.getElementById('logo-halex');
        var nav = document.getElementById('NavLogined');
        var parentNode = document.querySelector('.content-wrapper');
        var referenceNode = document.getElementById('divMainContainer');
        if (nav) {
            parentNode.insertBefore(nav, referenceNode);
            parentNode.insertBefore(logoHalex, nav);
            nav.style.display = 'block';
        } else {
            parentNode.insertBefore(logoHalex, referenceNode);
        }

        logoHalex.style.display = 'block';
    });
</script>

@if (Model.SiteInformation.IsPreview())
{
    <script src="~/Scripts/spinapi_upload.js"></script>
}
