﻿/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.rslides_tabs {
    padding-bottom: 0;
    padding-top: 10px;
    text-align: center;
}


.rslides_tabs .rslides_here a {
    background-position: 0 -22px;
}

.rslides_tabs a {
    background: url("images/bullets.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: inline-block;
    height: 22px;
    margin: 0 2px;
    text-indent: -9999px;
    width: 22px;
}

.rslides_nav{
  position: absolute;
  top: 40%;
  z-index: 100;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 30px;
  width: 24px;
  background-image: url("images/arrows.png");
  background-repeat: no-repeat;
  opacity:0;
}

.rslides_nav.prev {
  right: auto;
  background-position: left top;
  left:15px;
}

.rslides_nav.next {
  left: auto;
  background-position: right top;
  right:15px;
}

.rslides_nav a:hover {
    opacity: 3.5;
    background-color: transparent;
}

.responsiveslides:hover > .rslides_nav{
    opacity: 5.5;
    background-color: transparent;
}