﻿@using Masnet3.Common.Helper;
@using Masnet3.Common.Utilities;
@using Masnet3.Common;
@using MASNET.DataAccess.Constants.Enums;
@model Masnet3.Model.ViewModel.LayoutViewModel;
@{
    var currentUser = SessionUtilities.CurrentUser;
    if (Model.SiteInformation.Application.TemplateTypeID.GetValueOrDefault() == (int)Enums.ApplicationTemplateType.DRTV)
    {
        ViewBag.Title = "";
    }
}

<style>
    .content-inner {
        display: none;
    }
</style>

@if (Model.SiteInformation.Application.TemplateTypeID.GetValueOrDefault() == (int)Enums.ApplicationTemplateType.DRTV)
{
    <div id="dvHome"></div>
    <style>
        #home_caption {
            margin-@DbLanguage.CssLeft: -493px;
            @DbLanguage.CssLeft: 50%;
        }
        .content-inner {
            display: none;
        }
    </style>
}
else
{

}

@if (Model.SiteInformation.SiteType == Enums.SiteType.Main && (!SessionUtilities.IsLoggedIn(currentUser) || (SessionUtilities.IsLoggedIn(currentUser) && (SessionUtilities.IsSuperAdmin() || SessionUtilities.CurrentUser.UserType == (int)Enums.RegistrationUserType.Customer))))
{
    var createCampaignUrl = Url.Action("create", "customercontest");
    if (!SessionUtilities.IsLoggedIn(currentUser))
    {
        createCampaignUrl = Url.Action("register", "customer", new { userType = 0, returnUrl = createCampaignUrl });
    }
    <style>
        #btnHomeCreateUGC {
            background: -webkit-linear-gradient(#FF770C, #BE2504); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#FF770C, #BE2504); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#FF770C, #BE2504); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#FF770C, #BE2504); /* Standard syntax (must be last) */
            border: medium none white;
            border-radius: 5px;
            /*box-shadow: 5px 5px 5px #e66500;*/
            font-size: 2em;
            font-weight: bold;
            padding: 10px 30px;
            font: 22px/28px "OpenSansCondensedLight",Arial,sans-serif;
            margin: 25px 0 10px;
        }
    </style>
    <div style="text-align: center; width: 100%;">
        <input type="button" onclick="window.location.href='@(createCampaignUrl)';" value="@(DbLanguage.GetText("Home_ButtonCreateUGCContest"))" id="btnHomeCreateUGC">
    </div>
}
<div class="clearer"></div>
@section Scripts{
    <script>
            $(document).ready(function () {
                $("div[id^='counter']").each(function (key, value) {
                    $(this).countdown({
                        image: '@Url.Content(string.Format("~/Content/{0}/images/digits39.png", SessionUtilities.AreaName()))',
                        format: "dd:hh:mm:ss",
                        startTime: $("#timer_" + this.getAttribute("id")).val(),
                        stepTime: 60,
                        digitImages: 6,
                        digitWidth: 27,
                        digitHeight: 39,
                        timerEnd: function () {
                            //alert('Candiate time ended.');
                        },
                    });
                });
               
            @if (Model.SiteInformation.Application.TemplateTypeID.GetValueOrDefault() == (int)Enums.ApplicationTemplateType.DRTV)
            {
               <text>
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("_getStaticPage", "staticpage")",
                    data: { ID: 16 },
                    success: function (data) {
                        $("#dvHome").html(data);

                        @if (ViewBag.CntContestFee > 0){
                            @:$("#dvHomePromoCode").show();
                                                 }
                    }
                })
                </text>
            }
            });

            function SubmitPromoCode(txtPromoCode) {
                var txt = $("#" + txtPromoCode);
                if (txt.val().trim() == "") {
                    alert("@DbLanguage.GetText("Text_RequirePromoCode")");
                    txt.focus();
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SubmitPromoCode","Home")",
                    data: {
                        promocode: txt.val().trim()
                    },
                    success: function (obj) {
                        if (obj.ReturnCode == "@((int)Enums.SubmissionPayFeeState.Success)") {
                            window.location.href = obj.RedirectURL;
                        }
                        else if (obj.ReturnCode == "@((int)Enums.SubmissionPayFeeState.InvalidPromoCode)") {
                            alert("@DbLanguage.GetText("Text_InvalidPromoCode")");
                        }
                    }
                })
            }
    </script>
}