@import "vars"
/* ----------- Main ----------- */
html
	min-height: 100%
	position: relative

body
	font-size: 16px
	height: 100%
	line-height: 1.5
	overflow-x: hidden
	opacity: 1
	background-color: $bg-body
	/* iOS iframe width fix */
	width: 1px 
	min-width: 100%

.page-wrapper
	max-width: $page-wrapper-max-width
	margin: auto
	box-shadow: 0 0 35px rgba(#000, .08)

@media screen and (max-width: 992px)
	.page-wrapper
		max-width: 100%

.container
	max-width: $container-max-width
	width: 100% !important

#dvBodyContainer
	padding: 0

a
	color: $color

a:hover, 
a:focus
	coloR: $color-accent

.dw-widget


.content-wrapper,
#divMainContainer
	overflow: visible

.img-responsive
	display: inline-block

.content-inner
	background-color: $bg-content-inner
	padding: 30px
	max-width: $container-max-width
	min-height: 200px
	margin-left: auto
	margin-right: auto
	position: relative
	z-index: 1

.page-contest-details,
.page-home-countdown,
.page-contest-winners
	.content-inner
		padding: 30px 15px

.container-fluid
	padding-left: 15px
	padding-right: 15px

.center-block
	display: block !important
	margin-right: auto
	margin-left: auto

.ford-holder
	margin: 0 0 10px 0
	[class*=col-]
		padding-left: 5px
		padding-right: 5px

.column-left img, 
.column-right img
	max-width: 100%

.column-left
	.dw-widget
		text-align: right
		img
			display: inline-block !important
.column-right
	.dw-widget
		text-align: left
		img
			display: inline-block !important

#page-container

.page-slogan,
.page-slogan a
	color: $color2
	font-size: 18px
	font-family: $font-heading
	font-weight: 700
	padding-bottom: 15px
	border-bottom: 1px solid #e7e8e9
	text-align: center
	margin-bottom: 30px
	line-height: 1.3

.page-slogan a
	text-decoration: underline

.page-slogan a:hover
	color: $color-accent

.page-title h1,
.heading
	color: $color-accent
	font-size: 24px
	font-family: $font-heading
	font-weight: 700
	border-left: 4px solid $color2
	padding-left: 15px
	padding-top: 0
	line-height: .8
	text-transform: uppercase

.color2
	color: $color2

.color-accent
	color: $color-accent

section
	padding-top: 30px
	padding-bottom: 30px
	position: relative
	img


section::after
	content: ''
	position: absolute
	border-bottom: 1px solid #d7d7d7
	top: 100%
	left: 15px
	right: 15px

@media screen and (min-width: 1024px)
	section
		width: 80%
		margin-left: auto
		margin-right: auto

.heading-parapgraph
	h1
		color: $color-accent
		font-size: 20px
		font-family: $font-heading
		font-weight: 700
		border-left: 4px solid $color2
		padding-left: 15px
		line-height: .8
		margin-bottom: 25px

	p
		color: $color
		font-size: 16px
		font-family: $font-body
		margin-bottom: 0



.short-description
	color: $color
	font-size: 16px
	font-family: $font-body



// .heading
// 	color: $color
// 	font-size: 26px
// 	font-family: $font-heading
// 	text-transform: uppercase
// 	display: inline-block
// 	border-top: 5px solid #b81c21
// 	position: relative
// 	padding-top: 12px

// #dvRegister > .row:first-of-type .col-sm-12:before,
// #dvRegisterLogin > .row:first-of-type .col-sm-12:before
// 	content: ''
// 	position: absolute
// 	width: calc(100% - 30px)
// 	height: 5px
// 	background-color: #e8e9ea

// .heading-container:before
// 	width: 100%

.heading-container
	position: relative
	margin-bottom: 15px
	padding-top: 3px
	padding-bottom: 3px

.btn-container-right
	text-align: right

	.btn
		display: inline-block

.btn
	border-radius: 0
	border: 0
	padding: 12px 25px
	line-height: 1
	transition: all 0.12s ease-in-out 0s
	font-family: $font-heading

.btn-primary,
.btn-success,
.btn-danger,
.btn-primary[disabled],
.btn-success[disabled],
.btn-danger[disabled],
.btn-primary[disabled]:active,
.btn-success[disabled]:active,
.btn-danger[disabled]:active
	background-color: $bg-btn-primary
	color: $color-btn-primary
	font-size: 26px
	font-family: $font-heading-900
	text-transform: uppercase
	transform-origin: 50% 50%

.btn-primary:hover
	background-color: $bg-btn-primary-hover
	color: $color-btn-primary-hover

.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary
	background-color: $bg-btn-primary
	box-shadow: none
	color: $color-btn-primary-hover
	transform: scale(.92, .92)
	border-color: #fff
	outline: 0

.btn-success
	background-color: $bg-btn-success
	color: $color-btn-success
	box-shadow: inset 0 0 40px 7px rgba(darken($bg-btn-success, 40%), .35)
	border-top-color: lighten($bg-btn-success, 20%)
	border-bottom-color: darken($bg-btn-success, 20%)
	text-shadow: 0 -2px darken($bg-btn-success, 20%)

.btn-success:hover
	background-color: $bg-btn-success-hover
	color: $color-btn-success-hover
	box-shadow: inset 0 0 40px 7px rgba(darken($bg-btn-success-hover, 40%), .35)
	text-shadow: 0 -2px darken($bg-btn-success-hover, 20%)
	border-top-color: lighten($bg-btn-success-hover, 20%)
	border-bottom-color: darken($bg-btn-success-hover, 20%)

.btn-danger
	background-color: $bg-btn-danger
	color: $color-btn-danger
	box-shadow: inset 0 0 40px 7px rgba(darken($bg-btn-danger, 40%), .35)
	border-top-color: lighten($bg-btn-danger, 20%)
	border-bottom-color: darken($bg-btn-danger, 20%)
	text-shadow: 0 -2px darken($bg-btn-danger, 20%)

.btn-danger:hover
	background-color: $bg-btn-danger-hover
	color: $color-btn-danger-hover
	box-shadow: inset 0 0 40px 7px rgba(darken($bg-btn-danger-hover, 40%), .35)
	text-shadow: 0 -2px darken($bg-btn-danger-hover, 20%)
	border-top-color: lighten($bg-btn-danger-hover, 20%)
	border-bottom-color: darken($bg-btn-danger-hover, 20%)

.btn-lg
	font-size: 40px
	font-weight: 700
	border-top-width: 5px
	border-bottom-width: 5px
	padding: 20px 55px

.btn-info,
.btn-info[disabled]
	min-width: 0
	background-color: $bg-btn-info
	border: 1px solid $border-color
	border-radius: 0
	color: $color-btn-info
	font-size: 20px
	font-weight: 700
	line-height: 24px
	// box-shadow: inset 0 -2px 0 #af7f2f

.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info.active
	background-color: $bg-btn-info-hover
	color: $color-btn-info-hover
	border-color: $color-accent
	//box-shadow: inset 0 -2px 0 darken(#af7f2f, 20)
	//outline: 1px solid #b72325

.btn-sm
	font-size: 26px
	padding: 8px 32px

.btn-info.btn-sm
	font-size: 14px
	font-weight: 400
	padding: 8px 10px
	min-width: 110px

.user-voted,
.user-voted:hover,
.user-voted:active,
.user-voted:focus
	background-color: #fff !important
	color: $color-accent !important
	border: 1px solid $border-color !important
	box-shadow: none !important
	text-shadow: none !important
	margin: 0

.user-voted
	i
		font-size: 30px
		display: none

button:focus,
input[type="button"]:focus
	outline: 0 !important

.field-validation-error, .password-verdict, .error-list
	color: #FF0000
	display: block
	font-size: 12px

.tooltip-inner
	background-color: $bg-tooltip
	color: $color-tooltip
	font-size: 16px
	font-family: $font-heading
	min-width: 100px
	border-bottom: 1px solid darken($bg-tooltip, 20)

.tooltip.in
	opacity: 1

.tooltip.left .tooltip-arrow
	border-left-color: darken($bg-tooltip, 20)

.tooltip.right .tooltip-arrow
	border-right-color: darken($bg-tooltip, 20)

.tooltip.top .tooltip-arrow
	border-top-color: darken($bg-tooltip, 20)

.tooltip.bottom .tooltip-arrow
	border-bottom-color: darken($bg-tooltip, 20)

#shareAction
	text-align: center

.close
	font-size: 30px
	font-family: $font-body
	opacity: 1
	color: $color

	span
		width: 15px
		height: 18px
		line-height: 18px
		display: block
		transform-origin: 7.5px 9px

.close:hover
	color: $color-accent
	opacity: 1

	span
		animation: rotate-clockwise-180 .2s ease-in-out

@media screen and (min-width: 1200px)
	.btn-primary
		min-width: 175px

@media screen and (min-width: 776px)
	.btn-container-right
		margin-right: -2px

@media screen and (max-width: 1280px)
	.btn-lg
		font-size: 35px
		padding: 20px 40px
	.btn-info.btn-sm
		font-size: 14px
		padding: 12px 16px


@media screen and (max-width: 1024px)
	.btn-lg
		padding: 10px 25px
		font-size: 28px

	.btn-info.btn-sm
		padding: 10px 10px

	.page-title
		h1
			font-size: 22px

	.btn
		padding: 8px 15px
		min-width: 0

	.btn-info, 
	.btn-info[disabled]
		line-height: 21px
		font-size: 18px

	.btn-primary,
	.btn-success,
	.btn-danger,
	.btn-primary[disabled],
	.btn-success[disabled],
	.btn-danger[disabled],
	.btn-primary[disabled]:active,
	.btn-success[disabled]:active,
	.btn-danger[disabled]:active
		font-size: 22px
		padding: 8px 15px

	.page-slogan
		font-size: 18px

@media screen and (max-width: 992px)
	.page-title
		h1
			font-size: 18px

	.address
		font-size: 14px

@media screen and (max-width: 767px)
	body
		background-attachment: scroll
		background-size: auto

	.page-slogan
		font-size: 14px
		padding-top: 15px
		padding-bottom: 15px
		padding-left: 15px
		padding-right: 15px
		margin-bottom: 15px

	.page-slogan a
		font-size: 14px

	.content-inner
		padding: 0 0 15px
	
	.btn
		min-width: 0

	.btn-info
		font-size: 12px
		padding: 10px 20px
		line-height: 1

	.btn-primary
		max-width: 250px
		margin-left: auto
		margin-right: auto

	.btn-lg
		margin-left: auto
		margin-right: auto

	.text-center-xs
		text-align: center

	.heading
		display: block
		font-size: 18px	

	.btn-primary, 
	.btn-success, 
	.btn-danger
		font-size: 18px

	.page-title 
		text-align: center

		h1
			font-size: 17px
			margin-bottom: 10px
			display: inline-block			

		img
			max-width: 30px



	.address
		font-size: 12px
		text-align: center

	.btn-container-right
		text-align: center

		.btn
			padding: 6px 12px

	.heading-container
		overflow: hidden

	.heading-parapgraph
		h1
			line-height: 1.5
			font-size: 16px
			margin-bottom: 15px

		p
			font-size: 12px

	.page-wrapper
		overflow: hidden

	section
		margin-left: -15px
		margin-right: -15px

	.field-validation-error, .password-verdict, .error-list
		font-size: 10px

	.winners-page .page-slogan
		margin-top: 30px

@media screen and (max-width: 414px)
	.page-title
		h1
			font-size: 14px
