@import "vars"

/* ----------- Submit ----------- */
.formSubmit-container
	/* border: 1px dashed #acacac */
	position: relative
	/* outline: 5px solid #e4e6e9 */
	padding: 30px

	ul, ol
		list-style: none

	.submit-contact
		display: none

	#Agreement-container
		line-height: 1.4
		vertical-align: top

		#chkbox-agreement
			margin-top: 0

		.edit-label
			font-size: 15px
			font-family: $font-body
			font-weight: 400
			vertical-align: top
			display: inline-block

	.field-validation-error
		margin-left: 0
			

.submit-options-container
	text-align: center

	> span
		display: inline-block

	.btn
		min-width: 140px

.help-text
    margin-top: 10px
    display: inline-block
    font-size: 12px
    font-family: $font-body

.upload-media-option
	float: left
	margin-right: 5px	

#dvLibrary 
	height: auto
	margin-bottom: 0


.formSubmit-container
	padding: 30px

	.title-color
		color: $color2


	.title-1
		font-size: 24px
		font-weight: 700
		margin-bottom: 25px


.filter-buttons-container
	margin-left: -5px
	margin-right: -5px

	.btn-filter
		font-family: $font-body
		font-size: 14px
		color: $color-accent
		padding: 5px 0
		display: block
		font-weight: 400
		border: 1px solid #acacac
		box-shadow: inset 0 2px 0 #fff
		background-color: #f6f6f6
		width: 100%

	.btn-filter.checked, 
	.btn-filter:hover 
		color: #fff
		border: 1px solid darken($color-accent, 10)
		box-shadow: inset 0 2px 0 rgba(#fff, .2)
		background-color: $color-accent

	[class*="col-xs"]
		padding-left: 5px
		padding-right: 5px
	

.aarp-title-detail, .aarp-title-match 
	font-weight: bold
	text-align: center


.aarp-title-detail 
	margin-top: 20px


.aarp-title-match 
	margin-top: -15px


	.aarp-title p 
		font-weight: bold
	

hr.aarp 
	width: 100%
	height: 5px
	background-color: #EE2D24	


.icon-div,
.icon-div-green,
.icon-div-blue

	border-radius: 50%
	background: #fff
	width: 65px
	height: 65px
	line-height: 65px
	text-align: center

.icon-div i,
.icon-div-green i,
.icon-div-blue i

	vertical-align: middle
	color: #fff
	font-size: 42px

.icon-div-green
	background: #59d059

.icon-div-green i
	color: #fff

.icon-div-blue
	background: #09b6ff

.icon-div-blue i
	color: #fff

.text-approved
	margin-top: 10px

.text-approved,
.text-enter
	float: right
	width: calc(100% - 75px)
	color: #515358
	font-size: 18px

#txtMessage 
	width: 100%	

.edit-label,
.upload-control-label
	color: #515358
	font-size: 16px
	font-weight: 600
	display: inline

.submit-help-text
	color: #9b9fa8
	font-size: 14px
	font-weight: 400

.editor-field
	margin-bottom: 10px

.form-row
	margin-top: 0

.text-or
	color: $color-accent
	font-size: 20px
	padding: 0 8px
	vertical-align: top
	margin: 12px
	font-family: $font-body
	text-align: center

.btnSubmit-container
	margin-top: 25px

#dvBrowser
	margin-top: 10px
	display: block

.submit-header
	margin-bottom: 20px

.thanks-container
	padding: 0

.required-container
	font-size: 14px
	margin-top: 10px

.asterisk-required
	color: #ee2e24

#Agreement-container
	text-align: center
	margin-top: 15px

.submit_contest_enter:first-child
	margin: 0

#dvPhoto
	img
		margin-right: 10px

@media screen and (max-width: 992px)
	.filter-buttons-container
		margin-bottom: 15px

	.formSubmit-container
		padding: 15px

@media screen and (max-width: 767px)
	.filter-buttons-container .btn-filter
		font-size: 12px
	
	.formSubmit-container
		padding: 10px

		#Agreement-container
			padding-left: 0
			padding-right: 0

			.edit-label
				font-size: 10px

	.formSubmit-container .title-1
		font-size: 14px

	.formSubmit-container .help-text
		font-size: 9px

	.edit-label,
	.upload-control-label
		font-size: 12px
	
	.text-or
		margin: 8px
		padding: 0
		font-size: 12px

	.required-container
		font-size: 11px

	.text-approved,
	.text-enter
		font-size: 12px
		margin-top: 0

	.thanks-container
		.col-sm-6
			margin-bottom: 15px

	.thanks-container
		.content-wrapper
			margin-top: 20px

	.btnSubmit-container
		margin-top: 15px

	.submit-options-container
		.btn
			min-width: 110px

	.page-contest-submit
		textarea.form-control
			height: 80px

	.upload-thumbnail-container
		margin-top: 10px

	.page-publishedcontest-contestantentrydetail
		.content-inner
			padding: 15px 15px

			.page-title h1
				font-size: 15px
	

@media screen and (max-width: 375px)
	/* .submit-options-container
		> span
			display: block */