@import "vars"

/* ----------- Contestant ----------- */
.contestant-name
	color: $color-accent
	font-size: 35px
	text-align: left
	font-weight: 700
	margin: 0 0 20px
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1

#btnVoteContestant,
.loginredirect
	display: block
	width: 100%

.prev-next-container
	margin-top: 25px
	text-align: center

	#btnPrevious,
	#btnSkipContestant,
	#btnPrev,
	#btnNext
		display: inline-block
		width: 49%

	i
		color: #ef513b

	#btnPrevious:hover,
	#btnSkipContestant:hover,
	#btnPrev:hover,
	#btnNext:hover
		i
			color: #fff

.entry-nominated-vote
	font-size: 14px
	color: #9b9fa8
	margin-top: 10px

.share-buttons
	margin-top: 10px
	
.essay-text
	font-size: 18px

.my-submissions-container
	width: 100%

.OverHeight
	max-height: 610px
	overflow-y: auto
	padding: 5px

.other-entries 
	> a:hover,
	> a:active,
	> a:focus
		text-decoration: none !important

.other-entries > a
	background-color: #fff
	box-shadow: 0 1px 5px rgba(#949494, .6)
	padding: 5px
	display: block
	margin-bottom: 15px
	max-width: 145px
	margin-left: auto
	margin-right: auto

	.box-img-center
		position: relative

	.box-img-center.essay:before
		content: '\f03e'
		color: #fff
		font-size: 15px
		font-family: FontAwesome
		position: absolute
		left: 5px
		top: 5px
		z-index: 1

	.box-img-center.video:before
		content: '\f03d'
		color: #fff
		font-size: 15px
		font-family: FontAwesome
		position: absolute
		left: 5px
		top: 5px
		z-index: 1

	.small-contestant-name
		color: $color-gallery
		text-decoration: none !important

.other-entries > a.active
	border: 2px solid #ef513b

@media screen and (max-width: 1280px)
	.prev-next-container 
		#btnPrevious,
		#btnSkipContestant,
		#btnPrev,
		#btnNext
			width: 48%

@media screen and (max-width: 1024px)
	.contestant-name
		font-size: 24px
		margin-bottom: 15px

@media screen and (max-width: 992px)
	.prev-next-container 
		#btnPrevious,
		#btnSkipContestant,
		#btnPrev,
		#btnNext
			width: 100%
			display: block
			margin-bottom: 5px

@media screen and (max-width: 767px)
	.essay-text
		font-size: 12px !important

	.contestant-name
		font-size: 18px
		margin-bottom: 10px

	#dvVoteSection
		margin-top: 15px

	.prev-next-container 
		#btnPrevious,
		#btnSkipContestant,
		#btnPrev,
		#btnNext
			width: 48%
			display: inline-block

	.OverHeight
		max-height: none

	.submissions-title
		font-size: 14px