@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Open+Sans:400,600,700,900|Roboto+Condensed:700');

@import "vars"

/* ----------- Fonts and typography ----------- */

.gritter-close:before, 
.sidebar-nav .accordion-toggle[data-toggle]:before, 
[class^="icon-"], 
[class*=" icon-"]
    display: inline-block
    font-family: FontAwesome
    font-style: normal
    font-weight: normal
    line-height: 1

body
	font-family: 'Open Sans', sans-serif;
	color: $color

h1
	color: $color-accent
	font-size: 35px
	text-align: left
	font-weight: 700
	margin: 0 0 20px
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1

p
	font-size: 18px

.uppercase
	text-transform: uppercase

.bold
	font-weight: 700 !important

.semi-bold
	font-weight: 600 !important


.navbar-default .navbar-nav > li > a
	font-family: 'Oswald', sans-serif
	text-transform: uppercase
	font-size: 18px



