@import "vars"

/* ----------- Viral DNA ----------- */
.pagination-container
	a
		background-color: #FFF
		padding: 5px
		border-radius: 2px
		border: 1px solid rgba(#000, .1)
		min-width: 40px
		display: inline-block
		text-align: center

	a:hover
		color: #ef3c2b
		border-color: #ef3c2b
		text-decoration: none

	a.active
		background-color: #284895
		border-color: darken(#284895, 10%)
		color: #fff