@import "vars"
/* ----------- Countdown ----------- */
.countdown-inner
	text-align: right

.countdown-container
	padding-top: 60px
	padding-bottom: 60px
	text-align: center

.countdown-header
	text-align: center
	font-size: 42px
	font-family: $font-heading
	display: inline-block
	color: $color2
	line-height: 1

.days
  display:  block
  color: $color-accent
  font-size:  14px
  text-transform: uppercase
  text-align:  center
  padding-bottom:  3px

.countdown-wrapper
	margin: 0 auto 
	text-align: center
	display: table
	border-radius: 0 
	padding: 1em
	background: #fff

#header_countdown_contest_counter
	display: inline-block

.cnt-separator 
	width: 10px 
	color: $color
	height:  47px 
	line-height:  47px 
	font-size:  17px 
	font-weight:  700
	text-align:  center

.cnt-digit-container
	float: left
	text-align:  center
	position: relative

.cnt-digit-container:nth-of-type(1):after
	content: 'days'

.cnt-digit-container:nth-of-type(3):after
	content: 'hours'

.cnt-digit-container:nth-of-type(5):after
	content: 'minutes'

.cnt-digit-container:nth-of-type(7):after
	content: 'seconds'

.cnt-digit-container:after
	width: 100%
	text-align: center
	position: absolute
	left: 0
	top: 47px
	font-size: 15px
	text-transform: uppercase
	

.cnt-digit
	background:  #fff
	border: 2px solid #fdb913
	color: $color
	margin:  0 1px
	border-radius: 4px
	font-size:  30px
	font-family: $font-body
	width:  36px
	height:  47px
	line-height:  47px
	font-weight:  700

.countdown-title
	font-size:  20px
	text-align:  center
	font-weight:  600

.campaign-ended-title
	font-size:  40px
	text-align:  center
	margin-top: 110px
	font-weight:  700
	margin-bottom:  10px	

.campaign-ended-title2
	font-size:  25px
	text-align:  center
	font-weight:  700

#countdown
	margin: 0 auto  
	display:  table
	padding: 15px
	border-radius: 5px

.ended-page
	padding: 5em 3em

.countdown-message-description
	font-size: 42px
	display: inline-block

@media (max-width: 1200px)
	.countdown-message-description
		max-width: 100%
		font-size: 21px

@media (max-width: 1024px)
	.ended-page h1
		font-size: 30px

	.countdown-message-description
		font-size: 18px

	.cnt-digit
		width: 18px
		height: 29px
		line-height: 29px
		font-size: 18px

	.cnt-separator
		height: 29px
		line-height: 29px
		font-size: 18px

	.cnt-digit-container:after
		top: 30px
		font-size: 9px

	.countdown-header
		font-size: 22px

	.countdown-container

@media screen and (min-width: 768px) and (max-width: 992px)
	.countdown-container


@media (max-width: 767px)
	#countdown
		padding: 5px
	.cnt-digit
		
	.cnt-separator
		height: 40px
		line-height: 40px
	.days
		font-size: 10px

	.ended-page h1
		font-size: 20px

	.countdown-message-description
		font-size: 14px

	.countdown-inner
		text-align: center

	.countdown-header
		margin-right: 0
		margin-bottom: 15px
		font-size: 22px
		display: block

	.countdown-container
		padding-top: 30px
		padding-bottom: 30px

