/* ----------- Dialog ----------- */

.ui-widget-content 
	background-color: rgba(42, 113, 185, .8) !important

@media screen and (min-width: 1200px)
	.ui-dialog
		top: 185px !important
		width: 1170px !important

.ui-dialog h1
	color: #fff
	font-size: 25px	
	font-weight: 400
	text-transform: none
	margin-bottom: 0

.ui-dialog p.prize-name
	font-size: 35px

.ui-dialog p
	color: #fff
	font-size: 18px	
	font-weight: 400

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	font-family: $font-body

.ui-dialog .ui-dialog-buttonpane
	padding-bottom: 35px