@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Squada+One')


@import "vars"

/* ----------- Fonts and typography ----------- */

.gritter-close:before, 
.sidebar-nav .accordion-toggle[data-toggle]:before, 
[class^="icon-"], 
[class*=" icon-"]
    display: inline-block
    font-family: FontAwesome
    font-style: normal
    font-weight: normal
    line-height: 1




body
	font-family: $font-heading
	color: $color

h1
	color: $color-accent
	font-size: 35px
	text-align: left
	margin: 0 0 20px
	line-height: 1

p
	font-size: 18px

.uppercase
	text-transform: uppercase

.bold
	font-weight: 700 !important

.semi-bold
	font-weight: 600 !important