@import "vars"

/* ----------- Landing ----------- */
#homeCarousel
	margin-left: -30px
	margin-right: -30px
	margin-top: -30px
	background-color: #a01c1c
	box-shadow: inset 0 10px 35px 3px rgba(0, 0, 0, .2)

.carousel-inner
	max-width: 1130px
	margin: auto
	box-shadow: 0 0 15px rgba(#000, .2)
	.item
		border-bottom: 0 solid #000

.page-contest-details,
.page-home-countdown
	

h1.landing-title
	text-align: center
	font-size: 75px
	color: $color2
	text-transform: uppercase
	margin-top: 40px
	margin-bottom: 40px
	position: relative
	.color-inverse
		color: $color-accent
	&:after
		content: ' '
		height: 1px
		background-color: $color-accent
		width: 56px
		position: absolute
		bottom: -10px
		left: 50%
		margin-left: -28px
	
.enter-btn-container
	text-align: center

.preorder
	font-size: 26px
	font-weight: 700
	text-transform: uppercase
	margin-top: 48px

.landing-content-container
	margin-bottom: 15px
	padding: 30px

	.short-description
		font-size: 16px
		margin-right: 60px
		margin-bottom: 30px

.prizes-container
	margin-left: -15px
	margin-right: -15px

.how-to-win
	[class^="col-"]
		padding: 0

.landing-boxes
	position: relative
	color: #fff
	text-align: center
	// box-shadow: 0 0 3px rgba(#000, .1)
	font-family: $font-body
	overflow: hidden
	// border-right: 1px solid #eaeaea
	// border-bottom: 1px solid #eaeaea
	// margin-right: -1px
	transition: all .3s ease-in-out


	.bg
		opacity: 0
		position: relative
		transition: all .2s ease-in-out
	
	// .bg
	// 	position: absolute

	> div
		padding-left: 0
		padding-right: 0
	
	.content
		position: absolute
		top: 50%
		left: 10%
		right: 10%
		margin-top: -67px
		transition: all .4s ease-in-out

	.content-hover
		visibility: hidden
		margin-top: 300px
		opacity: 0.1
		transition: opacity 0.5s ease-in-out 1.5s
		transition: margin-top 0.5s ease 0.5s

		.description
			margin-bottom: 20px

		.disclaimer
			color: $color-accent
			font-size: 14px
			margin-top: 15px

		.btn-primary
			border: 2px solid $color-accent
			background-color: $color-accent
			color: $color
			text-transform: uppercase
			&:hover
				background-color: rgba($color-accent, .2)
				color: #fff


	h1
		text-align: center
		color: $color2
		font-family: $font-heading
		transition: all .2s ease-in-out

	// .content,
	// h1
		// position: absolute
		// left: 0
		// right: 0
		// top: 50%
		// transition: all .2s ease-in-out

	// h1
	// 	top: 60%
	// 	margin-top: 50px
	// 	text-align: center
	// 	color: $color
	// 	font-family: $font-heading

	&:hover
		transform: translateY(-15px)
		box-shadow: 0 30px 65px rgba(0,0,0,0.15)
		z-index: 5
		.bg
			opacity: 1
		.content
			top: 10%
			margin-top: 0

		.content-hover
			visibility: visible
			margin-top: 0
			opacity: 1
			// transition: all 0 ease-in-out 0

		h1
			// top: 20%
			color: #fff
			span
				display: none
		
.landing-boxes:nth-of-type(1)
	z-index: 1
.landing-boxes:nth-of-type(2)
	z-index: 2
.landing-boxes:nth-of-type(3)
	z-index: 3
.landing-boxes:nth-of-type(4)
	z-index: 4

#landing-enter-btn

.row.equal
	.col-sm-6
		width: 49.9%
		
	.col-sm-6:nth-of-type(1),
	.col-sm-6:nth-of-type(3)
		.landing-boxes
			&:after
				content: ' '
				background-color: #eaeaea
				width: 1px
				height: 100%
				position: absolute
				right: 0
				top: 0
				bottom: 0
				z-index: 1
			&:before
				content: ' '
				background-color: #eaeaea
				width: 100%
				height: 1px
				position: absolute
				right: 0
				bottom: 0
				left: 0
				z-index: 1

	.col-sm-6:nth-of-type(2)
		.landing-boxes
			&:before
				content: ' '
				background-color: #eaeaea
				width: 100%
				height: 1px
				position: absolute
				right: 0
				bottom: 0
				left: 0
				z-index: 1




.bermuda
	background-image: url(images/landing/bermuda.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: 50%
	padding: 50px 30px
	text-align: center

	.phone
		display: inline-block
		position: relative
	
		.video-details
			position: absolute
			width: 100%
			padding-left: 8%
			padding-right: 8%
			margin-top: 15%

			i
				color: #fff
				border: 2px solid rgba(#fff, .8)
				border-radius: 50%
				width: 90px
				height: 90px
				line-height: 90px
				font-size: 33px
				margin-top: 35%
				margin-bottom: 28%
				cursor: pointer
				transition: all .2s ease-in-out

				&:hover
					border-color: $color-accent
					font-size: 43px

			i.icon-close
				margin-top: 0
				margin-bottom: 0
				position: absolute
				bottom: -17%
				margin-left: -45px

			p
				text-align: center
				font-size: 18px
				color: #fff
				font-family: $font-body
				margin-bottom: 15px

			.color-inverse
				color: $color-accent

.grand-prize
	> div
		position: relative
		.description
			position: absolute
			top: 0
			color: #fff
			text-align: center
			font-family: $font-body
			width: 100%
			padding-left: 10%
			padding-right: 10%
			font-size: 22px

			h2
				font-family: $font-heading
				font-size: 42px
				margin-top: 50px

.preorder-container
	img
		margin-top: 10px
		margin-bottom: 20px
		border: 1px solid $color

@media screen and (max-width: 1024px)
	.landing-boxes .landing-boxes-flex a
		padding: 25px 5px

	.landing-boxes .text
		font-size: 16px
		width: calc(100% - 65px)
	
	.landing-boxes .icon-div, 
	.landing-boxes .icon-div-green, 
	.landing-boxes .icon-div-blue
		width: 40px
		height: 40px
		line-height: 40px

	.landing-boxes .icon-div i, 
	.landing-boxes .icon-div-green i, 
	.landing-boxes .icon-div-blue i
		font-size: 26px
	

@media screen and (max-width: 992px)
	.preorder
		font-size: 18px
		margin-top: 40px
	.row.equal
		.col-sm-6
			// max-width: 360px
			margin-left: auto
			margin-right: auto
			width: 49.9%
			float: left
		img.bg
			max-width: 360px


@media screen and (max-width: 1600px)
	.landing-boxes 
		h1
			// color: red
			font-size: 30px
			margin-bottom: 10px
		.content
			left: 0
			width: 100%
			padding-left: 5%
			padding-right: 5%
			img
				max-width: 75px

		.content-hover
			.description
				font-size: 14px
				margin-bottom: 10px
			.disclaimer
				font-size: 11px

	.landing-boxes
		&:hover
			.content
				top: 5%

@media screen and (max-width: 1400px)
	.landing-boxes 
		h1
			// color: blue
			font-size: 25px
			margin-bottom: 10px
		.content
			left: 0
			width: 100%
			img
				max-width: 75px

		.content-hover
			.description
				font-size: 12px
				margin-bottom: 10px
			.disclaimer
				font-size: 10px
			.btn-primary
				font-size: 22px
				padding: 5px 26px

	.landing-boxes
		&:hover
			.content
				top: 5%

@media screen and (max-width: 1024px)
	.landing-boxes 
		h1
			// color: green
			font-size: 22px
			margin-bottom: 10px
		.content
			left: 0
			width: 100%
			img
				max-width: 60px

		.content-hover
			.description
				font-size: 12px
				margin-bottom: 10px
			.disclaimer
				font-size: 10px
			.btn-primary
				font-size: 22px
				padding: 5px 26px

	.landing-boxes
		&:hover
			.content
				top: 5%

@media screen and (max-width: 992px)
	.landing-boxes 
		h1
			// color: cyan
			font-size: 18px
			margin-bottom: 8px
		.content
			left: 0
			width: 100%
			img
				max-width: 50px

		.content-hover
			.description
				font-size: 10px
				margin-bottom: 10px
			.disclaimer
				font-size: 9px
			.btn-primary
				font-size: 22px
				padding: 5px 26px

	.landing-boxes
		&:hover
			.content
				top: 5%

	.how-to-win
		.col-sm-4
			text-align: center
			img
				display: inline-block










@media screen and (max-width: 820px)
	// .landing-boxes
	// 	// background-color: red

	.row.equal
		img.bg
			max-width: 273px

	.grand-prize 
		> div
			.description
				padding-left: 5%
				padding-right: 5%



@media screen and (max-width: 768px)
	.landing-boxes .text
		font-size: 13px


@media screen and (max-width: 767px)
	.page-contest-details,
	.page-home-countdown
		.page-slogan
			margin-top: 10px
			padding-bottom: 10px

			h1
				font-size: 21px
				margin-top: 10px
				margin-bottom: 10px

	.landing-content-container
		padding: 15px 0

		.short-description
			font-size: 14px
			margin-bottom: 10px

	.video-title
		font-size: 18px
		text-align: left

	.landing-boxes
		max-width: 534px
		margin-left: auto
		margin-right: auto

		h1
			font-size: 25px
		.content
			left: 0
			img
				max-width: 50px

		.content-hover
			.description
				font-size: 14px
			.disclaimer
				font-size: 11px

	.short-description
		font-size: 12px

	.enter-btn-container
		margin: 12px 0

		.btn-primary, 
		.btn-success, 
		.btn-danger
			font-size: 18px
			padding: 10px 22px

	.page-slogan
		.logo
			margin-bottom: 10px
			text-align: center

			img
				display: inline-block


	.preorder
		margin-top: 0

	.preorder-container
		margin-bottom: 30px
		border-bottom: 1px solid $border-color
		padding-bottom: 30px

		.btn-primary, 
		.btn-success, 
		.btn-danger
			font-size: 18px
			padding: 10px 22px

	#homeCarousel
		margin-left: -30px
		margin-right: -30px

	.grand-prize
		> div
			min-height: 200px
			> img
				object-fit: cover
				display: block
				width: auto
				height: 270px
			.description
				h2
					font-size: 28px
					margin-top: 20px
	
	h1.landing-title
		font-size: 35px

	.bermuda
		.phone
			.video-details
				p
					font-size: 12px

	.row.equal
		.col-sm-6
			width: 100%
			float: none
			img.bg
				max-width: 534px
				margin-left: auto
				margin-right: auto

	.bermuda
		.phone
			.video-details
				i
					width: 50px
					height: 50px	
					line-height: 50px
					font-size: 20px
					&.icon-close
						margin-left: -25px

@media screen and (max-width: 480px)
	.grand-prize
		> div
			.description
				h2
					font-size: 20px
				p
					font-size: 14px