@import "vars"

/* ----------- Moderation ----------- */
#dvModerator
	margin-top: 35px
	text-align: center

#btnApprove,
#btnReject,
#btnFlag
	margin-bottom: 5px

#btnFlag
	width: 50%
	margin-left: auto
	margin-right: auto
	color: #eb2d23
	
	i
		color: #eb2d23

#btnFlag:hover
	color: #fff

	i
		color: #fff

@media screen and (max-width: 1200px)
	#btnApprove,
	#btnReject
		font-size: 30px

@media screen and (max-width: 992px)
	#btnApprove,
	#btnReject
		font-size: 22px