@import "vars"

/* ----------- Modal ----------- */

.modal-title
	font-weight: 400
	font-size: 22px

.modal-body
	min-height: 150px
	font-size: 16px
	font-family: $font-body

	.btn
		min-width: initial

	p
		font-size: 16px

	p.small
		font-size: 14px
		font-weight: 400
		font-family: $font-body

	table
		text-align: left

#dialogUploadMedia
	font-size: 14px


#dvVoteSuccessPopup,
#dgdlgContainer
	text-align: center	

#textSystemMessage
	background-color: #fff
	text-align: center
	line-height: 1.1


@media screen and (max-width: 1024px)
	.modal-body
		font-size: 18px

		.well
			padding: 15px

		.form-group
			margin-bottom: 10px

		label
			font-size: 18px

		textarea.form-control
			height: 100px

@media screen and (max-width: 767px)
	.modal-body 
		font-size: 12px

		.well
			padding: 10px

		label
			font-size: 14px

		textarea.form-control
			height: 80px

@media screen and (max-width: 360px)
	.modal-body 
		label
			font-size: 12px