/* ----------- Spinzone ----------- */

$spinner-width: 613px
$spinner-height: 383px
$spinzone-height: $spinner-height + 117
$spinner-border-width: 10px
$spinner-border-color: #2a71b9

$strip-width: 187px

.spinzone-container
	margin: 0 auto

.spinzone 
	overflow-x: hidden
	overflow-y: hidden
	position: relative
	width: $spinner-width
	/* height: $spinzone-height */
	margin: auto
	transform-origin: 0 0

#spinner 
    margin: 0
    width: $spinner-width
    height: $spinner-height + $spinner-border-width*2
    border: $spinner-border-width solid $spinner-border-color
    background-color: #000

.spinstrip 
    width: $strip-width + 30px
    height: $spinner-height
    overflow: visible
    margin-left: -10px
    margin-right: -10px

.container-l
	float: left
	position: relative
	overflow: hidden
	margin-right: 1px

.container-l img
	position: absolute
	left: 0
	top: 0

.container-c
	float: left
	position: relative
	overflow: hidden
	margin-right: 1px

.container-c img
	position: absolute
	left: 0 
	top: 0

.container-r
	float: left
	position: relative
	overflow: hidden

.container-r img
	position: absolute
	left: 0
	top: 0

	
.l 
    float: left

.r 
    float: right

.c 
	float: right

.spin-btn-container
    transform-origin: 50% 0
    text-align: center

    button    	
    	margin-top: 20px
    	margin-bottom: 20px

.btnSpin
	
