@import "vars"

/* ----------- Margins ----------- */
.margin-top-md
	margin-top: 30px
.margin-bottom-md
	margin-bottom: 30px

.margin-bottom-lg
	margin-bottom: 50px

.margin-bottom-md
	margin-bottom: 30px


@media screen and (max-width: 767px)
	.margin-top-md
		margin-top: 10px

	.margin-bottom-lg
		margin-bottom: 35px

	.margin-bottom-md
		margin-bottom: 20px