﻿@using Masnet3.Common.Helper;
@using Masnet3.Common.Utilities;
@using Masnet3.Common;
@using MASNET.DataAccess.Constants.Enums;
@using Masnet3.Business.Repository.Layout;
@inject IPageRepository pageRepository;
@model Masnet3.Model.ViewModel.LayoutViewModel

<!DOCTYPE html>
<html>
<head dir="@DbLanguage.CurrentDir">
    <meta charset="utf-8" />
    <title>
        @Model.SiteInformation.SiteTitle.RemoveHtmlTag()
    </title>
    <meta name="robots" content="nofollow" />
    <meta name="robots" content="noindex" />
    <meta name="robots" content="noarchive" />
    <meta name="googlebot" content="nosnippet" />
    <meta name="robots" content="noodp" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="@(Url.Content(string.Format("~/Content/themes/{0}/images/favicon.ico", Model.SiteInformation.Theme.ThemeFolder)))" rel="shortcut icon" />
    @if (Model.IsAARP2017Context && !string.IsNullOrEmpty(Model.appConfiguration.AARP_TrackingURL))
    {
        <!-- AARP Tracking Header - Begin -->
        Html.RenderPartial("~/Views/Navigation/Header/_AarpHeroes_Header_Tracking.cshtml");
        <!-- AARP Tracking Header - End-->
    }
    <script type="text/javascript">
        var arrOnReady = [];
    </script>

    @RenderSection("head", required: false)

    <link href="~/Content/bootstrap/bootstrap-full/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/font-awesome-custom/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/themes/Default/fullsizable.css" rel="stylesheet" />
    <link href="~/Content/themes/override.css" rel="stylesheet" />
    <link href="~/Content/themes/global.css" rel="stylesheet" />

    @{
        string[] arrCss = Model.SiteInformation.Theme.Css.Split(new string[] { ",", ";" }, StringSplitOptions.RemoveEmptyEntries);
    }

    @foreach (var css in arrCss)
    {
        bool isAdminCSS = css.Contains("admin");
        bool isLoadCSS = !isAdminCSS || (isAdminCSS && SessionUtilities.IsUserHasAdminPermission());
        if (isLoadCSS)
        {
            <link href="@css.Trim().Replace("~", string.Empty)" rel="stylesheet"/>
        }
    }

    @if (!string.IsNullOrWhiteSpace(Model.SiteInformation.Theme.FilePath))
    {
        <link href="@Model.SiteInformation.Theme.FilePath.Replace("~", string.Empty)" rel="stylesheet"/>
    }

</head>
<body class="@(Model.SiteInformation.IFrameMode ? "" : "") page-@(Model.Controller)-@(Model.Action) @(Model.IsAdminPage ? "page-admin" : "")">
    @RenderSection("topBody", false)
    <div id="bodywrapper">
        @if (Model.IsValid && !Model.SiteInformation.IsPreview() && Model.IsLogin)
        {
            @Html.Partial("_AdminTopMenu")
        }
        <div id="dvLanguageKeys">
            @if ((string)ViewContext.HttpContext.Session.Get<string>("showlanguages") == "1")
            {
                <div class="form-group"></div>
                <div class="text-center">
                    <input class="btn btn-danger btn-lg" type="button" onclick=" showLanguageKey(); " value="Hide Languages" />
                </div>
                <div class="form-group"></div>
            }
            else
            {
                if (ViewContext.HttpContext.Items["showlanguages"] != null)
                {
                    if (ViewContext.HttpContext.Items["showlanguages"].ToString() == "1")
                    {
                        <div class="form-group"></div>
                        <div class="text-center">
                            <input class="btn btn-danger btn-lg" type="button" onclick=" showLanguageKey(1); " value="Show Languages" />
                        </div>
                        <div class="form-group"></div>
                    }
                }
            }
        </div>
        <div id="pagewrapper" class="page-wrapper" dir="@DbLanguage.CurrentDir">
            @if (Model.SiteInformation.ContextName.ToLower() == "bank")
            {
                Html.RenderPartial("~/Views/Navigation/Header/_FHB_Header.cshtml", Model);
            }
            else if (Model.SiteInformation.ContextName.ToLower() == "aarp")
            {
                Html.RenderPartial("~/Views/Navigation/Header/_Aarp_Header.cshtml", Model);
            }
            else if (Commons.IsAARPDreamPhase2(Model.SiteInformation))
            {
                Html.RenderPartial("~/Views/Navigation/Header/_AarpDreamPhase2_Header.cshtml", Model);
            }
            else if (Model.SiteInformation.ContextName.ToLower() == "aarpdream")
            {
                Html.RenderPartial("~/Views/Navigation/Header/_AarpDream_Header.cshtml", Model);
            }
            else
            {
                <header>
                    <div id="dvHeader">
                        @{
                            if (Model.SiteInformation.Campaign.ContestDomain != null && Model.SiteInformation.Campaign.ContestDomain.ToLower() == "knoxchase")
                            {
                                Html.RenderPartial("~/Views/Navigation/Header/_KnoxChase_Header.cshtml", Model);
                            }
                            else
                            {
                                if (!string.IsNullOrWhiteSpace(Model.SiteInformation.HeaderView))
                                {
                                    if (Model.SiteInformation.HeaderView.ToLower().IndexOf("theme1") > 0 || Model.SiteInformation.HeaderView.ToLower().IndexOf("gosling") > 0 || Model.SiteInformation.HeaderView.ToLower().IndexOf("knox") > 0)
                                    {
                                        Html.RenderPartial(Model.SiteInformation.HeaderView);
                                    }
                                    else
                                    {
                                        <div class="@(Model.IsHeaderContainer ? "container" + (Model.IsFullWidth ? "-fluid" : "") : "")">
                                            @{Html.RenderPartial(Model.SiteInformation.HeaderView, Model);}
                                        </div>
                                    }
                                }
                                else if (Model.SiteInformation.SiteType == Enums.SiteType.Main)
                                {
                                    <div class="container@(Model.IsFullWidth ? "-fluid" : "")">
                                        @{Html.RenderPartial("~/Views/Navigation/Header/_ContestFactory_Header.cshtml");}
                                    </div>
                                }
                                else if (Model.SiteInformation.SiteType == Enums.SiteType.Campaign)
                                {
                                    Html.Partial(string.Format("~/Views/Navigation/Header/_Theme1_Header{0}.cshtml", Model.UsingHeaderMenuLinks ? "_MenuLinks" : ""), ViewData);
                                }
                                else if (Model.SiteInformation.Application.TemplateTypeID == (int)Enums.ApplicationTemplateType.DRTV)
                                {
                                    <div class="container@(Model.IsFullWidth ? "-fluid" : "")">
                                        @{Html.RenderPartial("~/Views/Navigation/_FreeIran_Navigation.cshtml", Model);}
                                    </div>
                                }
                                else
                                {
                                    <div class="container@(Model.IsFullWidth ? "-fluid" : "")">
                                        @{Html.RenderPartial(string.Format("~/Views/Navigation/_MainMenuNavigation{0}.cshtml", Model.UsingHeaderMenuLinks ? "_MenuLinks" : ""), ViewData);}
                                    </div>
                                }
                            }

                        }
                    </div>
                </header>
            }
            <div class="clearer"></div>

            <div id="dvBodyContainer" class="content @(Model.TriviaContest || Model.MasterContainer ? "container" : "")">
                <div>
                    <style>
                        .ui-widget-overlay {
                            z-index: 50000;
                            opacity: 0.9;
                        }

                        .ui-datepicker {
                            z-index: 100000 !important;
                        }
                    </style>

                    <div class="content-wrapper @(Model.TriviaContest ? "row" : "")">
                        @*<div class="col-sm-12 col-md-12" style="height: 100%;">*@
                        @if (!Model.SiteInformation.IsPreview())
                        {
                            //showLeftMenuCondition =
                            //    !(SessionUtilities.HasOnlyPermission(Permissions.Admin_Campaigns_Reports, Permissions.Admin_Campaign_ReportViralDNA)
                            //      || SessionUtilities.HasOnlyPermission(Permissions.Moderation_PendingSubmissions, Permissions.Admin_Campaign_Moderate
                            //      ) || ((SessionUtilities.IsJudge() && SessionUtilities.HasOnlyPermission(Permissions.Admin_Campaign_Moderate)))
                            //    );

                            if (Model.ShowLeftMenuCondition && Model.IsLogin)
                            {
                                <div id="dvLeftMenu" class="admin-left-menu">
                                    @{Html.RenderPartial("_LayoutLeftMenu", Model.DisplayLeftMenu);}
                                </div>
                            }
                        }

                        <div @*class="@(displayLeftMenu ? " pull-left" : "" )"*@ style="height:100%; padding: inherit 0; @(Model.SiteInformation.IsPreview() ? "width:100%;" : ""); @(Model.IsAdminSite ? "" : "margin-left: 0;")" id="divMainContainer">
                            <div id="dashboard_page" class="main_container @(Model.DisplayLeftMenu ? "open-left" : "marg-left-override")@(Model.IsLoggedIn ? "-login" : "")" style="">
                                @if (Model.HasBreadcrumb)
                                {
                                    string searchBlock = (ViewBag.SearchBlock ?? "").Trim();

                                    <div class="container container-breadcrumb">
                                        <div class="pull-left hidden-xs" style="">
                                            @Html.Partial("_Breadcrumb")
                                        </div>
                                        @if (!string.IsNullOrWhiteSpace(searchBlock))
                                        {
                                            if (searchBlock != "1")
                                            {
                                                searchBlock = string.Format("onclick='{0}; return false'", searchBlock);
                                            }
                                            else
                                            {
                                                searchBlock = "";
                                            }
                                            <div class="pull-right" style="" id="search-container">
                                                <form class="form-inline">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Search" id="txtSearchBlock">
                                                        <div class="input-group-addon">
                                                            <a href="#" id="btnSearchBlock" @Html.Raw(searchBlock)><i class="icon icon-search"></i></a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        }
                                        <div class="clearer"></div>
                                    </div>
                                }
                                else
                                {
                                    var titlePage = ViewBag.Title ?? "";

                                    if ((!string.IsNullOrWhiteSpace(titlePage.ToString()) && Commons.Config["ShowBreadcrumb"] == "1") ||
                                        SessionUtilities.IsUserHasAdminPermission())
                                    {
                                        if (!Model.IsGreaterGoodContext)
                                        {
                                            <div class="container no-padding">
                                                <div class="row">
                                                    @*<div class="col-sm-8 no-padding-left">*@
                                                    <div class="col-sm-12 no-padding-left text-center">
                                                        @if (Model.IsSyngentaContext)
                                                        {
                                                            <h1 class="heading no-bottom-border no-padding-left" @(ViewBag.ContentEdittable ?? "")>
                                                                @Html.Raw(ViewBag.Title)
                                                            </h1>
                                                        }
                                                        else
                                                        {
                                                            <h2 class="heading no-bottom-border no-padding-left" @(ViewBag.ContentEdittable ?? "")>
                                                                @Html.Raw(ViewBag.Title)
                                                            </h2>
                                                        }
                                                    </div>
                                                    <div class="col-sm-4 no-padding-right" id="previewButonContainer" style="display: none">
                                                        @if (Model.ShowPreviewButton)
                                                        {
                                                            <div class="btn-preview-wrapper text-right" @Commons.ShowHide(Model.CustomizeButtonConfig.ShowHide)>
                                                                <a class="btn btn-large btn-success show-hide
                                                                   @(Model.CustomizeButtonConfig.ShowHide == (int)Enums.DisplayItemOption.View ? "not-active" : "")"
                                                                   id="btnPreviewTheme"
                                                                   @*onclick="ShowPreview('@HttpContext.Current.Items[" EditThemeID"]')"*@
                                                                   onclick="ShowPreview('@Model.EditThemeId')"
                                                                   dataid="@Model.CustomizeButtonConfig.ConfigID"
                                                                   datavalue="@Model.CustomizeButtonConfig.ShowHide"
                                                                   idfield="ConfigID"
                                                                   fieldname="ShowHide"
                                                                   showhidetype="@((int)Enums.ShowHideType.Config)"
                                                                   editSiteId="@Model.ApplicationID"
                                                                   editCampaignId="@Model.ContestID">
                                                                    Preview & Customize <i class="icon icon-eye"></i>
                                                                </a>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="row-fluid" style="display: none;">
                                        </div>
                                    }
                                }
                                <div class="clearer"></div>
                                <div id="wizard" class="widget widget-padding">
                                    <div class="widget-header" style="min-height: 0px;">
                                        @RenderSection("WidgetHeader", required: false)
                                    </div>
                                    <div class="widget-body">
                                        @{
                                            bool HasRightBanner = Model.PageBannerDelivery.R1 != null || Model.PageBannerDelivery.R2 != null || Model.PageBannerDelivery.R3 != null || Model.PageBannerDelivery.R4 != null;
                                            HasRightBanner = HasRightBanner && ((ViewBag.RightBanner != null && ViewBag.RightBanner == 0) || ViewBag.RightBanner == null);
                                        }

                                        <div class=" @(Model.ShowLeftMenuCondition ? "container-admin" : "") @(Model.Action == "countdown" ? "countdown-page" : "") @(Model.Action == "details" && Model.Controller == "contest" ? "landing-page" : "") ">
                                            <div class=" @(ViewBag.BodyInnerContainer == "0" ? "" : "content-inner") @(HasRightBanner ? " row" : "") ">
                                                <div class=" @( HasRightBanner ? "col-md-8" : "") ">
                                                    @RenderBody()
                                                </div>
                                                @if (HasRightBanner)
                                                {
                                                    <div class="col-md-4 hidden-xs" style="">
                                                        <div style="width: 302px; float: right">
                                                            @{if (Model.PageBannerDelivery.R1 != null) { Html.RenderPartial("_Banner", Model.PageBannerDelivery.R1); }}
                                                            @{if (Model.PageBannerDelivery.R2 != null) { Html.RenderPartial("_Banner", Model.PageBannerDelivery.R2); }}
                                                            @{if (Model.PageBannerDelivery.R3 != null) { Html.RenderPartial("_Banner", Model.PageBannerDelivery.R3); }}
                                                            @{if (Model.PageBannerDelivery.R4 != null) { Html.RenderPartial("_Banner", Model.PageBannerDelivery.R4); }}
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        @RenderSection("Share_Footer", required: false)
                                    </div>
                                    <div class="widget-footer"
                                         style=@(SessionUtilities.IsUserHasAdminPermission() ? "display:" : "display:none")>
                                        @RenderSection("WidgetFooter", required: false)
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>

                            <div id="dvFooterBanner" class="@*hidden-xs hidden-sm hidden-md visible-lg-block*@" style="display: inline-block; margin: auto; width: 100%;">
                                <div style="margin: auto; width: 100%;">
                                    @if (Model.PageBannerDelivery.B1 != null || Model.PageBannerDelivery.B2 != null)
                                    {
                                        if (Model.PageBannerDelivery.B1 != null && Model.PageBannerDelivery.B2 == null && Model.PageBannerDelivery.B1.Width.GetValueOrDefault() == GlobalVariables.BannerPositions["BottomFull"][0])
                                        {
                                            <div style="width: 1012px; height: 92px; max-width: 100%;" class="banner-bottom-full">
                                                @{Html.RenderPartial("_Banner", Model.PageBannerDelivery.B1);}
                                            </div>
                                        }
                                        else
                                        {
                                            if (Model.PageBannerDelivery.B1 != null)
                                            {
                                                <div style="width:100%; float: left" class="">
                                                    @{Html.RenderPartial("_Banner", Model.PageBannerDelivery.B1);}
                                                </div>
                                            }
                                            else
                                            {
                                                <div style="width: 502px; max-width: 50%; height: 92px; float: left;" class="banner-bottom-half-left">&nbsp;</div>
                                            }

                                            if (Model.PageBannerDelivery.B2 != null)
                                            {
                                                <div style="width: 502px; max-width: 50%; height: 92px; float: left; margin-left: 10px" class="banner-bottom-half-right">
                                                    @{Html.RenderPartial("_Banner", Model.PageBannerDelivery.B2);}
                                                </div>
                                            }
                                            else
                                            {
                                                <div style="width: 502px; max-width: 50%; height: 92px; float: left; margin-left: 10px" class="banner-bottom-half-right">&nbsp;</div>
                                            }
                                        }
                                    }
                                </div>
                                <div class="clearer"></div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                        @*</div>*@
                        <div class="clearer"></div>
                    </div>
                    <div class="clearer"></div>


                    @if (Model.IsSuperAdmin && SessionUtilities.ProductMode.HasValue == false && Model.SiteInformation.SiteType == Enums.SiteType.Main)
                    {
                        <div id="dvProductMode">
                            <p>@DbLanguage.GetText("gProductModeDescription")</p>
                            <div style="width: 57%; margin: auto; white-space: nowrap;">
                                @foreach (var item in Enum.GetValues(typeof(Enums.ProductMode)))
                                {
                                    <input id="btnProductMode_@(item)" type="button" value="@DbLanguage.GetText(string.Format("g{0}", item))" style="margin-top: 7px; width: 100px; float: @((Enums.ProductMode)item == Enums.ProductMode.SelfServe ? "left" : "right")" />
                                }
                            </div>
                        </div>
                    }

                    @if (Model.IsDebug)
                    {
                        <input type="hidden" id="isDebug" name="isDebug" value="1" />
                        <div style="display: table-cell">
                            <table class="table-gridview" style="margin-bottom: 20px; background-color: white">
                                <tr>
                                    <td>
                                        UserId
                                    </td>
                                    <td>
                                        @Model.loggedUser.UserID
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Username
                                    </td>
                                    <td>
                                        @Model.loggedUser.Username
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Token
                                    </td>
                                    <td>
                                        @Model.loggedUser.Token
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        IntergratedToken
                                    </td>
                                    <td>
                                        @Model.loggedUser.IntergratedToken
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SiteInformation
                                    </td>
                                    <td>
                                        @Commons.Object_GetSize(Model.SiteInformation);
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Application
                                    </td>
                                    <td>
                                        @Commons.Object_GetSize(Model.SiteInformation.Application);
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Campaign
                                    </td>
                                    <td>
                                        @Commons.Object_GetSize(Model.SiteInformation.Campaign);
                                    </td>
                                </tr>
                            </table>
                            @Commons.Object_PropertiesSize(Model.SiteInformation.Application)
                            @Commons.Object_PropertiesSize(Model.SiteInformation.Campaign)
                            @{
                                @Commons.Object_PropertiesSize(Model.SiteInformation);

                                long totalSessionBytes = 0;
                                System.Runtime.Serialization.Formatters.Binary.BinaryFormatter b =
                                    new System.Runtime.Serialization.Formatters.Binary.BinaryFormatter();
                                System.IO.MemoryStream m;

                                List<string> keys = CacheUilities.cacheManager.GetAllKey();
                                keys.Sort();

                                <table class="table-gridview" style="margin-bottom: 20px;">
                                    <tr>
                                        <th>
                                            Caching Key
                                        </th>
                                        <th style="text-align: right">
                                            Size(kb)
                                        </th>
                                    </tr>

                                    @foreach (var item in keys)
                                    {
                                        <tr>
                                            <td>
                                                @item
                                            </td>
                                            <td style="text-align: right">
                                                @{
                                                    var obj = CacheUilities.cacheManager.Get<object>(item);
                                                    m = new System.IO.MemoryStream();
                                                    try
                                                    {
                                                        b.Serialize(m, obj);
                                                    }
                                                    catch (Exception ex)
                                                    {
                                                        Html.Raw("Exception: ");
                                                    }

                                                    totalSessionBytes += m.Length;
                                                }

                                                @(Math.Round((double)m.Length / 1024, 3))
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <th>
                                            Total
                                        </th>
                                        <th style="text-align: right">
                                            @(Math.Round((double)totalSessionBytes / 1024, 3))
                                        </th>
                                    </tr>
                                </table>
                            }
                        </div>
                    }
                </div>
            </div>
            @if (Commons.IsShowContestRule(Model.SiteInformation))
            {
                <div style="display: none">
                    <a href="javascript: void(0);" id="lnkContestRule" onclick="contestRulesClick();return false;">@DbLanguage.GetText("gFooter_ContestRules")</a>
                    <div id="dvRuleText" style="display: none;" class="rules-container"></div>
                </div>
            }

            @if (!(Model.SiteInformation.ContextName.ToLower().Contains("emc") && Model.Action.ToLower().Contains("countdown")))
            {
                <div class="container-fluid footer-wrapper">
                    <footer>
                        <div class="@(Commons.Config["ShowBreadcrumb"] == "0" ? "" : "container" + (Model.IsFullWidth ? "-fluid" : ""))" id="dvFooter">
                            @if (Model.SiteInformation.FooterView != null)
                            {
                                Html.RenderPartial(Model.SiteInformation.FooterView);
                            }
                            else if (Model.SiteInformation.Application.TemplateTypeID == (int)Enums.ApplicationTemplateType.DRTV)
                            {
                                Html.RenderPartial("~/Views/Navigation/Footer/_Drtv_Footer.cshtml");
                            }
                            else
                            {
                                Html.RenderPartial("~/Views/Navigation/_FooterView.cshtml", Model.SiteInformation.FooterView);
                            }
                        </div>
                    </footer>
                </div>
            }
        </div>

        <script src="/Scripts/jquery-1.10.2.min.js"></script>
        <script src="/Scripts/cf.jquery.countdown.js"></script>
        <script src="/Scripts/jquery.cookie.js"></script>
        <script src="/Scripts/jquery.fullsizable.js"></script>
        <script src="/Scripts/jquery.swfobject.1-1-1.min.js"></script>
        <script src="/Scripts/startup.js"></script>
        <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>


        <link href="/Content/themes/animate.css" rel="stylesheet" />
        @*<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>*@
        <script src="/Content/plyr/plyr.js"></script>
        <link href="/Content/plyr/plyr.css" rel="stylesheet" />
        @*<link href="@Url.ContentCDN("~/Content/themes/bootstrap-switch.min.css")" rel="stylesheet" />
        <link href="@Url.ContentCDN("~/Content/themes/bootstrap-switch-theme.css")" rel="stylesheet"/>*@

        <link href="/Scripts/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
        <link href="/Scripts/bootstrap-switch/css/bootstrap-switch-theme.css" rel="stylesheet" />
        <script src="https://use.typekit.net/rtr3fnt.js"></script>
        <script>Typekit.load({ async: true });</script>

        @if ("Gosling".IndexOf(Model.SiteInformation.Theme.ThemeName) >= 0)
        {
            <text>
                <script src="~/Scripts/custom.js"></script>
                <script src="~/Scripts/zoom_contestant.js"></script>
            </text>
        }
        else if ("fhb".IndexOf(Model.SiteInformation.Theme.ThemeName) >= 0)
        {
            <text>
                <script src="~/Scripts/themes/fhb/js/custom.js"></script>
                <script src="~/Scripts/zoom_contestant.js"></script>
            </text>
        }
        else if ("Corner Store".IndexOf(Model.SiteInformation.Theme.ThemeName) >= 0)
        {
            <text>
                <script src="~/Scripts/zoom_contestant.js"></script>
            </text>
        }
        else if (Model.SiteInformation.Theme.ThemeName.ToLower().IndexOf("collette") >= 0 ||
            Model.SiteInformation.Theme.ThemeName.ToLower().IndexOf("danceacademy") >= 0 ||
            Model.SiteInformation.Theme.ThemeName.ToLower().Contains("wireless") ||
            Model.SiteInformation.Theme.ThemeName.ToLower().Contains("tracfonetraining") ||
            string.IsNullOrEmpty(Commons.Config["CustomerIFrame"]) == false
            )
        {
            <text>
                <script src="~/Scripts/iframe.js"></script>
            </text>
        }
        @if (Model.IsAdminSite)
        {
            <text>
                <script src="~/Scripts/displayItem.js"></script>
            </text>
        }

        @{
            string apppath = ViewContext.HttpContext.Request.PathBase.Value.ToLower();
            string prefixurl = "";
            if (apppath != "/")
            {
                apppath = apppath + "/";
            }
            else
            {
                apppath = "/";
            }

            prefixurl += apppath + Model.SiteName;
        }

        <script type="text/javascript">
            $(window).load(function () {
                if (window.ThemeResize)
                    ThemeResize();
                var name = "@Model.SiteInformation.ContextName.ToLower()";
            });

            $(window).resize(function () {
                if (window.ThemeResize)
                    ThemeResize();
            });

            function UpdateAdminShowHide( mode ){
                UpdateSession({name:'AdminShowHide', value:mode }, function(){ location.reload(true); });
            }

            $(document).ready(function () {
                //prevent click dropdown menu
                @if (Model.IsGreaterGoodContext)
                {
                    <text>
                        $(".dropdown-menu").click(function (e) {
                            e.stopPropagation();
                        });
                    </text>
                }

                @if (Commons.CanEditMenuShowHide(Model.SiteInformation, ViewContext.HttpContext.Request))
                {
                    <text>
                        BindMenuShowHide($(document));
                    </text>
                }

                //Trivia Points
                var spinAllow = "@Commons.Config["Quiz_PointsToPlayIWG"]";
                var triviaContest = "@Commons.Config["Contest_TriviaContest"]";
                if (spinAllow > 0 && triviaContest == "1" && window.getSpins && SiteConfig.CurrentUserID > 0){
                    getSpins();
                }

                if (window.updatedHeight)
                    updatedHeight();

                if ($.trim($(".widget-header").html()) == '') {
                    $(".widget-header").css("padding-top", "0");
                    $(".widget-header").css("padding-bottom", "0");
                }

                if (window.ModifyHeaderImage) {
                    ModifyHeaderImage();
                }
            });

            function contestRulesClick(contestID, applicationID) {
                var response = $.ajax({
                    type: "get",
                    url: "@Url.SZAction("GetExtensionField", "Base")",
                    data: { contestID: contestID, applicationID: applicationID },
                    async: false,
                    success: function (data) {

                    }
                }).responseText;

                var data = JSON.parse(response);

                if ($.trim(data.RuleFileName) != '') {
                    window.open($.trim(data.RuleFileName));
                }
                else {
                    if ($("#dvRuleText").length == 0) {
                        $("body").append("<div id='dvRuleText' style='display: none'></div>");
                    }

                    if (data.RuleAutoGen == true) {
                        var autoGenerateRule = "@Commons.AutoGenerateRule";
                        var adminstratorName = data.AdminstratorName;
                        if ($.trim(adminstratorName) == '') {
                            adminstratorName = '';
                        }
                        autoGenerateRule = autoGenerateRule.replace(/\%Administrator Name\%/gi, adminstratorName);

                        $("#dvRuleText").html(autoGenerateRule);
                    }
                    else {
                        $("#dvRuleText").html(data.RuleText);
                    }
                    OpenInfoDetail('dvRuleText', '@DbLanguage.GetText("gFooter_ContestRules")');
                }
            }

            @if (!ViewContext.HttpContext.Request.IsLocal())
            {
                <text>
                //document.domain = "@Model.appConfiguration.ServerDomain";
                document.domain = "@Commons.VirtualUploadDomain(Model.appConfiguration.SubDomain)";
                </text>

                if (!string.IsNullOrEmpty(Model.ShareID))
                {
                    //LogHelper.WriteLog("Tracking master: " + Request.UserAgent + ", URL: " + Request.Url.AbsoluteUri);
                }
            }

            var SiteConfig = {
                SiteName : "@ViewContext.RouteData.Values["SiteName"]",
                pageName: "@Model.PageName",
                gSiteAdrs : "@(Url.Action("", "", null, (ViewContext.HttpContext.Request.Headers["HTTP_X_FORWARDED_PROTO"] == "https" ? "https" : (ViewContext.HttpContext.Request.IsHttps ? "https" : "http"))))",
                VirtualUploadPath : "@(Commons.VirtualUploadPath)",
                VirtualUploadDomain : "@(Commons.VirtualUploadDomain(Model.appConfiguration.SubDomain))",
                ApplicationID: "@Model.SiteInformation.ApplicationID",
                CampaignID: "@Model.SiteInformation.CampaignID",
                ContestID: @Model.ContestID,
                ShowMediaStyle :"@Commons.Config["ShowMediaStyle"]",
                HandleMissing_L : "@(Html.Raw(MvcHtmlString.HandleMissing("l").ToString().Replace("\"", "\\\"")))",
                VimeoPlayerEmbed :"@Html.Raw(Commons.Config["VimeoPlayerEmbed"].Replace(@"""", @"\"""))",
                IsPreview : @(Commons.IsPreview ? "true" : "false"),
                PreviewMode: "@(Model.SiteInformation.PreviewMode())",
                IFrameMode : @(Model.SiteInformation.IFrameMode ? "true" : "false"),
                LoginStyle : "@(Commons.Config["LoginStyle"] ?? "0")",
                Comment_IntervalRefresh : @(Commons.Config["Comment_IntervalRefresh"].ToIntOrDefault()),
                NowTick : "@DateTime.Now.Ticks",
                CurrentUserID :0,
                CurrentUserName : "",
                CurrentUserFolder : "@(SessionUtilities.CurrentUser.UserFolder)",
                ApplicationName: "@Model.SiteInformation.Application.ApplicationName",
                ShowTimeout : "@Commons.Config["ShowTimeout"]",
                SessionTimeout : 10,
                ShowTimeOutInSeconds : "@Commons.Config["ShowTimeOutInSeconds"]",
                FBAppID : "@Model.appConfiguration.FBAppId",
                FBShareAppID : "@Commons.Config["FBShareAppID"]",
                IsAdmin: @(SessionUtilities.IsUserHasAdminPermission() ? "true" : "false"),
                UploadFolder: "@Commons.UploadFolder",
                AllowAnonymousVote : 1,
                debug : "@Model.appConfiguration.Debug",
                LanguageID: "@Model.SiteInformation.LanguageID",
                ThemeFolder: "@Model.SiteInformation.Theme.ThemeFolder",
                ShareID: "@(Model.ShareID)",
                RefererAgent: "@ViewContext.HttpContext.Request.Headers["User-Agent"]",
                RefererIP: "@Commons.IPAddress(ViewContext.HttpContext.Request)",
                SiteId: "@(Model.EditSiteId ?? Model.SiteInformation.ApplicationID.ToString())",
                ContestId: "@(Model.EditCampaignId ?? Model.SiteInformation.GetContestID().ToString())",
                robots: "@Commons.Config["RobotsList"]"
            };


            var SiteURL = {
                Root : "@apppath",
                Prefix : "@prefixurl",
                UploadFile_UploadFile : "@prefixurl/uploadfile/_uploadfile",
                UploadFile_Download : "@prefixurl/uploadfile/download",
                Home_Login :"@prefixurl/home/login",
                Action_Share : "@prefixurl/action/share?actionID=actionidholder&sharedUrl=sharedurlholder",
                Action_Update_Share : "@prefixurl/action/updateaccountdetailstatus",
                Action_Update_ShareReturn : "@prefixurl/action/updatesharereturn",
                Action_ShareByEmail : "@prefixurl/action/sharebyemail?actionID=actionidholder&sharedUrl=sharedurlholder&fromEmail=fromemailholder",
                Action_GetShareList : "@prefixurl/action/getsharelist",
                Customer_Register : "@prefixurl/customer/register",
                Home_CustomerLogin : "@prefixurl/home/customerlogin",
                Home_LoginByToken : "@prefixurl/home/loginbytoken?token=token_holder&returnUrl=return_Url&baseUrl=base_Url",
                Application_GetJSONSiteName : "@prefixurl/application/getjsonsitename",
                Comment_GetList : "@prefixurl/comment/getlist?ReferID=ReferIDHolder&CommentType=CommentTypeHolder&page=pageHolder",
                Comment_Post : "@prefixurl/comment/post",
                UploadFile_MyFolders :"@prefixurl/uploadfile/_myfolders",
                UploadFile_MediaList :"@prefixurl/uploadfile/medialist",
                UploadFile_AddFolder : "@prefixurl/uploadfile/addfolder",
                Home_DisplayLeftMenu : "@prefixurl/home/displayleftmenu",
                Contest_GetStatus : "@prefixurl/contest/_getstatus",
                Home_Logout : "@prefixurl/home/logout",
                Home_KeepAlive : "@prefixurl/home/keepalive",
                Contestant_VoteDetailAndComment:"@prefixurl/contestant/_votedetailandcomment",
                Contestant_ContestantVoteForm:"@prefixurl/contestant/_contestantvoteform",
                Contestant_ContestantVoteMultiple : "@prefixurl/contestant/contestantvotemultiple",
                Contestant_ContestantVote : "@prefixurl/contestant/contestantvote",
                Contestant_ContestantVotedSubmission : "@prefixurl/contestant/contestantvotedsubmission",
                UploadFile_MediaVoteForm:"@prefixurl/uploadfile/_mediavoteform",
                VirtualUploadPath: "@(Commons.Config["VirtualUploadPath"])",
                CustomerIFrame: "@Commons.Config["CustomerIFrame"]"
            };

            var SiteContent = {
                CKEditor : "@Url.Content("~/Content/ckeditor/ckeditor.js")",
                CKEditorBasePath : "@Url.Content("~/Content/ckeditor/")",
                CKEditorContentsCss : "@Url.Content("~/Content/ckeditor/contents.css")",
                AudioImage : "@Url.Content(string.Format("~/Content/{0}/images/2586815-746269-music-background-with-color-note-on-the-black.jpg", SessionUtilities.AreaName()))",
                FlvPlayer : "@Url.Content(string.Format("~/Content/{0}/flash/flvplayer.swf", SessionUtilities.AreaName()))",
                BrowserIE : "@Url.Content("~/Content/img/browser_ie.gif")",
                SiteTitle: "@Model.SiteInformation.SiteTitle"
            };

            var SiteLanguage = {
                gRequireFriendEmail : "@Html.Raw(DbLanguage.GetText("gRequireFriendEmail"))",
                gRequireFriendName : "@DbLanguage.GetText("gRequireFriendName")",
                gRequireAtLeastFriend : "@DbLanguage.GetText("gRequireAtLeastFriend")",
                gSentSuccessfully : "@DbLanguage.GetText("gSentSuccessfully")",
                gRequireYourEmail : "@Html.Raw(DbLanguage.GetText("gRequireYourEmail"))",
                gSessionTimeoutMessage : "@DbLanguage.GetText("gSessionTimeoutMessage")",
                Media_SelectFile : "@DbLanguage.GetText("Media_SelectFile")",
                gMedia_InvalidFile: "@DbLanguage.GetText("gMedia_InvalidFile")",
                CookieNotice: "@DbLanguage.GetText("Cookie_Notice")"
            };

            var ValidatorMessages = {
                required: '@DbLanguage.GetText("gValidationRequired")',
                email: '@DbLanguage.GetText("gValidationEmail")',
                url: '@DbLanguage.GetText("gValidationUrl")',
                date: '@DbLanguage.GetText("gValidationDate")',
                digits: '@DbLanguage.GetText("gValidationDigits")',
                safe: '@DbLanguage.GetText("gValidationSafe")',
                datevalidation: '@DbLanguage.GetText("gValidationSafe")'
            };

            var CountdownText = {"Days" : "@DbLanguage.GetText("gCountdownDays")",
                "Hours" : "@DbLanguage.GetText("gCountdownHours")",
                "Minutes" : "@DbLanguage.GetText("gCountdownMinutes")",
                "Seconds" : "@DbLanguage.GetText("gCountdownSeconds")",
                @*"CssLeft": "@DbLanguage.CssLeft",
                "CssRight": "@DbLanguage.CssRight"*@
                CssLeft: "left",
                CssRight: "right"
            };

            var IsBigData = @(Model.appConfiguration.IsBigData == "1" ? "true" : "false");

        </script>


        @if (Model.UseValidate)
        {
            <script src="/Scripts/jquery.validate.min.js"></script>
            <script src="/Scripts/jquery.validate.extend.js"></script>
            <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
            <script src="/Scripts/textarea_maxlen.js"></script>
        }

        @if (Model.SiteInformation.IsPreview())
        {
            <script src="/Scripts/ContentEditable.js"></script>
        }

        <script src="/Content/bootstrap/bootstrap-full/js/bootstrap.min.js"></script>
        <script src="/Scripts/Shared.js"></script>
        <script src="/Scripts/bootstrap-switch/js/bootstrap-switch.min.js"></script>

        @if (Model.TriviaContest)
        {
            <script src="/Scripts/spinapi.js"></script>
        }

        @RenderSection("scripts", required: false)

        @{
            if (!string.IsNullOrWhiteSpace(Model.ShareID))
            {
                CookieUtilities.Set(string.Format("shareid_{0}_{1}", Model.SiteInformation.Application.ApplicationID, Model.SiteInformation.CampaignID), Model.ShareID.Trim());
            }
        }
        @if (ViewContext.HttpContext.Items["isDebug"] != null)
        {
            if (ViewContext.HttpContext.Items["isDebug"].ToString() == "1")
            {
                MASNET.DataAccess.Page page = pageRepository.GetPageByName(Model.PageName);
                <div style="position: fixed; top: 10px; left: 10px; z-index: 999999999;">
                    <div class="btn-group" role="group">
                        <button type="button" class="productmode-button @(page.IsAdmin != true ? "active" : "")" onclick="changePageType(false);">Front-End</button>
                        <button type="button" class="productmode-button @(page.IsAdmin == true ? "active" : "")" onclick="changePageType(true);">Back-End</button>
                    </div>
                </div>
                <script type="text/javascript">
                    function changePageType(isAdmin) {
                        $.ajax({
                            type: "post",
                            url: "@Url.SZAction("ChangePageType", "Base")",
                            data: { pageName: "@Model.PageName", isAdmin: isAdmin },
                            success: function (data) {
                                window.location.href = window.location.href;
                            }
                        });
                    }
                </script>
            }
        }
        <script type="text/javascript">
            function ShowPreview(ThemeID) {
                if (document.getElementById("ThemeID")) {
                    if (document.getElementById("ThemeID").value == "") {
                        alert("Please select a Theme");
                        return false;
                    } else
                        ThemeID = document.getElementById("ThemeID").value
                } else {
                    if (ThemeID == "") {
                        alert("Please select a Theme");
                        return false;
                    }
                }
                var url = "@Url.Action("Edit", "Theme", new { Id = "_themeid_" })" + "?editSiteId=@(ViewBag.editSiteId)&editCampaignId=@(ViewBag.editCampaignId)&previewmode=readonly";
                window.location.href = url.replace("_themeid_", ThemeID)+"&rUrl="+encodeURIComponent(window.location.href);
            }

            function ShowFormPreview(ThemeID) {
                if (document.getElementById("ThemeID")) {
                    if (document.getElementById("ThemeID").value == "") {
                        alert("Please select a Theme");
                        return false;
                    } else
                        ThemeID = document.getElementById("ThemeID").value
                } else {
                    if (ThemeID == "") {
                        alert("Please select a Theme");
                        return false;
                    }
                }
                var url = "@Url.Action("Edit", "Theme", new { Id = "_themeid_" })" + "?editSiteId=@(ViewBag.editSiteId)&editCampaignId=@(ViewBag.editCampaignId)&previewmode=readonly&isFormPreview=true";
                window.location.href = url.replace("_themeid_", ThemeID) + "&rUrl=" + encodeURIComponent(window.location.href);
            }
            $(document).ready(function () {
                @if (Model.IsSuperAdmin && SessionUtilities.ProductMode.HasValue == false && Model.SiteInformation.SiteType == Enums.SiteType.Main)
                {
                <text>
                $("#dvProductMode").dialog({
                    modal: true,
                    width: 400,
                    height: 180,
                    title: "@DbLanguage.GetText("ProductModeDialogTitle")",
                    close: function () {
                        $("[id^=btnProductMode_]").first().click();
                    }
                });
                </text>
                }

                $("[id^=btnProductMode_]").each(function () {
                    $(this).click(function () {
                        var productMode = $(this).attr("id").replace("btnProductMode_", "");

                        if (productMode != '@(SessionUtilities.ProductMode.HasValue ? SessionUtilities.ProductMode.ToString() : "")') {
                            $.ajax({
                                type: "post",
                                url: "@Url.SZAction("ChangeProductMode", "Base")",
                                data: { ProductMode: productMode },
                                async: true,
                                success: function (data) {
                                    @if (SessionUtilities.ProductMode.HasValue)
                                    {
                                        if (SessionUtilities.ProductMode.Value == Enums.ProductMode.StandAlone)
                                        {
                                            @:window.location.href = "@Url.SZAction("Contests", "Customer")";
                                        }
                                        else
                                        {
                                            @:window.location.href = "@Url.SZAction("Index", "Application")";
                                        }
                                    }
                                    else
                                    {
                                        @:window.location.href = window.location.href;
                                    }
                                }
                            });//End: $.ajax()
                        }
                    });
                })

                @if (Model.IsLoggedIn && !string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["showTimeout"]))
                {
                    <text>
                    SiteConfig.SessionTimeout = 1;
                    SiteConfig.ShowTimeOutInSeconds = "5";
                    SessionTimeoutConfig.iDefTimeout = 1;
                    SessionTimeoutConfig.sessionTimeout = "60";
                    SessionTimeoutConfig.iAlertSessionTimeOutInSecond = "5";
                    </text>
                }
            });

            $(window).load(function () {
                @if (Model.DisplayLeftMenu || Model.IsLoggedIn)
                {
            <text>
                var bodyId = $(".accordion-inner .active").closest("div.accordion-body").attr("id");
                $("a[href='#" + bodyId + "']").click();
                </text>
                }
            });
        </script>
        @{
            var gaTrackingCode = Model.SiteInformation.GATrackingCode;
            var codeIndex = 0;
            if (!string.IsNullOrWhiteSpace(gaTrackingCode))
            {
                var arrCode = gaTrackingCode.Split(';');
                <script>
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date(); a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
                    @foreach (string code in arrCode)
                    {
                        if (codeIndex == 0)
                        {
                            @:ga('create', '@code', 'auto');
                            @:ga('send', 'pageview', );
                        }
                        else
                        {
                            string gaNS = string.Format("cf{0}", codeIndex);
                            @:ga('create', '@code', 'auto', '@(gaNS)');
                            @:ga('@(gaNS).send', 'pageview', );
                        }
                        codeIndex++;
                    }
                </script>
            }

        }
    </div>
    @RenderSection("bottomBody", required: false)
</body>
</html>
