@import "vars"

/* ----------- Table ----------- */
.table
	display: table
	width: 100%

.table-row
	display: table-row
	width: 100%

.table-row
	> div
		display: table-cell
		vertical-align: middle

.short-cell
	width: 1%