﻿body {
    background-color: #141c32;
    font-family: Arial, Helvetica, sans-serif;
    color: #53baff;
    scrollbar-face-color: #1b92e0;
    scrollbar-base-color: #235175;
    scrollbar-arrow-color: black;
    scrollbar-track-color: #235175;
    scrollbar-shadow-color: #0b3d5e;
    scrollbar-highlight-color: #7cc0ed;
    scrollbar-3dlight-color: #78AAFF;
    scrollbar-darkshadow-Color: #000;
}

#pagewrapper {
    /*color: #eee;*/
    background-image: url("images/bg_body.jpg");
    background-repeat: repeat-x;
}

/*--------------- Header -----------------------*/
header {
    background-color: transparent;
    position: relative;
    /*height: 133px;*/
}

    header .container {
        max-width: 950px;
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }

.header-banner {
    height: 95px;
    width: 100%;
    position: relative;
}

.header-logo {
    float: left;
}

.header-banner-right {
    float: right;
}

.header-search {
    background-image: url("images/search_bg.jpg");
    height: 29px;
    width: 329px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    line-height: 29px;
    padding-left: 39px;
}

    .header-search .searchfield {
        font-weight: normal;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        width: 175px;
        height: 17px;
        color: #333333;
        background-color: #cccccc;
        border: 1px solid #000000;
    }

.header-form-login {
    padding-top: 14px;
}

    .header-form-login td:not(:last-child) {
        padding-right: 5px;
    }

    .header-form-login .input-field {
        background-color: #ebf1f7;
        color: #000;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        width: 110px;
        padding: 2px;
        border: 1px solid #c2c7cc;
        height: 18px;
    }

    .header-form-login .welcomeUser {
        /*font-size: 17px;*/
        color: #cc3300;
        font-weight: bold;
        font-size: 14px;
    }

    .header-form-login a.logout {
        font: Arial;
        color: #0485cf;
        font-size: 14px;
        font-weight: bold;
        padding-left: 0px;
        text-decoration: underline;
    }

        .header-form-login a.logout:active {
            font: Arial;
            color: #0485cf;
            /*font-size: 12px;*/
            font-weight: bold;
            padding-left: 0px;
            text-decoration: underline;
        }

        .header-form-login a.logout:visited {
            font: Arial;
            color: #0485cf;
            /*font-size: 12px;*/
            font-weight: bold;
            padding-left: 0px;
            text-decoration: underline;
        }

        .header-form-login a.logout:hover {
            font: Arial;
            color: #cc3300;
            /*font-size: 12px;*/
            font-weight: bold;
            padding-left: 0px;
            text-decoration: underline;
        }

.forgot_pass {
    color: #999;
    text-decoration: none;
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
}

    .forgot_pass:link {
        color: #999;
        text-decoration: underline;
        font-family: Arial;
        font-size: 10px;
        font-weight: normal;
    }

    .forgot_pass:active {
        color: #999;
        text-decoration: underline;
        font-family: Arial;
        font-size: 10px;
        font-weight: normal;
    }

    .forgot_pass:visited {
        color: #999;
        text-decoration: underline;
        font-family: Arial;
        font-size: 10px;
        font-weight: normal;
    }

    .forgot_pass:hover {
        color: #de5303;
        text-decoration: underline;
        font-family: Arial;
        font-size: 10px;
        font-weight: normal;
    }

.header-bookmark-share {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    margin-top: 35px;
    text-decoration: none;
}

    .header-bookmark-share a:hover, .header-bookmark-share a:focus {
        text-decoration: none;
    }

.official_time {
    font-family: Arial;
    color: #de5303;
    font-size: 11px;
    position: absolute;
    width: 300px;
    bottom: 5px;
    right: 0;
    text-align: right;
}

.header-top-menu {
    position: absolute;
    width: 500px;
    height: 29px;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

    .header-top-menu a,
    .header-top-menu a:link,
    .header-top-menu a:visited {
        height: 29px;
        width: 162px;
        float: right;
        text-decoration: none;
        color: transparent;
    }

    .header-top-menu .compete_btn {
        background-image: url("images/competition1.png");
        margin-right: -30px;
    }

        .header-top-menu .compete_btn:hover {
            background-image: url("images/competition2.png");
        }

    .header-top-menu .refer_btn {
        background-image: url("images/tell_friend1.png");
        margin-right: -30px;
    }

        .header-top-menu .refer_btn:hover {
            background-image: url("images/tell_friend2.png");
        }

    .header-top-menu .reg_btn {
        background-image: url("images/register1.png");
        margin-right: 30px;
    }

        .header-top-menu .reg_btn:hover {
            background-image: url("images/register2.png");
        }

    .header-top-menu .submitsong_btn {
        background-image: url("images/submitsong1.png");
        margin-right: 30px;
    }

        .header-top-menu .submitsong_btn:hover {
            background-image: url("images/submitsong2.png");
        }

    .header-top-menu .reviewsong_btn {
        background-image: url("images/review1.png");
        margin-right: 30px;
    }

        .header-top-menu .reviewsong_btn:hover {
            background-image: url("images/review2.png");
        }

.header-menu {
    height: 33px;
    line-height: 33px;
}

    .header-menu .main-menu {
        line-height: 33px;
        float: left;
    }

        .header-menu .main-menu a {
            color: #fff;
            text-decoration: none;
            font-family: Arial;
            font-size: 11px;
            font-weight: bold;
            padding: 4px;
            padding-left: 8px;
            margin-right: 10px;
            background-image: url("images/header_nav_arrow.gif");
            background-position: left;
            background-repeat: no-repeat;
            height: 100%;
        }

            .header-menu .main-menu a:active {
                color: #fff;
                text-decoration: none;
                font-family: Arial;
                font-size: 11px;
                font-weight: bold;
                padding: 4px;
                padding-left: 8px;
                margin-right: 10px;
                background-image: url("images/header_nav_arrow.gif");
                background-position: left;
                background-repeat: no-repeat;
                height: 100%;
            }

            .header-menu .main-menu a:visited {
                color: #fff;
                text-decoration: none;
                font-family: Arial;
                font-size: 11px;
                font-weight: bold;
                padding: 4px;
                padding-left: 8px;
                margin-right: 10px;
                background-image: url("images/header_nav_arrow.gif");
                background-position: left;
                background-repeat: no-repeat;
                height: 100%;
            }

            .header-menu .main-menu a:hover {
                color: #13326b;
                text-decoration: none;
                font-family: Arial;
                font-size: 11px;
                font-weight: bold;
                padding: 4px;
                padding-left: 8px;
                margin-right: 10px;
                background-color: #a3d9f9;
                height: 100%;
            }

    .header-menu .right-menu {
        float: right;
        margin-top: 3px;
    }

        .header-menu .right-menu a {
            display: block;
        }

            .header-menu .right-menu a.share_fb, .header-menu .right-menu a.share_tw, .header-menu .right-menu a.share_yt {
                display: block;
                float: left;
                width: 29px;
                height: 28px;
            }

a.share_fb:link {
    background: url(images/share_icons.png) no-repeat 0 0;
}

a.share_fb:visited {
}

a.share_fb:hover {
    background: url(images/share_icons.png) no-repeat 0 -28px;
}

a.share_fb:active {
}

a.share_tw:link {
    background: url(images/share_icons.png) no-repeat -29px 0;
}

a.share_tw:visited {
}

a.share_tw:hover {
    background: url(images/share_icons.png) no-repeat -29px -28px;
}

a.share_tw:active {
}

a.share_yt:link {
    background: url(images/share_icons.png) no-repeat -58px 0;
}

a.share_yt:visited {
}

a.share_yt:hover {
    background: url(images/share_icons.png) no-repeat -58px -28px;
}

a.share_yt:active {
}

.header-top-menu #header-top-menu-items .submitsong {
    position: relative;
    float: right;
}

    .header-top-menu #header-top-menu-items .submitsong .dropdown-menu {
        display: none;
        float: right;
    }

    .header-top-menu #header-top-menu-items .submitsong:hover .dropdown-menu {
        display: block;
        position: absolute;
        top: 25px;
        width: 156px;
        min-width: initial;
        background-color: #048CDA;
        color: #FFF;
        font-weight: bold;
    }

    .header-top-menu #header-top-menu-items .submitsong .dropdown-menu a {
        width: 100%;
        color: #FFF;
        font-size: 11px;
        font-family: Arial;
        height: auto;
        font-weight: bold;
        line-height: initial;
    }

        .header-top-menu #header-top-menu-items .submitsong .dropdown-menu a:hover {
            background-color: #a3d9f9;
            color: #13326b;
        }
/*--------------- End: Header -----------------------*/

/*--------------- Page content -----------------------*/
#dashboard_page > .container {
    max-width: 950px;
    padding-left: 0;
    padding-right: 0;
}

.widget-header.container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.widget-body > .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.content-inner {
    padding-left: 0;
    padding-right: 0;
}
/*--------------- End: Page content -----------------------*/

/*--------------- Footer -----------------------*/
footer {
    background-image: url("images/footer_bg.jpg");
}

    footer .container {
        max-width: 950px;
        padding-left: 0;
        padding-right: 0;
    }

.footer-menu {
    color: #0099FF;
    text-align: center;
    line-height: 55px;
    white-space: nowrap;
    text-transform: uppercase;
}

.footer_links:link {
    color: #0099ff;
    text-decoration: none;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
}

.footer_links:active {
    color: #0099ff;
    text-decoration: none;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
}

.footer_links:visited {
    color: #0099ff;
    text-decoration: none;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
}

.footer_links:hover {
    color: #fff;
    text-decoration: none;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
    background-color: #0099ff;
}

.footer_links {
    color: #0099ff;
    text-decoration: none;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
    margin-left: 15px;
    margin-right: 15px;
}

.footer-copyright {
    font-family: Arial;
    font-size: 10px;
    color: #666666;
    height: 64px;
    position: relative;
}

.responsive {
    display: none;
}
/*---------------End: Footer -----------------------*/

/* Responsive */
/* Medium devices: Desktops (≥992px) */
@media screen and (min-width: 992px) {
}
/* End: Medium devices */

/* Small devices: Tablets (≥768px) */
@media screen and (min-width: 768px) {
}
/* End: Small devices */

/* Extra small devices: Phones (<768px) */
@media screen and (max-width: 767px) {
    #ulTopAdminMenu.navbar-collapse.collapse {
        display: none;
    }

        #ulTopAdminMenu.navbar-collapse.collapse.in {
            display: block;
        }

    #pagewrapper {
        position: relative;
    }

    .container-fluid {
        margin-top: 0;
    }

    .header-bookmark-share {
        left: initial;
        text-align: right;
        margin-top: 10px;
        margin-right: 10px;
    }

    .header-banner-right {
        /*float: left;*/
        margin-top: -5px;
        padding-right: 10px;
        clear: both;
    }

    .header-top-menu {
        width: 100%;
        height: 25px;
        margin-bottom: 8px;
    }

        .header-top-menu a {
            background-image: none;
        }

        .header-top-menu .compete_btn {
            background-image: none;
        }

            .header-top-menu .compete_btn:hover {
                background-image: none;
            }

        .header-top-menu .refer_btn {
            background-image: none;
        }

            .header-top-menu .refer_btn:hover {
                background-image: none;
            }

        .header-top-menu .reg_btn {
            background-image: none;
        }

            .header-top-menu .reg_btn:hover {
                background-image: none;
            }

        .header-top-menu .submitsong_btn, .header-top-menu .submitsong_btn:hover {
            background-image: none;
        }

        .header-top-menu button.navbar-toggle, .header-top-menu button.navbar-toggle:hover, .header-top-menu button.navbar-toggle:focus {
            padding: 3px 3px 3px 5px;
        }

        .header-top-menu #header-top-menu-items {
            position: absolute;
            width: 150px;
            margin-top: 30px;
            z-index: 100;
            right: 10px;
            background-color: #FFF;
            color: #000;
            display: none;
        }

            .header-top-menu #header-top-menu-items a {
                display: block;
                color: #000;
                float: none;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 15px;
                width: auto;
                margin: 0;
            }

                .header-top-menu #header-top-menu-items a:hover {
                    background-color: #a3d9f9;
                }

            .header-top-menu #header-top-menu-items.collapse.in {
                display: block;
            }

            .header-top-menu #header-top-menu-items .submitsong {
                float: none;
            }

                .header-top-menu #header-top-menu-items .submitsong .dropdown-menu {
                    border-radius: 0;
                }

            .header-top-menu #header-top-menu-items.collapse {
                overflow: visible;
            }

            .header-top-menu #header-top-menu-items .submitsong:hover .dropdown-menu {
                width: 150px;
            }

        .header-top-menu .btn-collapsed {
            top: 0;
            position: absolute;
            right: 10px;
        }

    .header-form-login {
    }

        .header-form-login .welcomeUser {
            color: #FFF;
            line-height: 30px;
        }

            .header-form-login .welcomeUser a {
                color: #FFF;
            }

        .header-form-login a.logout,
        .header-form-login a.logout:visited {
            color: #FFF;
            line-height: 30px;
        }

    .header-menu {
        /*margin-top: 10px;*/
        height: 52px;
        position: relative;
        display: block;
    }

    .header-responsive {
        padding: 3px 5px 3px 8px !important;
        margin-top: -21.5px !important;
        margin-left: 2px !important;
    }

    .header-login-responsive {
        padding: 3px 5px 3px 8px !important;
        margin-top: -33.5px !important;
        margin-left: 2px !important;
    }

    button.navbar-toggle, button.navbar-toggle:hover, button.navbar-toggle:focus {
        background-color: #0385D0;
        color: #FFF;
        margin: 0;
        padding: 5px 5px 5px 10px;
        float: left;
        margin-top: 5px;
        margin-left: 5px;
        border-width: 0;
    }

    .header-menu .main-menu, .header-menu .main-menu.collapsing {
        position: absolute;
        width: 95%;
        margin-top: 50px;
        z-index: 100;
        margin-left: 5px;
        background-color: #FFF;
        color: #000;
        display: none;
    }

        .header-menu .main-menu.collapse.in {
            display: block;
        }

        .header-menu .main-menu a {
            display: block;
            width: 100%;
            color: #000 !important;
            background-image: none;
            line-height: 1.5em;
        }

    .container-breadcrumb {
        display: none;
    }

    #dvBodyContainer {
        clear: both;
        margin-top: 10px;
    }

    /*.forgot_pass {
        display: none;
    }

    .responsive {
        display: block;
    }*/
}
/* End: Extra small devices */
/* End: Responsive */
