/*------- RESPONSIVE -------*/
/*Global styles*/
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

.action-item {
	color:#ed8c26 !important;
}

.white-text {
    color:#fff;
}

.white-carret {
    border-top-color:#fff;
}

.subhead-gutter {
	height:51px;
}

.subhead-gutter .gutter-box {
}

.subhead-gutter .no-icon {
	padding-top:8px;
}

.subhead-gutter .text-info {
	font-size:12px;
	color:#ccc;
}

.subhead-gutter .gutter-box > a {
	text-decoration:none;
}

.subhead-gutter .gutter-box > a [class^="icon-"],
.subhead-gutter .gutter-box > a [class*=" icon-"] {
	display:inline-block;
	position:relative;
	padding: 0 10px 0 10px;
	top:4px;
	font-size:28px;
}



.heading {
	padding-top: 12px;
}

.bottom-border {
	border-bottom: 1px solid #EBEBEB;
}

.no-bottom-border {
	border-bottom:none;
}

/* user side */
.user_side{
  padding: 15px 15px;
  margin: 0;
  background-color: #283942;
}
.user_side img{
  float:left;
  width:50px;
  height:50px;
  -moz-border-radius:150px;
  -webkit-border-radius:150px;
  border-radius:150px;
  margin: 0 15px 0 0;
}
.user_side h5{
  color: #ed8c26;
  line-height: 16px;
  margin: 4px 0 0;
}
.user_side a{
  color:#FFFFFF;
  font-size: 12px;
}

#pin-button {
    float:right;
}

#pin-button > a {
    text-decoration:none;
}

#pin-button > a [class^="icon-"],
#pin-button > a [class*=" icon-"] {
    font-size:14px;
}

/*  Navbar  */
.navbar-fixed-top .navbar-inner{
  height: 45px;
  background: #292A2F;  
  border: none;  
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
  box-shadow: none;
  padding-right: 30px;
}
.logo {  
  padding: 11px 0 0;
}
.container-fluid {
  padding: 0;
  position: relative;
}
#wrap {
  height: auto !important;
  min-height: 100%;
}
.main_container{
  padding: 0 25px 25px;
  position: relative;
}
.main_container > .row-fluid{
  margin-bottom:25px;
}
/* ----------- top menu ----------- */

.top-menu ul{
  list-style: none;
  margin: 0;
}
.top-menu > ul > li{
  float: left;
  height:45px;
  padding-left:28px;
}

.top-menu > ul > li > a{
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  top: 5px;
  padding: 0px;
  text-decoration: none;
  position: relative;
}

.top-menu > ul > li > a [class^="icon-"],
.top-menu > ul > li > a [class*=" icon-"] {
	display:inline-block;
	position:relative;
	top:4px;
	font-size:28px;	
}

/* ----------- Side menu ----------- */
.b_F79999:hover, .b_F79999.active{
  border-left: 2px solid #FFFFFF;
  background-color: #ed8c26;
  border-bottom: 1px dashed #FFF;
}
.b_C3F7A7:hover, .b_C3F7A7.active{
  border-left: 2px solid #FFFFFF;
  background-color: #ed8c26;
  border-bottom: 1px dashed #FFF;
}
.b_9FDDF6:hover, .b_9FDDF6.active{
  border-left: 2px solid #FFFFFF;
  background-color: #ed8c26;
  border-bottom: 1px dashed #FFF;
}
.b_F6F1A2:hover, .b_F6F1A2.active{
  border-left: 2px solid #FFFFFF;
  background-color: #ed8c26;
  border-bottom: 1px dashed #FFF;
}
.b_C1F8A9:hover, .b_C1F8A9.active{
  border-left: 2px solid #FFFFFF;
  background-color: #ed8c26;
  border-bottom: 1px dashed #FFF;
}
.b_9FDDF6:hover, .b_9FDDF6.active{
  border-left: 2px solid #FFFFFF;
  background-color: #ed8c26;
  border-bottom: 1px dashed #FFF;
}
.b_F5C294:hover, .b_F5C294.active{
  border-left: 2px solid #FFFFFF;
  background-color: #ed8c26;
  border-bottom: 1px dashed #FFF;
}
.accordion-heading{
  background: #292A2F;
}

.accordion-heading, .accordion-toggle {
	padding-bottom: 12px;
}
.accordion-heading a{
  border-left: 2px solid #292A2F;
  border-bottom: 1px dashed #313131;
}

.accordion-heading a [class^="icon-"],
.accordion-heading a [class*=" icon-"] {
	display:inline-block;
	position:relative;
	top:4px;
	padding-right:10px;
	font-size:28px;
}

.accordion-group a{
  display: block;
  padding: 8px 15px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.accordion-group{
  border: none;
  border-radius: 0;
}
.accordion-inner{
  background-color: #283942;
  border: none;
  padding: 9px 0;
}
.accordion-inner a{
    border-left: 2px solid #3D3E43;
    border-bottom: 1px dashed #313131;
    padding-left:60px;
}
.accordion-inner a:hover, .accordion-inner a.active{
    border-left: 2px solid #FFF;
    border-bottom: 1px dashed #FFF;
    background-color:#ed8c26;
}
.sidebar-nav .accordion-toggle.collapsed[data-toggle]:before, .sidebar-nav .accordion-toggle[data-toggle]:before{
  position: absolute;
  right: 15px;
  top: 22px;
}
.sidebar-nav .accordion-toggle.collapsed[data-toggle]:before{
  content:"\f054";
}
.sidebar-nav .accordion-toggle[data-toggle]:before{
  content:"\f078";
}

/* Tabs */
.widget-header .nav.nav-tabs {
    margin: 0;
    border: medium none;
    float: left;
}
.widget-header .nav-tabs > li{
  margin: 0;
}
.widget-header .nav.nav-tabs li > a{
  color: #0099FF;
  border: medium none;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  font-size: 15px;
  position: relative;
  background: transparent;
  line-height: 33px;
}
.widget-header .nav.nav-tabs li > a i{
  margin-right: 5px;
}

/*
.widget-header .nav.nav-tabs li > a .tab-spacer-direction-icon{
  margin-right: 0px;
  color: #9DD68B;
}

.widget-header .nav.nav-tabs li > .tab-spacer-direction-link {
	cursor:default;
}
*/

.widget-header .nav.nav-tabs li > a:hover{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #ed8c26;
}

.widget-header .nav.nav-tabs > .active > a {
	color: #ed8c26;
}

.widget-header .nav-tabs > .active > a:after {
  border-color: transparent transparent #FFFFFF;
  border-style: solid;
  border-width: 8px;
  bottom: 0px;
  content: "";
  height: 0;
  left: 50%;
  margin: 0 -8px;
  position: absolute;
  width: 0;
}

#secondary-tabs {
	padding-top:25px;
}

#secondary-tabs a {
	
}

#secondary-tabs > .active > a, #secondary-tabs a:hover {
	color: #ed8c26;
}

.secondarytabs {
	padding-top:25px;
}

.secondarytabs a {
	color: #292A2F;
}

.secondarytabs > .active > a, .secondarytabs a:hover {
	color: #ed8c26;
}

/* ----------- Widget ----------- */

.widget-top{
    text-align:center;
}
.widget-top .circle{
    display:inline-block;
    margin:0 10px;
}
.widget{
    /*margin-bottom: 15px;   */
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;    
    overflow: hidden;
}

.widget-padding .widget-body{
    padding:15px 15px 15px 15px;
}
.widget-footer{
    background-color: #151924;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding: 10px;
    border-color: #024972;
    border-style: solid;
    border-width: 0 1px 1px;
}
.widget-footer:after{
   clear: both;
}
.widget-footer:after, .widget-footer:before{
    content: "";
    display: table;
    line-height: 0;
}
.widget-header{
    background-color: #151924;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    min-height: 51px;
    border:1px solid #024972;
    position: relative;
}
.widget-header > i, .widget-header h5{
    float: left;
    color: #62687e;
    font-weight:200;
}
.widget-header > i{
    font-size: 16px;
    padding: 15px 10px 15px 11px;
    text-align: center;
    width: 40px;
}
.widget-header a, .widget-header .nav-tabs a{
    color: #777777;
    cursor: pointer;
    font-size: 16px;
    margin: 0px;
    text-decoration: none;
}
.widget-header a:hover{
    color: #333;
}
.widget-header .progress{
  margin: 14px 0px;
  width: 30%; 
  position: absolute; 
  right: 15px;
}
.widget-header a.widget-hidden i{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.widget-header h5{
    margin: 0;
    padding: 15px 0 0;
    font-size: 16px;
}
.widget-header .btn-group{
    float: right;
    margin: 10px 15px 7px 7px;
}

.widget-header .btn-group.pull-left{
    float: left;
    margin-left:15px;
}

.widget-header-under{

    background: none repeat scroll 0 0 #FCFCFC;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 0 1px 1px;
    clear: both;
    font-size: 11px;
    text-align: center;
    padding:4px;
}
.widget-buttons{
    float:right;
    padding: 15px 15px 0 0;
}
.widget-buttons button{
  margin-top:-5px;
}
.widget-body{
    padding: 0;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #374561;
    background-color: #1F2737;
}
.widget-body .table strong{
    color:#E28271;
}
.widget-body .table{
    margin-bottom: 0;
}
.widget-header:before, .widget-header:after {
    content: "";
    display: table;
    line-height: 0;
}
.widget-header:after {
    clear: both;
}

.widget-tasks-statistics .userstats .white {
	z-index:0;
}

.comment-bubble {
    min-height:92px;
    margin-left:0px;
    margin-right:0px;
}

.live-status {
    border-right: 10px solid #AEEA98;
}

.live-status-color {
    background-color:#AEEA98;
    color:#AEEA98;
}

.draft-status {
    border-right: 10px solid #98E5EA;
}

.draft-status-color {
    background-color:#98E5EA;
    color:#98E5EA;
}

.ended-status {
    border-right: 10px solid #E28271;
}

.ended-status-color {
    background-color:#E28271;
    color:#E28271;
}

.widget-comments .left-comment-data {
    min-height:80px;
}

.widget-comments .comment-bubble h4 {
    text-align:left;
}

.widget-comments .comment-bubble h4 strong {
    color:#ed8c26;
}

.widget-comments .comment-bubble p.left-text {
    text-align:left;
    margin-bottom:0px;
}

.widget-comments .avatar-holder {
    
}

.widget-comments .avatar {
    position:relative;
    width:80px;
    height:80px;
    margin:0px;
}

.widget-comments .comment-data-holder {
    padding-left:10px;
}

.widget-comments .comment-bubble .settings {
    top:0px;
    background-color:#292A2F;
    padding:11px 10px 14px 0px;
}

#ui_page .widget-comments .comment-bubble .settings a.hidden {
    display:none !important;
}

.widget-comments .comment-bubble .settings .settings-button {
    text-align:center;
    display:inline-block;
    text-decoration:none;
    color:#ed8c26;
    padding:0px 10px 0px 10px;
}

.widget-comments .comment-bubble .settings .settings-button > i {
    font-size:24px;
    color:#FFF;
    padding-top:8px;
    display:inline-block;
}

.btn {
	color:#FFF;
	text-shadow:none;
	background-color: #ed8c26;
}

.btn.btn-box {
	color:#FFF;
}

.btn.btn-box [class^="icon-"],
.btn.btn-box [class*=" icon-"] {
	font-size:28px;
}

.btn:hover, .btn:active, .btn.active {
	background-color: #ed8c26;
	color:#FFF;
	text-shadow:none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #3074FC;
}

.btn-live-ident, .btn-live-ident:active, .btn-live-ident:hover {
    background-color:#AEEA98;
}

.btn-draft-ident, .btn-draft-ident:active, .btn-draft-ident:hover {
    background-color:#98E5EA;
}

.btn-end-ident, .btn-end-ident:active, .btn-end-ident:hover {
    background-color:#E28271;
}

.btn-all-ident, .btn-all-ident:active, .btn-all-ident:hover {
    background-color:#292A2F;
}

.widget-header .btn-group.open .btn.dropdown-toggle {
    
    background-color:#ed8c26;
}

.dropdown-menu li > a {
    font-size: 14px;
}

.dropdown-menu li > a:hover {
    background-color:#A3D9F9;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-image: -webkit-none;
    background-image: -o-none;
    background-image: none;
}


/* ------------------------------- */
/* ----------- widgets ----------- */


/* ----------- Progress bars ----------- */
#header-prog-bar-holder {
	padding-top:25px;
}

#bar {
}

.progress .bar{
  background-color: #9AD4EC;
  background-image: none;
  box-shadow:none;
}
.progress-striped .bar{
  background-color:#9AD4EC;
  background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.25)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.25)), color-stop(0.75, rgba(255, 255, 255, 0.25)), color-stop(0.75, transparent), to(transparent));
  background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:-moz-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  -webkit-background-size:40px 40px;
  -moz-background-size:40px 40px;
  -o-background-size:40px 40px;
  background-size:40px 40px;
}
.progress-danger.progress-striped .bar, .progress-striped .bar-danger{
  background-color: #F98886;
  background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.25)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.25)), color-stop(0.75, rgba(255, 255, 255, 0.25)), color-stop(0.75, transparent), to(transparent));
  background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:-moz-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
}
.progress-success.progress-striped .bar, .progress-striped .bar-success{
  background-color: #9DD68B;
  background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.25)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.25)), color-stop(0.75, rgba(255, 255, 255, 0.25)), color-stop(0.75, transparent), to(transparent));
  background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:-moz-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
}
.progress-warning.progress-striped .bar, .progress-striped .bar-warning {
  background-color: #F7C15D;
  background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.25)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.25)), color-stop(0.75, rgba(255, 255, 255, 0.25)), color-stop(0.75, transparent), to(transparent));
  background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:-moz-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
}
.progress-info.progress-striped .bar, .progress-striped .bar-info {
  background-color: #9AD4EC;
  background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.25)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.25)), color-stop(0.75, rgba(255, 255, 255, 0.25)), color-stop(0.75, transparent), to(transparent));
  background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:-moz-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent); 
}




.progress-success .bar, .progress .bar-success{
  background-color: #9DD68B;
}
.progress-warning .bar, .progress .bar-warning{
  background-color: #F7C15D;
}
.progress-danger .bar, .progress .bar-danger{
  background-color: #F98886;
}



/* responsive css */

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body{
      padding: 0!important;
    }
    .nav-collapse.collapse{
      position: static!important;
      width: auto!important;
    }
    .navbar-fixed-top{
      margin: 0!important;
    }
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{
      padding: 0!important;
    }
    label {
      text-align:left;
      width: 100%;
    }
    label input {
      text-align:left;
      width: 100%;
    }   
    label select {
      text-align:left;
      width: 100%;
    }   
    .widget-padding .widget-body{
      padding:5px!important;
    }
    .widget{
      margin-bottom:25px;
    }
    .row-fluid .widget:last-child{
      margin-bottom: 0;
    }
    .accordion-group{
      margin: 0;
    }
    .user_side{
      padding: 15px 5px;
    }
    .main_container{
      margin-left: 0px!important;
      left: 0!important;
    }
    .logo {
      margin: 0 90 0 11px;
    }   
    .overview_boxes .box_row > div:last-child{
      margin-right: 0;
    }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .sidebar{
      width: 100%!important;
    }
    .navbar-fixed-top{
      margin: 0!important;
      position: fixed!important;
    }
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{
      padding: 0!important;
    }
    .nav-collapse.collapse {
      position: fixed;
      width: 150px;
      height: 100% !important;
      background: #292A2F; 
      left: -150px;
    }
    .main_container{
      margin-left: 150px !important;
    }
    .accordion-heading .accordion-toggle {
      display: block;
      padding: 8px 10px;
    }
    .user_side{
      padding: 15px 5px;
    }
    .logo {
      margin: 0 90 0 11px;
    }   
    .overview_boxes .box_row > div:last-child{
      margin-right: 0;
    }
}
@media (min-width: 980px) and (max-width: 1200px) {
    .nav-collapse.collapse {
      position: fixed;
      width: 170px;
      height: 100% !important;
      background: #292A2F; 
      left: 0!important;
    }
    .main_container{
      margin-left: 170px!important;
      left: 0!important;
    }
    .logo {
      margin: 0 90px 0 11px;
    }  
    .overview_boxes .box_row > div:last-child{
      margin-right: 0;
    }
}
/* Large desktop */
@media (min-width: 1200px) {
    .nav-collapse.collapse {
      position: fixed;
      width: 230px;
      height: 100% !important;
      background: #292A2F; 
      left: 0;
    }
    
    
    .main_container{
      margin-left: 230px;
      left: 0!important;
    }
    
    
    .logo {
      margin: 0 0px 0 11px;
    }    
}

.main_container.marg-left-override {
    margin-left: 0px !important;
}

.nav-collapse.collapse.left-override {
    left: -230px !important;
}