﻿@using Masnet3.Model.ViewModel
@model RetailerLocationViewModel

<div class="row">
    <div class="col-sm-3">
        <input type="text"
               id="retailerLocationByName"
               class="form-control"
               placeholder="Perferred Retailer" />
    </div>
    <div class="col-sm-3">
        <input type="text"
               id="retailerLocationByCity"
               class="form-control"
               placeholder="Retailer City/Town" />
    </div>
</div>
<div class="table-responsive" style="margin-top: 15px;">
    <table id="retailerLocationTable"
           class="table table-striped">
        <thead>
            <tr>
                <th>Perferred Retailer</th>
                <th>Retailer City/Town</th>
                <th>Street Address</th>
                <th>Province</th>
                <th>Postal Code</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.retailerLocation)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.City</td>
                    <td>@item.StreetAddress</td>
                    <td>@item.Province</td>
                    <td>@item.PostalCode</td>
                    <td>@item.Phone</td>
                    <td>
                        <button type="button"
                                class="btn btn-link"
                                data-name="@item.Name"
                                data-city="@item.City"
                                onclick="retailerLocation.choose(this)">
                            Choose
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>