﻿@using Masnet3.Common.Helper
@using Masnet3.Common
@using Masnet3.Common.Utilities
@using Newtonsoft.Json 
@using MASNET.DataAccess.Constants.Enums
@model Masnet3.Model.ViewModel.RegisterViewModel
@if (Model.ShowTrackingCode)
{
    @section head {
        <!-- Google Tag Manager -->
        <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5GD4K2');</script>
        <!-- End Google Tag Manager -->
    }

    @section topBody{
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GD4K2"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    }
    @section bottomBody {
        <script type="text/javascript">
        piAId = '78402';
        piCId = '31496';
        piHostname = 'pi.pardot.com';

        (function() {
	        function async_load(){
		        var s = document.createElement('script'); s.type = 'text/javascript';
		        s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
		        var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
	        }
	        if(window.attachEvent) { window.attachEvent('onload', async_load); }
	        else { window.addEventListener('load', async_load, false); }
        })();
        </script>
    }
}

<div class="register-form">
    @using (Html.BeginForm("Register", "Customer", FormMethod.Post, new { id = "frmRegister", autocomplete = "off" }))
    {
        @Html.Hidden("UserType", Model.Registration.UserType)
        @Html.Hidden("RegistrationType", "")
        @Html.Hidden("returnURL", Model.ReturnUrl)
        @Html.Hidden("TenantID", Model.Registration.TenantID)
        
        <input type="hidden" id="ValidationKey" name="ValidationKey" value="@ViewBag.ValidationKey" />
        <input type="hidden" id="ShareId" name="ShareId" value="@ViewBag.ShareId" />
        <input type="hidden" id="ReferID" name="ReferID" value="@ViewBag.ReferId"]" />
        <input type="hidden" id="Under13" name="ReferID" value="@ViewBag.Under13" />

        <div class="row">
            <div class="col-md-8">
                <h1 class="heading">
                    @DbLanguage.GetText("Register_Header", 1)
                </h1>
                @if (Model.keyStandardElements.FirstName.Key != null
                    || Model.keyStandardElements.LastName.Key != null)
                {
                    <div class="row">
                        @if (Model.keyStandardElements.FirstName.Key != null)
                        {
                            var requriedClass = (bool)Model.keyStandardElements.FirstName.Value["IsRequired"] ? "required" : "";
                            var label = Model.keyStandardElements.FirstName.Value["Label"] as string;

                            <div class="col-sm-6">
                                <div class="form-group @requriedClass">
                                    @Html.TextBox(Model.keyStandardElements.FirstName.Key,
                                        "",
                                        new
                                        {
                                            maxlength = "30",
                                            placeholder = label,
                                            @class = "form-control"
                                        })
                                    @Html.ValidationMessage(Model.keyStandardElements.FirstName.Key)
                                </div>
                            </div>
                        }
                        @if (Model.keyStandardElements.LastName.Key != null)
                        {
                            var requriedClass = (bool)Model.keyStandardElements.LastName.Value["IsRequired"] ? "required" : "";
                            var label = Model.keyStandardElements.LastName.Value["Label"] as string;

                            <div class="col-sm-6">
                                <div class="form-group @requriedClass">
                                    @Html.TextBox(Model.keyStandardElements.LastName.Key,
                                        "",
                                        new
                                        {
                                            maxlength = "30",
                                            placeholder = label,
                                            @class = "form-control"
                                        })
                                    @Html.ValidationMessage(Model.keyStandardElements.LastName.Key)
                                </div>
                            </div>
                        }
                    </div>
                }
                @if (Model.keyStandardElements.City.Key != null
                    || Model.keyStandardElements.Provine.Key != null
                    || Model.keyStandardElements.Zip.Key != null)
                {
                    <div class="row">
                        @if (Model.keyStandardElements.City.Key != null)
                        {
                            var requriedClass = (bool)Model.keyStandardElements.City.Value["IsRequired"] ? "required" : "";
                            var label = Model.keyStandardElements.City.Value["Label"] as string;

                            <div class="col-sm-6">
                                <div class="form-group @requriedClass">
                                    @Html.TextBox(Model.keyStandardElements.City.Key,
                                        "",
                                        new
                                        {
                                            placeholder = label,
                                            @class = "form-control",
                                            maxlength = 30
                                        })
                                    @Html.ValidationMessage(Model.keyStandardElements.City.Key)
                                </div>
                            </div>
                        }
                        @if (Model.keyStandardElements.Provine.Key != null)
                        {
                            var requriedClass = (bool)Model.keyStandardElements.Provine.Value["IsRequired"] ? "required" : "";
                            var label = Model.keyStandardElements.Provine.Value["Label"] as string;

                            <div class="col-sm-3">
                                <div class="form-group @requriedClass">
                                    @Html.DropDownList(Model.keyStandardElements.Provine.Key,
                                        Model.ProvinceArray,
                                        label,
                                        new
                                        {
                                            @class = "form-control"
                                        })
                                    @Html.ValidationMessage(Model.keyStandardElements.Provine.Key)
                                </div>
                            </div>
                        }
                        @if (Model.keyStandardElements.Zip.Key != null)
                        {
                            var requriedClass = (bool)Model.keyStandardElements.Zip.Value["IsRequired"] ? "required" : "";
                            var label = Model.keyStandardElements.Zip.Value["Label"] as string;

                            <div class="col-sm-3">
                                <div class="form-group @requriedClass">
                                    @Html.TextBox(Model.keyStandardElements.Zip.Key,
                                        "",
                                        new
                                        {
                                            maxlength = "7",
                                            placeholder = label,
                                            @class = "form-control"
                                        })
                                    @Html.ValidationMessage(Model.keyStandardElements.Zip.Key)
                                </div>
                            </div>
                        }
                    </div>
                }
                @if (Model.keyStandardElements.EmailAddress.Key != null
                    || Model.keyStandardElements.Phone.Key != null)
                {
                    <div class="row">
                        @if (Model.keyStandardElements.EmailAddress.Key != null)
                        {
                            var requriedClass = (bool)Model.keyStandardElements.EmailAddress.Value["IsRequired"] ? "required" : "";
                            var label = Model.keyStandardElements.EmailAddress.Value["Label"] as string;

                            <div class="col-sm-6">
                                <div class="form-group @requriedClass">
                                    @Html.TextBox(Model.keyStandardElements.EmailAddress.Key,
                                        "",
                                        new
                                        {
                                            maxlength = "200",
                                            placeholder = label,
                                            @class = "form-control required email"
                                        })
                                    @Html.ValidationMessage(Model.keyStandardElements.EmailAddress.Key)
                                </div>
                            </div>
                        }
                        @if (Model.keyStandardElements.Phone.Key != null)
                        {
                            var requriedClass = (bool)Model.keyStandardElements.Phone.Value["IsRequired"] ? "required" : "";
                            var label = Model.keyStandardElements.Phone.Value["Label"] as string;

                            <div class="col-sm-6">
                                <div class="form-group @requriedClass">
                                    @Html.TextBox(Model.keyStandardElements.Phone.Key,
                                        "",
                                        new
                                        {
                                            placeholder = label,
                                            @class = "form-control",
                                            maxlength = 10
                                        })
                                    @Html.ValidationMessage(Model.keyStandardElements.Phone.Key)
                                </div>
                            </div>
                        }
                    </div>
                }
                @if (Model.keyStandardElements.Retailer.Key != null
                    || Model.keyStandardElements.RetailerLocation.Key != null)
                {
                    <div class="row">
                        @if (Model.keyStandardElements.Retailer.Key != null)
                        {
                            var requriedClass = (bool)Model.keyStandardElements.Retailer.Value["IsRequired"] ? "required" : "";
                            var label = Model.keyStandardElements.Retailer.Value["Label"] as string;

                            <div class="col-sm-6">
                                <div class="form-group @requriedClass">
                                    @Html.TextBox(Model.keyStandardElements.Retailer.Key,
                                        "",
                                        new
                                        {
                                            placeholder = label,
                                            @class = "form-control"
                                        })
                                    @Html.ValidationMessage(Model.keyStandardElements.Retailer.Key)
                                </div>
                            </div>
                        }
                        @if (Model.keyStandardElements.RetailerLocation.Key != null)
                        {
                            var requriedClass = (bool)Model.keyStandardElements.RetailerLocation.Value["IsRequired"] ? "required" : "";
                            var label = Model.keyStandardElements.RetailerLocation.Value["Label"] as string;

                            <div class="col-sm-6">
                                <div class="form-group @requriedClass">
                                    @Html.TextBox(Model.keyStandardElements.RetailerLocation.Key,
                                        "",
                                        new
                                        {
                                            placeholder = label,
                                            @class = "form-control"
                                        })
                                    @Html.ValidationMessage(Model.keyStandardElements.RetailerLocation.Key)
                                </div>
                            </div>
                        }
                    </div>
                }

                <button type="button"
                        class="btn btn-link"
                        data-toggle="modal"
                        data-target="#retailerLocationModal">
                    Find the Retailer Location Near You
                </button>

                <div class="checkbox">
                    <span class="asterik-checkbox">*</span>
                    <label class="form-control-required">
                        <input class="register-agreement" type="checkbox" name="RegisterAgreement" id="RegisterAgreement">
                        <span>
                            @Html.Raw(DbLanguage.GetText("Register_Agreement", "Customer/Register", 1)
                                .Replace("Terms & Conditions", "<a href='https://www.syngenta.com/site-services/terms-and-conditions' target='_blank'>Terms & Conditions</a>"))
                        </span>
                    </label>
                    <div>@Html.ValidationMessage("RegisterAgreement")</div>
                </div>

                @if (Model.HasBeginForm)
                {
                    <div class="form-group">
                        <div class="row">
                            <div class="fieldName col-sm-5"></div>
                            <div class="fieldControl col-sm-7">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="SubmitAgreement" id="SubmitAgreement" style="position: inherit; margin-right: 8px;">
                                        <span>I would like to receive updates from National Geographic</span>
                                    </label>
                                    <div>@Html.ValidationMessage("SubmitAgreement")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-4">
                <h1 class="heading">
                    Booking intentions
                </h1>
                @for (var i = 0; i < Model.BookingIntentions.Count; i++)
                {
                    var requriedClass = i == 0 ? "required" : "";

                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group variety @requriedClass">
                                @Html.DropDownListFor(x => x.BookingIntentions[i].Variety,
                                    Model.varietyArray,
                                    "Variety",
                                    new
                                    {
                                        @class = "form-control"
                                    })
                                @Html.ValidationMessageFor(x => x.BookingIntentions[i].Variety)
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-9">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.BookingIntentions[i].Amount,
                                    new
                                    {
                                        @maxlength = "5",
                                        @class = "form-control"
                                    })
                                @Html.ValidationMessageFor(x => x.BookingIntentions[i].Amount)
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-3">
                            <div class="unit-label">
                                acres
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div style="@StyleHelper.ReverseForRTL("text-align: left;") padding-top: 10px; padding-bottom: 10px;" class="form-group">
                <div class="fieldControl">
                    <button type="button" id="btnRegister" style="margin-left: 15px;" class="btn btn-primary cmdbutton btn-custom" @Commons.ContentEdittable("ButtonRegister", "cmdbutton") onclick="return false;">@DbLanguage.GetText("ButtonRegister", 1)</button>
                    @DbLanguage.GetHelpText("ButtonRegister", KeyType: 1)
                    @if (Model.DisplayLogin && !Model.HasBeginForm)
                    {
                        <button id="btnLogin" type="button" class="btn btn-primary cmdbutton btn-custom" @Commons.ContentEdittable("ButtonLogin", "cmdbutton") style="display: @(Model.ShowLoginForm == true ? "none" : "")" onclick="window.location.href = '@Url.SZAction("Index", "Home")'">@DbLanguage.GetText("gButton_Cancel", 1)</button>
                    }
                </div>
            </div>

            @if (Model.RegistrationAutoConfirm != "1" && false)
            {
                <div>
                    <div class="row" style="padding-left: 15px;">
                        After registration, you will receive a confirmation e-mail from us.
                    </div>
                </div>
            }
        </div>
    }
    <div class="modal fade"
         id="retailerLocationModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_RetailerLocation", Model.RetailerLocation)
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.10.3.autocomplete.min.js"></script>

    <script>
        var props = {
            isExistsRetailerName: false,
            isExistsRetailerCity: false,
            isRealEmail: false,
            retailerNameArray: [],
            retailerCityArray: []
        };

        var selectors = {
            registerForm: $("#frmRegister"),
            retailerName: $('#Registration_Field_4'),
            retailerCity: $('#Registration_Field_3'),
            retailerLocationModal: $('#retailerLocationModal'),
            retailerLocationByName: $('#retailerLocationByName'),
            retailerLocationByCity: $('#retailerLocationByCity'),
            retailerLocationTable: $('#retailerLocationTable')
        };

        var retailerLocation = {
            choose: function (element) {

                var name = $(element).data('name');
                var city = $(element).data('city');

                selectors.retailerName.val(name);
                selectors.retailerCity.val(city);

                props.isExistsRetailerName = true;
                props.isExistsRetailerCity = true;

                selectors.retailerName.valid();
                selectors.retailerCity.valid();

                selectors.retailerLocationModal.modal('hide');
            }
        };

        props.retailerNameArray = @Html.Raw(JsonConvert.SerializeObject(Model.RetailerNameArray));
        props.retailerCityArray = @Html.Raw(JsonConvert.SerializeObject(Model.RetailerCityArray));

        $.validator.addMethod("NameValidate", function (value, element) {
            if (value != '') {
                if (!(value.substr(0, 1).match(/[A-Za-z]/) != null))
                    return false;

                if (!(value.match(/^[a-zA-Z '\.-]+$/) != null))
                    return false;
            }
            return true;
        });

        $.validator.addMethod('existsRetailerName', function (value, element) {
            return props.isExistsRetailerName;
        });

        $.validator.addMethod('existsRetailerCity', function (value, element) {
            return props.isExistsRetailerCity;
        });

        $.validator.addMethod('realEmail', function (value, element) {
            return props.isRealEmail;
        });

        $.validator.addMethod('duplicateVariety1', function (value, element) {
            var variety0 = $('#BookingIntentions_0__Variety').val();
            var variety1 = $('#BookingIntentions_1__Variety').val();
            var variety2 = $('#BookingIntentions_2__Variety').val();

            return !variety1 || (variety1 !== variety0 && variety1 !== variety2);
        });

        $.validator.addMethod('duplicateVariety2', function (value, element) {
            var variety0 = $('#BookingIntentions_0__Variety').val();
            var variety1 = $('#BookingIntentions_1__Variety').val();
            var variety2 = $('#BookingIntentions_2__Variety').val();

            return !variety2 || (variety2 !== variety0 && variety2 !== variety1);
        });

        selectors.retailerLocationByName.on('keyup', function () {
            searchRetailerLocation();
        });

        selectors.retailerLocationByCity.on('keyup', function () {
            searchRetailerLocation();
        });

        $('#BookingIntentions_0__Variety, #BookingIntentions_1__Variety, #BookingIntentions_2__Variety').on('change', function () {
            $('#BookingIntentions_0__Variety').valid();
            $('#BookingIntentions_1__Variety').valid();
            $('#BookingIntentions_2__Variety').valid();
        });

        function searchRetailerLocation() {
            var nameSearch = selectors.retailerLocationByName.val();
            var citySearch = selectors.retailerLocationByCity.val();

            if (nameSearch) {
                nameSearch = nameSearch.toLowerCase().trim();
            }

            if (citySearch) {
                citySearch = citySearch.toLowerCase().trim();
            }

            selectors.retailerLocationTable.find('tbody tr').each(function () {
                var name = $(this).find('td:nth-child(1)').text().toLowerCase().trim();
                var city = $(this).find('td:nth-child(2)').text().toLowerCase().trim();
                var exists = (
                    name.indexOf(nameSearch) !== -1
                    && city.indexOf(citySearch) !== -1
                );

                $(this).toggle(exists);
            });
        };

        $(document).ready(function () {
            var isIFrame = location.href.indexOf("iframe_");
            if (parent != self && isIFrame > -1)
                $('#RegistrationType').val("@((int)Enums.RegistrationType.Facebook)");

            //$("#Username, #Email").change(function () {
            //    $(this).attr("data-changed", "1");
            //    $(this).val($.trim($(this).val()));
            //});

            //var intervalValidation = setInterval(function () {
            //    $("[data-changed]").each(function () {
            //        $(this).valid();
            //        $(this).removeAttr("data-changed");
            //    });
            //}, 500);

            initControls();
            initValidation();
        });

        function initControls() {
            $("#btnRegister").click(function () {
                $(this).attr("data-clicked", "1");

                fadeIn();

                if ($("#frmRegister").valid()) {

                    $(this).removeAttr("data-clicked");
                    $(this).attr("disabled", "disabled");

                    var data = JSON.stringify(GetProfileInfo());
                    var url = '@Url.SZAction("Register", "Customer", new { returnURL = Model.ReturnUrl })';

                    var submit = $.ajax({
                        type: "POST",
                        url: url,
                        data: data,
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        cache: false,
                        success: function (data) {
                            ////$(this).removeAttr("disabled");
                            $("#btnRegister").removeAttr("disabled");

                            if (data.Result == "ok") {
                                createBookingIntention(data.Data.UserID);
                            }
                            else {
                                fadeOut();
                                if (data.RedirectUrl != null && data.RedirectUrl.trim() != null) {
                                    window.location.href = data.RedirectUrl;
                                    return false;
                                }
                                else {
                                    if (data.ErrorMessage) {
                                        alert(data.ErrorMessage);
                                    }
                                    else if(data.Message) {
                                        showDialog({ "message": data.Message, "btnOK": "1" });
                                        setTimeout(function() { window.location.reload(true); }, 5000);
                                    }
                                    else {
                                        alert(data);
                                    }
                                }
                            }
                            //$(this).removeAttr("disabled");
                            $("#btnRegister").removeAttr("disabled");
                        }
                    });

                    changeEmail(submit);
                }
                else {
                    fadeOut();
                }

                return false;
            });

            $("#btnRegister").removeAttr("onclick");
        }

        initInputNumber('#BookingIntentions_0__Amount');
        initInputNumber('#BookingIntentions_1__Amount');
        initInputNumber('#BookingIntentions_2__Amount');
        initInputNumber('#Registration_Field_5');

        function initInputNumber(element) {
            $(element).keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
            });
        }

        function initValidation() {
            var submitSettings = $.data($("#frmRegister").get(0), 'validator').settings;

            //submitSettings.onkeyup = function (element, event) {
            //    if (!($(element).is("#Registration_Field_3") == true || $(element).is("#Email") == true || $(element).is("#Username"))) {
            //        var code = event.keyCode || event.which;
            //        if (code != '9')  //not Tab key
            //        {
            //            $(element).valid();
            //        }
            //    }
            //};

            //submitSettings.onfocusin = function (element) {
            //    if (!($(element).is("#Registration_Field_3") == true || $(element).is("#Email") == true || $(element).is("#Username"))) {
            //        $(element).valid();
            //    }
            //};

            //submitSettings.onfocusout = function (element) {
            //    if (!($(element).is("#Email") == true || $(element).is("#Username"))) {
            //        $(element).valid();
            //    }
            //    else {
            //        $(this).attr("data-changed", "1");
            //    }
            //};

            submitSettings.rules = {
                Email: {
                    required: true,
                    email: true,
                    maxlength: 255,
                    realEmail: true,
                    remote: {
                        url: '@Url.SZAction("EmailExists", "Customer")',
                        type: "post",
                        async: true,
                        cache: false
                    }
                },
                FirstName: {
                    NameValidate: true,
                    required: true
                },
                LastName: {
                    NameValidate: true,
                    required: true
                },
                City: {
                    required: true
                },
                Provine: {
                    required: true
                },
                Zip: {
                    required: false,
                    maxlength: 7,
                },
                Registration_Field_4: {
                    required: true,
                    existsRetailerName: true
                },
                Registration_Field_3: {
                    required: true,
                    existsRetailerCity: true
                },
                Registration_Field_5: {
                    required: true
                },
                RegisterAgreement: {
                    required: true
                },
                'BookingIntentions[0].Variety': {
                    required: true,
                },
                'BookingIntentions[1].Variety': {
                    duplicateVariety1: true,
                },
                'BookingIntentions[2].Variety': {
                    duplicateVariety2: true,
                },
                'BookingIntentions[0].Amount': {
                    required: true,
                    range: [1, 99999],
                    digits: true
                },
                'BookingIntentions[1].Amount': {
                    range: [1, 99999],
                    digits: true
                },
                'BookingIntentions[2].Amount': {
                    range: [1, 99999],
                    digits: true
                }
            };

            submitSettings.messages = {
                Email: {
                    email: "@DbLanguage.GetText("gValidationEmailInvalid", 1)",
                    required: "@DbLanguage.GetText("Register_EmailRequired", pagename: "Registration/Register")",
                    realEmail: '@DbLanguage.GetText("gValidationEmailInvalid", 1)',
                    remote: "@DbLanguage.GetText("gValidationEmailExisted")",
                },
                FirstName: {
                    required: "@DbLanguage.GetText("gValidationFirstNameInvalid", 1)",
                    NameValidate: "@DbLanguage.GetText("RegisterValidationFirstName", 1)",
                },
                LastName: {
                    required: "@DbLanguage.GetText("gValidationLastNameInvalid", 1)",
                    NameValidate: "@DbLanguage.GetText("RegisterValidationLastName", 1)",
                },
                Zip: {
                    regex: "@DbLanguage.GetText("Register_ValidationZip", 1)",
                    required: "@DbLanguage.GetText("Register_ValidationZip", 1)"
                },
                Registration_Field_4: {
                    required: "@DbLanguage.GetText("Register_SelectRetailerRequire", 1)",
                    existsRetailerName: '@DbLanguage.GetText("Register_RetailerNameNotFound", 1)'
                },
                Registration_Field_3: {
                    required: "@DbLanguage.GetText("Register_SelectRetailerLocation", 1)",
                    existsRetailerCity: '@DbLanguage.GetText("Register_RetailerCityNotFound", 1)'
                },
                Registration_Field_5: {
                    required: '@DbLanguage.GetText("gValidationPhoneInvalid", 1)'
                },
                City: {
                    required: "@DbLanguage.GetText("gValidationCityInvalid", 1)",
                    NameValidate: "@DbLanguage.GetText("RegisterValidationCity", 1)",
                },
                Provine: {
                    required: "@DbLanguage.GetText("gValidationProvineInvalid", 1)",
                    NameValidate: "@DbLanguage.GetText("RegisterValidationProvine", 1)",
                },
                RegisterAgreement: {
                    required: "@DbLanguage.GetText("gValidationSubmitAgreement", 1)"
                },
                'BookingIntentions[0].Variety': {
                    required: '@DbLanguage.GetText("Register_VarietyInvalid", 1)'
                },
                'BookingIntentions[1].Variety': {
                    duplicateVariety1: '@DbLanguage.GetText("Register_VarietyIsDuplicate", 1)'
                },
                'BookingIntentions[2].Variety': {
                    duplicateVariety2: '@DbLanguage.GetText("Register_VarietyIsDuplicate", 1)'
                },
                'BookingIntentions[0].Amount': {
                    required: '@DbLanguage.GetText("Register_AmountInvalid", 1)',
                    range: '@DbLanguage.GetText("Register_AmountOutrange", 1)',
                    digits: '@DbLanguage.GetText("Register_AmountDigitsInvalid", 1)'
                },
                'BookingIntentions[1].Amount': {
                    range: '@DbLanguage.GetText("Register_AmountOutrange", 1)',
                    digits: '@DbLanguage.GetText("Register_AmountDigitsInvalid", 1)'
                },
                'BookingIntentions[2].Amount': {
                    range: '@DbLanguage.GetText("Register_AmountOutrange", 1)',
                    digits: '@DbLanguage.GetText("Register_AmountDigitsInvalid", 1)'
                }
            };

            @foreach (var item in Model.StandardFields)
            {
                if (item.MaxLength > 0)
                {
                    @:$("#@(item.ItemName)").attr("maxlength", "@item.MaxLength");
                }

                if (!string.IsNullOrWhiteSpace(item.RegEx))
                {
                    if (item.RegEx.ToLower().Contains("jquery.maskedinput.min.js") == true)
                    {
                        @:loadJS(SiteURL.Root + 'Scripts/jquery.maskedinput.min.js');

                        @:$("#@(item.ItemName)").@(Html.Raw(item.RegEx.Substring("jquery.maskedinput.min.js".Length + 1)))
                    }
                    else
                    {
                        @:submitSettings.rules.@(item.ItemName).regex = "@(item.RegEx.Replace(@"\", @"\\"))";

                        if (!string.IsNullOrWhiteSpace(item.RegExMessage))
                        {
                            @:submitSettings.messages.@(item.ItemName).regex = "@(item.RegExMessage)";
                        }
                    }
                }

                if (!string.IsNullOrWhiteSpace(item.Placeholder))
                {
                    @:$("#@(item.ItemName)").attr("placeholder", "@item.Placeholder");
                }
            }


            @foreach (var item in Model.ElementRules)
            {
                @:ApplyRule($("#frmRegister [name=@(item.Key)]"), @(string.IsNullOrEmpty(item.Value.ToString()) ? Html.Raw("''") : Html.Raw(item.Value)));
            }
        }

        function GetProfileInfo() {
            var isUnder13 = $('#Under13').val() == 1;
            var reg = {
                ApplicationID: "@Model.ApplicationID",
                ContestID: "@Model.ContestID",
                UserType: "@Model.Registration.UserType",
                RegistrationCustoms: [],
                RegistrationType:$("#RegistrationType").val(),
                ValidationKey: $('#ValidationKey').val(),
                ShareId: $('#ShareId').val(),
                ReferID: $('#ReferID').val(),
                Under13: isUnder13 ? 1 : ""
            };

            if ($("#FirstName").length > 0) {
                reg.FirstName = $("#FirstName").val().trim();
            }

            if ($("#LastName").length > 0) {
                reg.LastName = $("#LastName").val().trim();
            }

            for (var fieldIndex = 1; fieldIndex <= 10; fieldIndex++) {
                if ($("#Registration_Field_" + fieldIndex).length > 0) {
                    reg["Registration_Field_" + fieldIndex] = $("#Registration_Field_" + fieldIndex).val().trim();
                }
            }

            if ($("#City").length > 0) {
                reg.City = $("#City").val().trim();
            }

            if ($("#Provine").length > 0) {
                reg.Provine = $("#Provine").val().trim();
            }

            if ($("#Zip").length > 0) {
                reg.Zip = $("#Zip").val().trim();
            }

            if ($("#Email").length > 0) {
                if(isUnder13){
                    reg.Email = $("#Username").val().trim();
                    reg.AlternativeEmail = $("#Registration_Field_3").val().trim();
                }
                else{
                    reg.Email = $("#Email").val().trim();
                }
            }

            if ($("#dvCustomFields .customefield").length > 0) {
                $("#dvCustomFields .customefield").each(function () {
                    var customfieldid = $(this).attr("customfieldid");
                    var controltype = $(this).attr("customfieldtype");

                    if (controltype == "Textbox") {
                        reg.RegistrationCustoms.push({
                            RegistrationCustomID: 0,
                            UserID: "@SessionUtilities.CurrentUser.UserID",
                            CustomFieldID: customfieldid,
                            Value: $(".fieldControl input:text", $(this)).val().trim()
                        });
                    }
                    else if (controltype == "Dropdownlist") {
                        reg.RegistrationCustoms.push({
                            RegistrationCustomID: 0,
                            UserID: "@SessionUtilities.CurrentUser.UserID",
                            CustomFieldID: customfieldid,
                            Value: $(".fieldControl select", $(this)).val()
                        });
                    }
                    else if (controltype == "RadioList") {
                        reg.RegistrationCustoms.push({
                            RegistrationCustomID: 0,
                            UserID: "@SessionUtilities.CurrentUser.UserID",
                            CustomFieldID: customfieldid,
                            Value: $(".fieldControl input:radio:checked", $(this)).val()
                        });
                    }
                    else if (controltype == "Checklist")
                        $(".fieldControl input:checkbox:checked", $(this)).each(function () {
                            reg.RegistrationCustoms.push({
                                RegistrationCustomID: 0,
                                UserID: "@SessionUtilities.CurrentUser.UserID",
                                CustomFieldID: customfieldid,
                                Value: $(this).val()
                            });
                        })
                })
            }

            if ($("#CustUserType").length > 0 && $(":radio[name=CustUserType]:checked").size() > 0) {
                reg.CustUserType = $(":radio[name=CustUserType]:checked").val();
            }

            return reg;
        }

        // Code new site
        function autocompleteMatch(request, response, dataSource) {

            var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");

            response($.grep(dataSource, function (item) {
                return matcher.test(item);
            }));
        }

        function initRetailerCity() {
            selectors.retailerCity.autocomplete({
                source: function (request, response) {
                    autocompleteMatch(request, response, props.retailerCityArray);
                },
                select: function (event, ui) {
                    props.isExistsRetailerCity = true;
                    selectors.retailerCity.valid();
                }
            });
        }

        selectors.retailerName.autocomplete({
            source: function (request, response) {
                autocompleteMatch(request, response, props.retailerNameArray);
            },
            select: function (event, ui) {
                props.isExistsRetailerName = true;
                selectors.retailerName.valid();
            }
        });

        initRetailerCity();

        selectors.retailerName.on('change', function () {

            selectors.retailerCity.val('');

            var value = $(this).val();

            if (props.retailerNameArray.indexOf(value) > -1) {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '@Url.Action("RetailerCityAutocomplete", "Customer")',
                    data: {
                        retailerName: value
                    },
                    success: function (response) {
                        if (response) {

                            props.isExistsRetailerName = true;
                            selectors.retailerName.valid();

                            props.retailerCityArray = response;

                            initRetailerCity();
                        }
                    },
                    error: function () {
                        console.log('Failed to load retailer city/tower');
                    }
                });
            }
            else {
                props.isExistsRetailerName = false;
                selectors.retailerName.valid();
            }
        });

        selectors.retailerCity.on('change', function () {

            var value = $(this).val();

            props.isExistsRetailerCity = (props.retailerCityArray.indexOf(value) > -1);
            selectors.retailerCity.valid();
        });

        function createBookingIntention(userId) {

            var data = [];

            for (i = 0; i < 3; i++) {

                var variety = $('#BookingIntentions_' + i + '__Variety').val();
                var amount = $('#BookingIntentions_' + i + '__Amount').val();

                if (variety) {
                    data.push({
                        userId: userId,
                        variety: variety,
                        amount: amount
                    });
                }
            }

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                dataType: 'json',
                url: '@Url.Action("RegisterBookingIntention", "Customer")',
                data: JSON.stringify(data),
                success: function(response) {
                    if (response === 'OK') {
                        window.location.href = '@Url.SZAction("RegisterConfirmation", "Customer")';
                    }
                }
            });
        }

        $('#Email').focusout(function (e) {
            if (e && e.relatedTarget && e.relatedTarget.id == "btnRegister") {
                props.isRealEmail = true;
                $('#btnRegister').trigger('click');
            }
            else {
                changeEmail();
            }
        });

        function changeEmail(callback) {
            props.isRealEmail = true;
            if ($("#Email").valid()) {
                props.isRealEmail = false;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("VerifyEmail", "Customer")",
                    data: {
                        email: $("#Email").val()
                    },
                    success: function (data) {
                        if (data.result.toLowerCase() == "ok") {
                            props.isRealEmail = true;
                            $("#Email").valid();

                            if (callback) {
                                callback();
                            }
                        }
                        else {
                            props.isRealEmail = false;
                            $("#Email").valid();
                        }
                    }
                });
            }
        }

    </script>
}
