﻿@using Masnet3.Common.Helper
@using Masnet3.Common
@using Masnet3.Common.Utilities
@using Newtonsoft.Json
@using MASNET.DataAccess.Constants.Enums
@model Masnet3.Model.ViewModel.LayoutViewModel
@{
    ViewBag.Title = DbLanguage.GetText("PageTitle");
    ViewBag.ContentEdittable = Commons.ContentEdittable("PageTitle", "heading");
    SiteInformation SiteInformation = ViewBag.SiteInformation ?? GlobalVariables.SiteInformation;
}

@if (SiteInformation.ContextName.ToLower().Contains("collette"))
{
    @Html.Raw(DbLanguage.GetText("RegisterConfirmationMessage"))

    <br /><br />
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Submit", "Contest",new { id = SiteInformation.CampaignID })'">YES</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("contestantentrydetail", "publishedcontest",new { id = SiteInformation.CampaignID, contestantentryID=-1 })'">NO</button>
}
else
{
    <div class="register-thanks-message" @Commons.ContentEdittable("RegisterConfirmationMessage", "register-thanks-message")>
        @Html.Raw(string.Format(DbLanguage.GetText("RegisterConfirmationMessage"), Url.Action("Index", "Home")))
    </div>
    @DbLanguage.GetHelpText("RegisterConfirmationMessage")
}


