@import url('https://fonts.googleapis.com/css?family=Roboto:400,700')


@import "vars"

/* ----------- Fonts and typography ----------- */

.gritter-close:before, 
.sidebar-nav .accordion-toggle[data-toggle]:before, 
[class^="icon-"], 
[class*=" icon-"]
    display: inline-block
    font-family: FontAwesome
    font-style: normal
    font-weight: normal
    line-height: 1

@font-face
	font-family: 'Ford Antenna'
	src: url('fonts/FordAntenna-Bold.eot')
	src: local('Ford Antenna Bold'), local('FordAntenna-Bold'),
	url('fonts/FordAntenna-Bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/FordAntenna-Bold.woff') format('woff'),
	url('fonts/FordAntenna-Bold.ttf') format('truetype')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'Ford Antenna'
	src: url('fonts/FordAntenna-Regular.eot')
	src: local('Ford Antenna Regular'), local('FordAntenna-Regular'),
	url('fonts/FordAntenna-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/FordAntenna-Regular.woff') format('woff'),
	url('fonts/FordAntenna-Regular.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Ford Antenna Black'
	src: url('fonts/FordAntenna-Black.eot')
	src: local('Ford Antenna Black'), local('FordAntenna-Black'),
	url('fonts/FordAntenna-Black.eot?#iefix') format('embedded-opentype'),
	url('fonts/FordAntenna-Black.woff') format('woff'),
	url('fonts/FordAntenna-Black.ttf') format('truetype')
	font-weight: 900
	font-style: normal





body
	font-family: $font-heading
	color: $color

h1
	color: $color-accent
	font-size: 35px
	text-align: left
	font-weight: 700
	margin: 0 0 20px
	line-height: 1

p
	font-size: 18px

.uppercase
	text-transform: uppercase

.bold
	font-weight: 700 !important

.semi-bold
	font-weight: 600 !important


.navbar-default .navbar-nav > li > a
	font-family: $font-heading
	text-transform: uppercase
	font-size: 18px



