@import "vars"

/* ----------- Judges ----------- */
.judges-container
	margin-top: 30px
	margin-bottom: 30px

	p
		color: $color-accent
		font-family: $font-heading
		font-weight: 700
		font-size: 20px
		text-align: center
		margin-bottom: 20px

	.info
		text-align: center
		padding: 10px 5px

		.name
			color: $color-accent
			font-size: 18px
			margin-bottom: 5px

		.details
			font-size: 15px
			color: $color
			margin-bottom: 5px
			font-family: $font-body
			font-weight: 400
			line-height: 1

		.city
			font-size: 13px
			font-style: italic
			color: $color
			margin-bottom: 5px
			font-family: $font-body
			font-weight: 400
			line-height: 1

	.image-container
		background-color: #f4f4f4
		border: 1px solid #d7d7d7
		padding: 5px
		text-align: center

@media screen and (min-width: 1130px)
	.judges-container
		margin: 30px 50px


@media screen and (max-width: 767px)
	.judges-container
		padding-left: 10px
		padding-right: 10px

		p
			font-size: 16px

		.info
			.name
				font-size: 10px

			.details
				font-size: 9px

			.city
				font-size: 9px