@import "vars"

/* ----------- Landing ----------- */
#homeCarousel
	margin-left: -30px
	margin-right: -30px
	margin-top: -30px
	background-color: #a01c1c
	box-shadow: inset 0 10px 35px 3px rgba(0, 0, 0, .2)

.carousel-inner
	max-width: 1130px
	margin: auto
	box-shadow: 0 0 15px rgba(#000, .2)
	.item
		border-bottom: 0 solid #000

.page-contest-details,
.page-home-countdown
	
.enter-btn-container
	text-align: center

.preorder
	font-size: 26px
	font-weight: 700
	text-transform: uppercase
	margin-top: 48px

.landing-content-container
	margin-bottom: 15px
	padding: 30px

	.short-description
		font-size: 16px
		margin-right: 60px
		margin-bottom: 30px

.prizes-container
	margin-left: -15px
	margin-right: -15px

.landing-boxes
	color: #4060ae
	
	> div
		padding-left: 0
		padding-right: 0

	.landing-boxes-flex
		display: flex
		flex-wrap: wrap
		margin: 0
	
		a
			padding: 55px 15px
			margin-top: -55px
			margin-bottom: -55px
			text-decoration: none
			display: block
			width: 100%

		a:hover,
		a:active,
		a:focus
			text-decoration: none

		> div
			background: #f9f9f9
			float: none			
			vertical-align: middle
			padding: 55px 15px
			width: 32%
			margin-left: 2%
			position: relative
			display: flex
			align-items: center
			transition: all .2s ease-in-out

		> div:nth-of-type(3n+1)
			margin-left: 0

		> div:nth-of-type(3n+1):after
			content: ''
			position: absolute
			background-color: #09b6ff
			height: 5px
			bottom: 2px
			left: 2px
			right: 2px
			z-index: 1

		> div:nth-of-type(3n+2):after
			content: ''
			position: absolute
			background-color: #f760ee
			height: 5px
			bottom: 2px
			left: 2px
			right: 2px
			z-index: 1

		> div:nth-of-type(3n+3):after
			content: ''
			position: absolute
			background-color: #83ce55
			height: 5px
			bottom: 2px
			left: 2px
			right: 2px
			z-index: 1
	
		> div span
			display: inline-block
			vertical-align: middle

			span
				color: #fff

		> div:nth-of-type(3n+2):hover
			background-color: #f760ee
		
			span
				color: #fff
		


	.icon-div
		background-color: #fff
		box-shadow: 0 0 18px 0 rgba(#000, .05)
		border: 1px solid rgba(#000, .08)

	.icon-blue
		i
	    	color: #09b6ff

	.icon-red
		i
	    	color: #f760ee

	.icon-green
		i
	    	color: #83ce55

	.text
	    width: calc(100% - 85px)
	    font-size: 18px
	    margin-left: 10px
	    letter-spacing: -0.7px
	    line-height: 1.35

	.text:before
	    content: ''
	    display: inline-block
	    height: 100%
	    vertical-align: middle


		

#landing-enter-btn



.preorder-container
	img
		margin-top: 10px
		margin-bottom: 20px
		border: 1px solid $color

@media screen and (max-width: 1024px)
	.landing-boxes .landing-boxes-flex a
		padding: 25px 5px

	.landing-boxes .text
		font-size: 16px
		width: calc(100% - 65px)
	
	.landing-boxes .icon-div, 
	.landing-boxes .icon-div-green, 
	.landing-boxes .icon-div-blue
		width: 40px
		height: 40px
		line-height: 40px

	.landing-boxes .icon-div i, 
	.landing-boxes .icon-div-green i, 
	.landing-boxes .icon-div-blue i
		font-size: 26px
	

@media screen and (max-width: 992px)
	.landing-boxes > div
		display: block
		width: 100%
		margin: 0 0 15px
	
	.short-description	
		font-size: 13px

	.preorder
		font-size: 18px
		margin-top: 40px

@media screen and (max-width: 768px)
	.landing-boxes .text
		font-size: 13px


@media screen and (max-width: 767px)
	.page-contest-details,
	.page-home-countdown
		.page-slogan
			margin-top: 10px
			padding-bottom: 10px

			h1
				font-size: 21px
				margin-top: 10px
				margin-bottom: 10px

	.landing-content-container
		padding: 15px 0

		.short-description
			font-size: 14px
			margin-bottom: 10px

	.video-title
		font-size: 18px
		text-align: left

	.landing-boxes .landing-boxes-flex > div
		display: block
		width: 100%
		margin: 0 10px 10px !important
		padding: 25px 15px
		font-size: 14px

	.landing-boxes .landing-boxes-flex > div > a
		padding: 25px 15px
		margin-top: -25px
		margin-bottom: -25px

	.landing-boxes .text
		font-size: 13px

	.short-description
		font-size: 12px

	.enter-btn-container
		margin: 12px 0

		.btn-primary, 
		.btn-success, 
		.btn-danger
			font-size: 18px
			padding: 10px 22px

	.page-slogan
		.logo
			margin-bottom: 10px
			text-align: center

			img
				display: inline-block


	.preorder
		margin-top: 0

	.preorder-container
		margin-bottom: 30px
		border-bottom: 1px solid $border-color
		padding-bottom: 30px

		.btn-primary, 
		.btn-success, 
		.btn-danger
			font-size: 18px
			padding: 10px 22px

	#homeCarousel
		margin-left: -30px
		margin-right: -30px

