﻿@charset "UTF-8";
body {
	font-family      : sofia-pro, sans-serif;
	line-height      : 1.5;
	background-color : #ffffff;
	color            : #515151;
	font-style       : normal;
	font-weight      : 400;
}
#dvBodyContainer{
	max-width: 1170px;
}

.no-padding-right {
	padding-right : 0;
}

.text-italic {
	font-style : italic;
}

a {
	color : #515151;
}

a:hover {
	text-decoration : none;
	/*color           : #276269;*/
    color: #23527c;
    cursor: pointer;
}

/*.container-admin a:not(.btn) {
    color: #515151;
}*/

/*.container-admin a:not(.btn):hover {
    text-decoration: none;
    color: #276269;
}*/

a:not(.btn):hover, a:focus {
    /*color: #23527c;*/
    text-decoration: underline;
    /*cursor: pointer;*/
}

.btn-lg{
	font-size: 21px !important;
	padding: 15px 40px !important;
}
.btn-info{
	border-radius: 0;
}



/** --- Header --- **/
.header .logo a {
	display : block;
}

.header .logo img,
.header .campaign img {
	margin : 20px auto 40px auto;
}

.header .campaign p {
	margin         : 0;
	padding        : 0;
	font-weight    : 700;
	color          : #ffffff;
	text-transform : uppercase;
	font-size      : 35px;
	text-align     : center;
}

/** --- Content --- **/
.page-wrapper {
	background-color : #276269;
}

.content-wrapper {
	background-color : #dbeceb;
	padding          : 25px 75px;
	margin           : 25px 0;
}

.content-wrapper.expand {
	padding : 25px 55px;
}

.content-wrapper h1 {
	margin      : 0;
	font-size   : 40px;
	color       : #276269;
	font-weight : 700;
	text-align  : center;
}

.content-wrapper p {
	font-size : 24px;
}

.content-wrapper p.gray-title {
	color      : #6d6d6d;
	margin-top : 20px;
}

.content-wrapper .form-layout {
	margin : 20px auto;
	width  : 74%;
}

.content-wrapper .form-layout-extend {
	width      : 100%;
	text-align : center;
}

.form-layout label {
	font-weight : normal;
	font-size   : 19px;
	color       : #666666;
}

.form-layout .form-control {
	border-radius : 0;
	padding       : 6px 12px;
	height        : 47px;
}

.form-layout .btn-primary, .btn-custom {
	border-radius    : 0;
	padding          : 9px 30px;
	background-color : #df484f;
	color            : #ffffff;
	text-transform   : uppercase;
	font-size        : 18px;
	border-color     : #df484f;
    border: 0;
}

.form-layout .btn-primary:focus, .btn-custom:focus {
	outline : none;
}

.form-layout .btn-primary:hover, .btn-custom:hover {
	background-color : #666666;
	color            : #ffffff;
	border-color     : #666666;
}

.form-layout .btn-primary:after, .btn-custom:after {
	content      : "❯";
	padding-left : 5px;
	font-size    : 12px;
	position     : relative;
	top          : -2px;
}

.form-layout .form-group:not(.has-error) .form-control {
	border : 1px solid #e3e3e3;
}

.form-layout .checkbox {
	padding-top : 4px;
}

.form-layout .checkbox label {
	font-size             : 16px;
	text-indent           : 0/*-36px*/;
	-webkit-touch-callout : none;
	-webkit-user-select   : none;
	-khtml-user-select    : none;
	-moz-user-select      : none;
	-ms-user-select       : none;
	user-select           : none;
}

.form-layout .checkbox .custom input[type="checkbox"] {
	margin         : 0;
	position       : relative;
	z-index        : 2;
	cursor         : pointer;
	outline        : none;
	width          : 23px;
	height         : 24px;
	opacity        : 0;
	/* CSS hacks for older browsers */
	_noFocusLine   : expression(this.hideFocus=true);
	-ms-filter     : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter         : alpha(opacity=0);
	-khtml-opacity : 0;
	-moz-opacity   : 0;
}

.form-layout .checkbox .custom {
	width        : 23px;
	height       : 24px;
	display      : inline-block;
	position     : relative;
	z-index      : 1;
	top          : 6px;
	margin-right : 8px;
	background   : url(../images/sprites.png) no-repeat 0 0 transparent;
}

.form-layout .checkbox .selected {
	background-position : 0 -23px;
}

.form-register .btn-primary {
	margin-top : 11px;
}

.form-layout .control-label {
	text-align : left;
}

.video-container {
	margin : 30px auto;
	width  : 95%;
}

.video-js,
.vjs-poster {
	background-color : transparent;
}

.video-js:focus,
.vjs-poster:focus,
.video-js .vjs-big-play-button:focus,
.video-js .vjs-control:focus {
	outline : none;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder {
	display : none;
}

.video-js .vjs-big-play-button {
	background : url("../images/play_button.png") no-repeat 0 0 transparent;
	width      : 76px;
	height     : 76px;
	border     : 0;
}

.form-questions h2 {
	font-size : 35px;
	color     : #276269;
}

.form-questions ul {
	display           : -webkit-box;
	display           : -webkit-flex;
	display           : -ms-flexbox;
	display           : flex;
	-webkit-flex-wrap : wrap;
	-ms-flex-wrap     : wrap;
	flex-wrap         : wrap;
	-webkit-flex-direction : row;
	-ms-flex-direction     : row;
	flex-direction         : row;
	margin            : 25px 0 20px 0;
	padding           : 0;
	list-style        : none;
	width             : 100%;
}

.form-questions ul li {
	-webkit-flex-basis      : 0;
	-ms-flex-preferred-size : 0;
	flex-basis              : 0;
	-webkit-box-flex        : 1;
	-webkit-flex-grow       : 1;
	-ms-flex-positive       : 1;
	flex-grow               : 1;
	max-width               : 100%;
	display                 : block;
	width                   : 23%;
	float                   : left;
	margin                  : 0 7px 15px 7px;
}

.form-questions ul li span {
	display          : flex;
	display                : -webkit-box;
	display                : -webkit-flex;
	display                : -ms-flexbox;
	-webkit-flex-wrap      : wrap;
	-ms-flex-wrap          : wrap;
	flex-wrap              : wrap;
	padding          : 12px 10px 14px 10px;
	font-size        : 20px;
	color            : #ffffff;
	text-transform   : uppercase;
	background-color : #276269;
	border           : 1px solid #276269;
	cursor           : pointer;
	height           : 100%;
	justify-content  : center;
	-webkit-flex-direction : column;
	-ms-flex-direction     : column;
	flex-direction   : column;
	text-align       : center;
}

.form-questions ul li span:not(.done):hover {
	background-color : #dbeceb;
	color            : #276269;
}

.form-questions ul li span.correct {
	background-color : #fecc40;
	border-color     : #fecc40;
	color            : #276269;
	padding-top      : 8px;
	padding-bottom   : 8px;
}

.form-questions ul li span.correct:not(.result) {
	line-height : 20px;
}

.form-questions ul li span.correct label,
.form-questions ul li span.incorrect label {
	display     : block;
	font-size   : 20px;
	font-weight : 700;
	color       : #276269;
	margin      : 0;
}

.form-questions ul li span.incorrect {
	background-color : #df484f;
	border-color     : #df484f;
	color            : #ffffff;
	line-height      : 20px;
	padding-top      : 8px;
	padding-bottom   : 8px;
}

.form-questions ul li span.incorrect label {
	color : #ffffff;
}

.form-result {
	text-align : center;
	margin     : 10px 0;
}

.form-result .form-layout {
	margin : 30px auto;
}

.form-result .socials p {
	font-size : 20px;
}

.form-result .text-note {
	font-size  : 19px;
	font-style : italic;
}

.socials .social-list {
	display    : block;
	list-style : none;
	padding    : 0;
}

.socials .social-list li {
	display  : inline-block;
	position : relative;
	margin   : 0 5px;
}

.socials .social-list li a {
	color     : #9ba28d;
	font-size : 25px;
}

.socials .social-list li a:hover {
	color : #276269;
}

.socials .social-list li a .fa-stack-1x {
	font-size : 22px;
}

.the-end {
	padding : 120px 0;
}

.content-wrapper .rules p {
	color     : #030000;
	font-size : 16px;
}

.content-wrapper .rules .table-bordered {
	border    : 4px solid #030000;
	width     : 60%;
	font-size : 16px;
	margin    : 20px auto;
	color     : #030000;
}

.content-wrapper .rules .table-bordered th,
.content-wrapper .rules .table-bordered td {
	border-color   : #030000;
	padding        : 3px 5px;
	vertical-align : middle;
	text-align     : center;
}

/** --- Footer --- **/
.footer {
	padding   : 20px 0;
	color     : #666666;
	font-size : 19px;
}

.footer-nav {
	display    : block;
	list-style : none;
	padding    : 0;
	margin     : 0;
	text-align : right;
}

.footer-nav li {
	display     : inline-block;
	margin-left : 20px;
}

.footer-nav li a {
	display        : inline-block;
	color          : #666666;
	text-transform : uppercase;
	font-weight    : 700;
}

.form-inline .form-group,
.form-inline .form-control {
    width: 100%;
}
.form-inline .form-group,
.form-inline .form-control {
    width: 100%;
}
    #video-container{
        margin: 30px auto;
        /*width: 95%;*/
    }

    #video-container {
        max-width: 65%;
	    position:relative;
	    padding-bottom:34%;
	    padding-top:30px;
	    height:0;
	    /*overflow:hidden;*/
        margin-left: auto;
        margin-right: auto;
    }
    #video-container iframe, #video-container object, #video-container embed {
	    position:absolute;
	    top:0;
	    left:0;
	    width:100%;
	    height:100%;
    }
    #video-container #customButtons{
        position:absolute; 
        bottom: -30px; 
        right: 0px;
    }

.fieldNameLabel {
    font-weight: normal;
    font-size: 19px;
    color: #666666;
}

.padding-left-xs { padding-left: .25em; }
.padding-left-sm { padding-left: .5em; }
.padding-left-md { padding-left: 1em; }
.padding-left-lg { padding-left: 1.5em; }
.padding-left-xl { padding-left: 3em; }

.field-validation-error {
    color: #FF0000;
}

.gritter-close:before, .sidebar-nav .accordion-toggle[data-toggle]:before, [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}


.share-buttons a, a.share-button {
    background-color: #9ba28d;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    margin-right: 0.5em;
    text-align: center;
    width: 58px;
    margin-top:10px;
    height: 58px;
}

.share-buttons a:hover, 
a.share-button:hover {
    background-color: #276269;
}

a.shared-disabled:hover
{
    background-color: #9ba28d;
}

a.shared-disabled i
{
    color: #CCC;
}

.share-buttons a, a.share-button i{
    line-height: 58px;
    
}

a.shared-disabled, a.shared-disabled:hover, 
.shared-disabled, .shared-disabled:hover, 
.shared-disabled:focus, .shared-disabled:link {
    cursor: default;
}

#dvBodyContainer {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/*.asterisk-required{
    float: right;
    line-height: 250%;
    margin-left: 8px;
}*/

.divAnswer {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 1px;
}

.colQuestion.active>.drawAnswer{
    background-color: #dbeceb;
    color: #276269;
}

.colQuestion{ 
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 15px;    
}

.drawAnswer {
    padding: 12px 10px 14px 10px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #276269;
    border: 1px solid #276269;
    cursor: pointer;
    height: 100%;
    justify-content: center;
    text-align: center;    
    width: 100%;
    display: table;
    table-layout: fixed;
}

.drawAnswer:hover {
    background-color: #dbeceb;
    color: #276269;
}

.drawAnswer span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.colQuestion.correct .drawAnswer{
    background-color: #fecc40;
    border-color: #fecc40;
    color: #276269;
    padding-top: 8px;
    padding-bottom: 8px;
}

.colQuestion.wrong .drawAnswer {
    background-color: #df484f;
    border-color: #df484f;
    color: #ffffff;    
    padding-top: 8px;
    padding-bottom: 8px;
}
.submit-button-wrapper {
    text-align: right;
}

.register-heading,
.content-wrapper h1.register-heading {
    text-align: left;
    padding: 15px 0px;
}

.container-admin .form-inline .form-group, 
.container-admin .form-inline .form-control {
    width: auto;
}

.container-admin .btn-custom {
        padding: 4px 20px;
}


/* viral dna trivia form */
.correct-response p.bar-chart, .correct-response .spResponse{
    background: linear-gradient(to bottom, green 0%,green 50%,green 100%);
}
.correct-response .spResponse, .wrong-response .spResponse{
    color: black;
}
.wrong-response p.bar-chart, .wrong-response .spResponse{
    background: linear-gradient(to bottom, #a94442 0%,#a94442 50%,#a94442 100%);
}

#dvPercent {
    	/*max-width: 65%;*/
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        background: #424248;
        padding: 30px;
        box-shadow: inset 0 2px 0 #38383d, inset 0 -2px 0 #54545a;
    }
    #dvPercent span{
        display: inline-block;
        width: 52%;
        float: left;
        white-space: nowrap; 
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
        color: #bab7c2;
        font-weight: 400 !important;
    }
    .parentPercent{
    	width: 45%;
    	margin-left: auto;
    	margin-right: auto;
    }

    .childPercent{
        width: 30%;
        float: left;
        background: #2f2f33;
        height: 21px;
        border-radius: 10px;
        padding: 0px;
        overflow: hidden;
    }
        
        .childPercent > p {
            height: 100%;
            border-radius: 8px;

			background: #37a5e6; /* Old browsers */
			background: -moz-linear-gradient(top,  #37a5e6 0%, #1d93d9 50%, #1371a9 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #37a5e6 0%,#1d93d9 50%,#1371a9 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #37a5e6 0%,#1d93d9 50%,#1371a9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37a5e6', endColorstr='#1371a9',GradientType=0 ); /* IE6-9 */
        }

.answer-content{
    font-size: 20px;
}

#dvSummary {
    line-height: 1.42857143;
}

.response-title {
    width: 100%;
}

.bold {
    font-weight: bold;
}

#drawPieChart {
    display: none;
    height: 350px;
}

.icon.correct-response {
    color: green;
    margin-right: 5px
}
.icon.wrong-response {
    color: #a94442;
    margin-right: 5px
}

.checkbox-lg {
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -ms-transform: scale(1); /* IE */
    -moz-transform: scale(1); /* FF */
    -o-transform: scale(1); /* Opera */
}
/* end viral dna trivia form*/

#dvResponsesByUser table.table-gridview {
    width: 100%;
}

.nav-site-admin {
    text-align: right;
}

.nav-site-admin .nav-item{
    color: white;
}

/* home/countdown page */
.page-home-countdown .content-wrapper{
	border: 11px solid #dbeeea;
	background-color: #286268;
	padding-top: 60px;
	padding-bottom: 50px;
}


.home-countdown {
    width: 100%;
    text-align: center;
}

.countdown-header {
    color: #333;
    font-size: 36px;
    font-weight: 900;
    padding-top: 20px;
}

.countdown-message {
}

#countdown{
	padding: 15px;
	background-color: #fff;
	margin-bottom: 90px;
}

.message-description {
    color: #fff;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: -0.035em;
    padding-top: 10px;
    padding-bottom: 20px;
    display: inline-block;
}

.cnt-digit-container {
    float: left;
    text-align: center;
}

.days {
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3px;
}
.cnt-separator {
  width: 10px;
  color: #8f8f8f;
  height: 55px;
  line-height: 55px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin-top: 19px;
}
.cnt-digit {
  background: #35abe7;
  color: #fff;
  margin: 0 1px;
  border-radius: 4px;
  font-size: 36px;
  width: 35px;
  height: 55px;
  line-height: 55px;
}
/* home/countdown page */

/* viral dna share form */
.sum-value{
    font-weight: bold;
    font-weight: 150%;
}
.facebook-value{
    color: blue;
}
.twitter-value{
    color: green;
}
.email-value{
    color: purple;
}
.share-visit-value {
    color: olive;
}

.share-registration-value {
    color: orange;
}

.share-values {
    padding-right: 10px;
}
/* end viral dna share form*/

.img-ended{
	margin-top: 200px;
	margin-bottom: 200px;
}
@media (max-width: 767px){
	.img-ended{
		margin-top: 150px;
		margin-bottom: 150px;
	}
}
@media (max-width: 415px){
	.img-ended{
		margin-top: 75px;
		margin-bottom: 75px;
	}
}