﻿@using Masnet3.Common.Helper;
@using Masnet3.Common.Utilities;
@using Masnet3.Common;
@using MASNET.DataAccess.Constants.Enums;
@model List<MASNET.DataAccess.Action>
@{ 
    var info = GlobalVariables.SiteInformation;
    var shareParam = (MASNET.DataAccess.Share)ViewBag.Share;
    List<int> actions = ViewBag.ActionID;
    int numOfRows = 1;
    string uid = Guid.NewGuid().ToString().Substring(0, 3);

    long contestantId = ViewBag.ContestantID;
    long contestantEntryId = ViewBag.ContestantentryID;
    int contestId = (int)(ViewBag.contestID ?? 0);

    string shareURL = ViewBag.shareURL;
    if (shareURL == "%CurrentSite%")
    {
        contestantEntryId = 0;
        contestantId = 0;
    }
    var isNotDeActive = ViewBag.isNotDeActivate;
    int templateKey = (int)Enums.TemplateKey.SEM_InvitationfromYourFriend;
    var yourEmail = SessionUtilities.CurrentUser.Email;

    var showType = "";
    var dataPlacement = "";
    var sourceId = ViewBag.sourceID;
    if (sourceId == (int)Enums.PageID.LandingPage)
    {
        showType = "image";
        dataPlacement = "top";
        templateKey = (int)Enums.TemplateKey.SEM_EmailShare_Team;
    }

    if (sourceId == (int)Enums.PageID.HomePage || sourceId == (int)Enums.PageID.ContestantListWithMedia)
    {
        showType = "icon";
        dataPlacement = "bottom";
        if (sourceId == (int)Enums.PageID.ContestantListWithMedia)
        {
            templateKey = (int)Enums.TemplateKey.SEM_EmailShare;
        }

    }

    var template = TemplateUilities.GetTemplateByNameDirect(templateKey, info.ApplicationID, contestId);
    string systemMessage = template != null ? TemplateUilities.GetNiceBody(template.Body) : "";
}
@foreach (var share in Model)
{
    share.SourceID = shareParam.sourceID.GetValueOrDefault();
    share.Title = DbLanguage.GetShareText(share);


    var actionId = share.ActionID;
    var actionName = share.ActionName;
    var shareIconFilename = share.ActionName;
    var imageThemeName = info.Theme.ThemeFolder.Replace(" ", "");
    var shareIcon = actionId == (int)Enums.Action.EmailShare || actionId == (int)Enums.Action.Link || actionId == (int)Enums.Action.Embed
                                ? share.Photo : "fa " + share.Photo + "-square";
    //string onclick = actionId == (int)Enums.Action.EmailShare ? string.Format("ShowShareByEmail({0}, this); $(this).tooltip('hide'); return false;", share.ActionID) : string.Format("ActionShare({0},this); $(this).tooltip('hide'); return false;", share.ActionID);

    string functionName = "ActionShare";

    if (actionId == (int)Enums.Action.EmailShare)
    {
        functionName = "ShowShareByEmail";
    }
    if (actionId == (int)Enums.Action.Link || actionId == (int)Enums.Action.Embed)
    {
        functionName = "ShowShareLink";
    }

    string shareFunction = functionName + "(" + actionId + ", this);  $(this).tooltip('hide'); return false;";


    if (actions != null && actions.Any(i => i.Equals(share.ActionID)))
    {
        <a class="disabled-link" uid="@uid" shared-contestantid="@contestantId" data-actionid="@share.ActionID">
            @if (showType == "icon")
            {
                <i uid="@uid" class="@shareIcon" alt="@actionName"></i>
            }
            else
            {
                <img alt="@actionName" uid="@uid" src="~/Content/themes/@imageThemeName/images/@(actionName).png">
            }
        </a>
    }
    else
    {
        var sharingURL = Commons.SharingURL(null, null, shareURL);

        var shareUrl = !string.IsNullOrEmpty(sharingURL) && sharingURL.ToLower().Contains("_contestantlistwithmedia")
                   ? Url.Action("Details", "Contestant", new { id = contestantId }, ViewContext.HttpContext.Request.Scheme) : sharingURL;

        <a href="javascript:void(0)" target="_blank" title="@share.Title" class="share-button" style="text-decoration:none"
           data-toggle="tooltip" data-placement="@dataPlacement" data-actionid="@actionId"
           onclick="@Html.Raw(shareFunction)"
           ontouchend="@Html.Raw(shareFunction)"
           uid="@uid"
           auto-init
           media-id="@ViewBag.MediaID"
           video-path="@ViewBag.VideoPath"
           thumbnail-url="@ViewBag.ThumbnailUrl"
           thumbnail-default-url="@ViewBag.ThumbnailDefaultUrl"
           share-link-type="@ViewBag.ShareLinkType"
           share-link-url="@EmailUtilities.ExternalURL(shareUrl)"
           shared-nopopup="true"
           shared-sourceID="@sourceId"
           shared-callback="setActionDisable(this)"
           shared-contestid="@contestId"
           shared-contestantid="@contestantId"
           shared-contestantentryid="@contestantEntryId"
           @(isNotDeActive ? "shared-notdeactive=true" : "shared-callback='setActionDisable(this)'")
           shared-url="@shareUrl">

            @if (showType == "icon")
            {
                <i share-context="@info.ContextName.ToLower()" class="@shareIcon" alt="@actionName"></i>
            }
            @if (showType == "image")
            {
                <img alt="@actionName" src="~/Content/themes/@imageThemeName/images/@(actionName).png">
            }
        </a>
    }
}

<div id="dvShareLink_@uid" style="display: none;">
    <div class="row">
        <div class="col-sm-12 form-group">
            <textarea id="taShareLink" name="taShareLink" class="form-control" rows="5" style="height: 150px;"></textarea>
        </div>
    </div>
</div>

<div id="dvShareByEmail_@uid" title="@DbLanguage.GetText("gShare")" style="display:none">
    <form id="formShareByEmail" name="formShareByEmail">
        <div class="row form-group">
            <div class="col-sm-offset-1 col-sm-10 form-group">
                <input placeholder="@DbLanguage.GetText("TopMenu_YourEmail", "TopMenu", true)" class="form-control" type="text" id="txtYourEmail" name="txtYourEmail" maxlength="50" value="@yourEmail" />
            </div>
            <div class="clearfix"></div>
            <div class="friendsemail">
                <div class="empty do-not-remove"></div>
                @for (var i = 1; i <= numOfRows; i++)
                {
                    <div class="form-group">
                        <div class="col-sm-1">
                            @if (numOfRows > 1)
                            {
                                <div style="margin:5px auto auto" class="sharenumber">
                                    @i
                                </div>
                            }
                        </div>
                        <div class="col-sm-10 form-group">
                            <input placeholder="@DbLanguage.GetText("TopMenu_FriendName", "TopMenu", true)" class="form-control" type="text"
                                   id="@("txtFriendName"+ i)" name="@("txtFriendName"+ i)" maxlength="50" />
                        </div>
                        <div class="col-sm-10 col-sm-offset-1 form-group">
                            <input placeholder="@DbLanguage.GetText("TopMenu_FriendEmail", "TopMenu", true)" class="form-control" type="text" id="@("txtFriendEmail"+i)" name="@("txtFriendEmail"+i)" maxlength="100" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-offset-1 col-sm-10">
                <label>The message below will be sent to your friend.</label>
            </div>
            <div class="col-sm-offset-1 col-sm-10 system-message padding-top-md">
                <div id="textSystemMessage" class="well">@Html.Raw(systemMessage)</div>
            </div>
            <div class="col-sm-offset-1 col-sm-10 padding-top-md">
                <textarea maxlength="500" placeholder="Write a personal message to your friend" id="txtPersonalMessage" class="form-control personal-message" style="width: 100%" rows="5"></textarea>
            </div>
        </div>
        <div style="text-align: center" class="savebtn-profile padding-top-md form-group form-layout">
            <button id="btnSend" type="button" class="redbtn btn btn-primary btn-lg" style="margin-bottom: 15px;">@DbLanguage.GetText("gButtonSend")</button><br />
            <button id="btnClose" type="button" class="redbtn btn btn-info">@DbLanguage.GetText("gButton_Cancel")</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    arrOnReady.push(function () {
        //$('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });
    });
</script>