@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic);
html, body{
	height: 100%;
}
body{
	font-family: 'Open Sans', sans-serif;
	background: #d1d0d0;
	font-size: 10px;
	color:#476fb4;
}
body.loading{
	background: url(../images/loading.gif) no-repeat 50%;
}
.page-wrapper{
	display: none;
}
.header{
 	background: #3c92cd;
 	/*margin-left: -15px;
 	margin-right: -15px;*/
 	padding-right:15px; 
}
.header-nomenu{
	
}
.mobile-title{
	float:left;
	margin: 0 0 0 15px;
	color:#fff;
	font-size: 20px;
	line-height: 50px;
}
.content{
	padding: 30px;
	background:#fff;
}
.welcome-container img{
	display: inline-block;
	margin-bottom: 30px;
}

/* Bootstrap override */
a{
	color:#ed1c24;
	/*font-size: 2em;*/
}
a:hover,
a:active,
a:focus
{	
	color:#ed1c24;
}
a,
a:hover,
a:focus,
a:active
{
   outline: 0;
}
#dvRegisterLogin{
	display: inline-block;
}
#dvRegisterLogin .btn{
	
}
.btn-email img{
	display: inline-block;
}
.twitter-instagram-container{
	width: 314px;
}
.twitter-instagram-container a{
	margin: 0 .8em;
}
.or{
	font-size:30px;
	margin-bottom:15px;
}
.include-photo-with{
	font-size: 25px;
	margin-top:15px;
}
.shareahero img{
	display: inline-block;
}
.name-form{
	/*height: 0;
	overflow: hidden;*/
	display: none;
}

.btn{
	border-radius:0;
	border: 0;
	font-size: 25px;
	padding: 6px 25px;
	font-style: italic;
}
.btn-default{
	background: #f7a734;
	color:#fff;
}
.btn-primary{
	background:#ed1c24;
	color:#fff;

	-webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;

  	-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;

  	-webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus
{
	background:#3b68b1;
}
.btn-lg{
	padding:0.3em 1.5em;
	font-size: 4em;
}
.btn-sm{
	padding:0.2em .75em;
	font-size: 18px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-left img,
.text-right img
{
	display: inline;
}
.heading{
	color:#ed1c24;
	font-weight: 700;
	font-size: 4.4em;
}
.heading-submit{
	color:#ed1c24;
	font-weight: 700;
	font-size: 2.7em;
}
.thanks-photo{
	padding: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
	margin-top:30px;
}
h1.heading-thanks{
	color:#ed1c24;	
	font-weight: 700;
	font-size: 5em;
	margin-bottom: 0;
	margin-left: -8px;
}
h2.heading-thanks{
	color:#ed1c24;	
	font-weight: 700;
	font-size: 2.5em;
	margin-top: 0;
}
.submit-container .heading-small{
	font-size:1.8em;
}
.gallery-container .heading-small{
	font-size:2.5em;
}
.gallery-container .heading{
	margin-bottom: 0;
}
.heading-small{
	color: #476fb4;
	font-size: 2.5em;
	line-height: 1.4;
	margin-top: 0;
}
.margin-top-1{
	margin-top: 1em;
}
.margin-top-2{
	margin-top: 2em;
}
.margin-top-3{
	margin-top: 3em;
}
.margin-bottom-1{
	margin-bottom: 1em;
}
.margin-bottom-2{
	margin-bottom: 2em;
}
.input-group-addon{
	background: #ed1c24;
	border: 0;
	border-radius:0;
	padding: 0;
}
.input-group-addon a{
	color: #fff;
	font-size: 1.4em;
	padding: 6px 12px;
}
.submit-form .help-block{
	display: inline;
	font-size: 0.8em;
	margin: 0;
	font-weight: 400;
}
.help-block{
	color: #476fb4;
}
input[type=file]{
	font-size: 16px;
	display: block;
}
/* end Bootstrap override */

/* Landing page */
.enter-container{
	/*margin-top:4em;
	margin-bottom:4em;*/
	background: #fff;
}
.logo{
	
}
.logo-header-container{
	margin-top: 15px;
	margin-bottom: 15px;
}
.logo-header
{
}
.logo-header img{
	display: inline;
}
.button-header-container{
	margin-top:45px;
	margin-bottom:45px;
	text-align: right;
}
.enter-slogan-container{
	color:#f47302;
	font-size:3em;
	line-height: 1.2;
}
.logo-container,
.enter-slogan-container,
.enter-btn-container
{

}
.like-btn-container{
	font-size: 20px;
}
.like-btn-container p{
	margin-top:1.5em;
	line-height: 1.2em;
}
.like-btn-container a{
	font-size: 1em;
}
.btn-enter{
	display: block;
	padding:0.3em 0;
}
/* end Landing page */
/* Register page */
.form-control{
	width: 314px;
}
.form-inline .form-group{
	width: 100%;
	margin-bottom: 8px;
}
.form-inline .form-control{
	/*width: 100%;*/
	/*font-size: 18px;*/
}
.register-container{
	
}
.submit-container{
	margin-top:30px;
}

.register-container .form-inline .form-control{
	width: 100%;
}
.landing-image-container{
	float:left;
	width: 49%;
	text-align: center;
}
.landing-image-container img{
	display: inline-block;
}
.landing-form-container{
	float: left;
	width: 43%;
	margin-left:5%;
}
select.form-control{
	padding-right: 0;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #9e7379 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #476fb4 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #476fb4 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #476fb4 !important;
}
label{
	color: #476fb4;
	font-size: 23px;
	font-weight: 400;
}
.help-icon{
	border-radius: 50%;
	border:1px solid #6c0619;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	display: inline-block;
	font-size: 13px;
	color:#6c0619;
}
.form-control{
	border-radius:0;
	background: #f7f7f7;
	border:1px solid #0082c8;
	color:#476fb4;
}
/*.form-control:focus {
    border-color: #f47302;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(244, 115, 2, 0.4);
    outline: 0 none;
}*/
.checkbox{
	margin-bottom: 1em !important;
	display: block !important;
}
.checkbox label{
	font-size: 13px;
	padding-left: 20px !important;
}
.checkbox a{
	text-decoration: none;
}
.checkbox a:hover{
	text-decoration: underline;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: -20px !important;
    position: absolute !important;
}
.checkbox small{
	font-size: 14px;
	color:#f47302;
}
.forgot-pass-register{
	font-size: 14px;
}
.forgot-pass .form-group{
	max-width: 50%;
}
.progress {
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
}
.error-list {
    margin: 0;
    padding: 1px;
}
ul, ol {
    list-style: outside none none;
}
.password-strength{
	font-size: 1.6em;
}
/* end Register page */

/* Forgot Passsword page */
.forgot-pass .form-control{
	/*width: auto;*/
}
.forgot-pass label{
	margin-right: .5em;
}
.forgot-pass-input input{
	/*width: 50%;*/
}
/* End Forgot Passsword page */

/* Logined header nav */
.navbar-nav{
	float:right;
}
.navbar{
	min-height: 0;
}
.navbar-default{
	background: transparent;
	border: 0;
	border-radius: 0;
	margin-bottom: 30px;
	margin-top: 30px;
}
.container > .navbar-collapse{
	padding-left: 0;
	padding-right: 0;
}
.navbar-collapse{
	position: relative;
	margin:0 -15px !important;
	padding: 0;
	max-height: none;
}
.navbar-nav.navbar-right:last-child {
    margin-right:0;
}
.login-li{
	clear:both;
}
.loginhandle {
    display: block;
    /*min-width: 230px;*/
}
.logindropdown{
	position: absolute;
	z-index: 3;
	left: -59px;
}
.logindropdown a{
	color:#f9e394;
	font-size: 1.5em;
	display: inline-block;
	margin-top: .5em;
}
.logindropdown a:hover,
.logindropdown a:active,
.logindropdown a:focus
{
	color:#fff;
}
#login_dialog{
	display: none;
	background-color: rgba(134, 3, 39, .2);
	padding: 1.5em;
	min-width: 230px;
	border-radius: 0 0 3px 3px;
}
#login_dialog .btn-container{
	text-align: left;
}
#login_form{

}
.logo-header a{
	background: transparent !important;
	border:0 !important;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus
{
    background: #f7a734;
    color: #fff;
    font-size: 2em;
    font-style: italic;
}
.navbar-default .navbar-nav > li > a:hover,/*
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus,*/
.navbar-default .navbar-nav > li > a.active
{
	background: #fff;
	color: #ed1c24;

	-webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;

  	-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;

  	-webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
.welcome{
	font-size: 2em;
	display: inline-block;
	margin-right: 0.5em;
}
.logined-user{
	background: rgba(119, 118, 137, 0.5);
	height: 50px;
	line-height: 50px;
	color: #f9e394;
	margin-right: 0;
	padding-right: 15px;
	padding-left: 15px;
}
.logined-user > li > a{
	display: inline;
	color:#fff;	
	font-size: 2em;
	/*text-decoration: underline;*/
}
.navbar-collapse{
	border: 0;
}
/* End Logined header nav */

/* Gallery page */
.campaign-name{
	color:#860327;
	font-size: 4.4em;
	margin: 0;
	line-height: 1em;
}
.gallery-slogan-container{
	color:#f47302;
	font-size: 2.4em;
	margin: 0;
	line-height: 1em;
}
.search-sort-container,
.countdown-container
{
	/*padding-right: 15px;
	padding-left: 15px;*/
}
.countdown-container{
	width: 258px;
	margin: auto;
}
.search-container .input-group{
	width: 100%;
}
.form-group label{
	margin-bottom: 0;
	font-size: 1.8em;
	display: inline;
	height: 34px;
	line-height: 34px;
	vertical-align: middle;
}
.form-inline select{
	font-size:16px !important;
	padding-top:0;
	padding-bottom:0;
}
.countdown-container{
	text-align: center;
}
.cntDigit{
	background: #34ace3;
	color:#fff;
	margin: 0 1px;
	border-radius:4px;
	font-size: 25px;
	line-height: 42px;
	text-align: center;
}
.cntSeparator{ 
	width:14px; 
	color:#552a0d; 
	height: 42px; 
	line-height: 42px; 
	font-size: 23px; 
	font-weight: bold;  
}
.gallery-container{
	padding-bottom: 15px;
	/*padding-right: 30px;
	padding-left: 30px;*/
	z-index: 11;
	position: relative;
}
.gallery-container .row{
	/*margin-top: 30px;
	margin-bottom: 30px;*/
}
.show-more-container{
	padding-top: 15px;
	padding-bottom: 15px;
}
.entry-container{
	position: static;
}
.entry-content{
	background: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	margin-bottom: 15px;
}
.entry-content a{
	transition: all 0.3s ease-out; 
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;

    transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);

	transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
}
.entry-content a:hover,
.entry-content a:active,
.entry-content a:focus
{
	text-decoration: none;
}
.entry-content a.active{
	transform: scale(2);
	-ms-transform: scale(2);
	-webkit-transform: scale(2);

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

	background: #fff;
	z-index: 1000;
	display: block;

    /*-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;*/

    
}
.close-photo{
	position: absolute;
	width: 18px;
	height: 18px;
	background: #ed1c24;
	color: #fff;
	text-align: center;
	line-height: 18px;
	top:9px;
	right:9px;
}
.show-more-container{
	position: relative;
	z-index: 1;
}
.entry-name{
	display: block;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 2em;
	font-weight: 400;
}
.entry-description{
	text-align: center;
	padding: 8px;
	font-size: 1.5em;
	display: block;
	color: #3c92cd;
}
/* End Gallery page */

/* submit-form */
.submit-form label{
	margin-bottom: 10px;
	display: block;
	font-size: 1.8em;
	font-weight: 700;
}
.submit-form textarea{
	width: 70%;
	height: 100px;
}
/* End submit-form */
/* thanks page */
.thanks-container .notify-container{
	font-size: 2.5em;
	line-height: 1.1em;
	margin: .3em 0 .5em;
	width: 70%;
}
.thanks-container .share-container{
	font-size: 2.5em;
	color: #860327;
	width: 50%;
	margin-right:1em;
	margin-top:.5em;
	line-height: 1.1;
}
.thanks-container .share-buttons a{
	display: inline-block;
	margin-right: .5em;
}
/* End thanks page */

/* Contestant page */
.entry-name-container{

}
.next-prev-container {
	margin-left:1.5em;
}
.next-prev-container i{
	font-size: 4em;
}
.next-prev-container a{
	margin-left: .5em;
}
.next-prev-container a:hover,
.next-prev-container a:active,
.next-prev-container a:focus
{
	text-decoration: none;
}
.entry-media-container{
	margin-top:2em;
}
.entry-media-container .entry-description{
	text-align: left;
	font-size: 2em;
	padding: 0;
	margin: 1em 0;
}
.judging-criteria h3{
	margin:0 0 .5em;
	font-size: 2.7em;
}
.criterialist{

}
.dvVoteCriteria{
	margin-bottom: 1.5em;
}
.voting_criteria{
	font-size: 2.5em;
	margin-bottom:0.5em;
}
.criteria-name{
	color:#f47302;
}
.criteria-score{
	color:#680013;
}
/* slider */
.ui-widget-content{
	background:#fdddc3;
	border-color: #cdb39e;
}
.ui-slider-horizontal{
	height: 1.5em;
}
.ui-slider .ui-slider-handle{
	width: 2em;
	height: 2em;
	background:#39b0e5;
	border-color:#1b92c7;
	box-shadow:inset 0 1px 5px #a8dcf4;
}
.ui-slider-horizontal .ui-slider-handle{
	top:-0.4em;
	cursor: pointer;
}
/* end slider */
.avgscore{
	font-size: 2.5em;
}
.scoreValue{
	color:#680013;
}
.dvSubmitVoteBtn{
	margin:1.5em 0;
}
/* End Contestant page */

/* Rules */
.rules-container{
	font-size: 10px;
}
.rules-container h1,
.rules-container h2,
.rules-container p
{
	text-align:center;
}
.rules-container h1{
	font-size: 1.8em;
	color:#f47302;
}
.rules-container h2{
	font-size: 1.6em;
	color:#f47302;
	margin: 0 0 2em;
}
.rules-container p{
	font-size: 1.4em;
	color:#860327;
}
.rules-container > ul{
	color:#860327;
	text-align: left;
}
.rules-container > ul > li {
	font-size: 14px;
	font-weight: 700;
}
.rules-container > ul > li > p{
	text-align: left;
	font-weight: 400;
	font-size: 13px;
}
.rules-container .bullet{
	font-weight: 400;
	font-size: 13px;
	list-style-type:disc;
}
.rules-container a{
	text-decoration: underline;
}
/* End Rules */

/* footer */
footer{
	padding: 2em 0;
	border-top:3px solid #fff;	
}
/*footer > img{
	visibility: hidden;
}*/
.footer-container{
}
#footer-links a{
	/*color:#f9e394;*/
	color:#476fb4;
	font-size: 1.8em;
	margin-right: 1em;
}
.poweredby{
	font-size: 1.2em;
}
.poweredby a{
	color: #476fb4;
}
.poweredby a:hover,
.poweredby a:active,
.poweredby a:focus
{
	text-decoration: none;
}
ul, ol{
	margin: 0;
}
/* end footer */

/* errors */
.error {
    font-size: 2.5em;
}

.dvError {
    float: left;
    margin: 2em auto;
    width: auto ! important;
}
.error-container{
	color:#000;
	font-size: 25px;
	margin-top: 100px;
}
/* end errors */

.disabled-link{
	opacity: .5;
  	filter: alpha(opacity=50);
  	cursor:default;
}


/* Countdown page */
.countdown-page-container{
	margin-top: 150px;
	margin-bottom: 150px;
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #ed1c24;
}
.starts-in{
	color: #34ace3;
	font-size: 18px;
}
/* End Countdown page */


/* Countdown */
.countdownWrapper{margin:0 auto 2em; text-align:right; width:258px; border-radius:0; padding:0; }
.countdownWrapper2{padding:0; margin-top: 5px; margin-bottom: 10px; background:#fff; }
.cntDigit{
	background: #34ace3;
	color:#fff;
	margin: 0 1px;
	border-radius:4px;
	font-size: 25px;
	line-height: 42px;
}
.cntSeparator{ width:14px; color:#552a0d; height: 42px; line-height: 42px; font-size: 23px; font-weight: bold; text-align: center;  }
/* End Countdown */

.sharethis{
	margin-bottom:10px;
	text-align: right;
}



/* Responsive */

@media (max-width: 1199px) {
	footer{
		position: relative;
	}
	.forgot-pass .form-group{
		max-width: 75%;
	}
}

@media (min-width: 1200px) {
  body {
    /*background-image: url(../images/bg-footer.jpg);*/
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  	body{
  		font-size: 9px;
  		/*background-image: url(../images/bg-footer-md.jpg);*/
  	}
  	.logindropdown{
  		left:-69px;
  	}
  	.page-wrapper{
		margin-bottom: 0 !important;
	}
	.thanks-container .share-buttons a{
		width:55px;
	}
	.thanks-container .share-container{
		margin-top: 0;
		margin-right: .3;
	}
	.thanks-container .notify-container{
		width: 90%;
	}
	.entry-content a.active{
		transform: scale(2);
		-ms-transform: scale(2);
		-webkit-transform: scale(2);
	}
}
@media (min-width: 768px) and (max-width: 991px) {
  	body{
  		font-size: 7px;
  		/*background-image: url(../images/bg-footer-sm.jpg);*/
  	}
  	.logindropdown{
  		left:-90px;
  	}
  	.page-wrapper{
		margin-bottom: 0 !important;
	}
	.thanks-container .share-buttons a{
		width:55px;
	}
	.thanks-container .share-container{
		margin-top: 0;
		margin-right: .3;
	}
	.thanks-container .notify-container{
		width: 90%;
	}
	.entry-content a.active{
		transform: scale(1.9);
		-ms-transform: scale(1.9);
		-webkit-transform: scale(1.9);
	}
}
@media (max-width: 767px) { /* phones */
	body{
  		font-size: 6px;
  		/*background-image: url(../images/bg-footer-xs.jpg);*/
  		background-attachment: scroll;
  	}
	.logo-container,
	.enter-slogan-container,
	.enter-btn-container
	{
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		text-align: center;
	}
	.logo-container img
	{
		display: inline;
	}
	.vcenter {
	    display: block;
	    vertical-align: middle;
	}
	.enter-container{
		margin-top:2em;
		margin-bottom:2em;
	}
	.navbar{
		/*height: 40px !important;*/
		/*position: relative;*/
		/*background:#fdddc3;*/
		padding-top: 10px;
		padding-bottom: 10px;
		top:0;
	}
	.navbar-nav{
		/*float:left;*/
		margin: 0;
		padding-left:15px;
	}
	/*.navbar-nav > li{
		float:left;	
	}*/
	
	.logined-user{
		height: 40px;
		line-height: 40px;
		background: transparent;
	}
	.logined-user > li > a{
		color: #f47302;
	}
	.campaign-name{
		text-align: center;
		margin-bottom: 1em;
	}
	.gallery-slogan-container{
		text-align: center;
	}
	.form-group label{
		font-size: 2.4em;
	}
	.forgot-pass-input label{
		font-size: 1.4em !important;
	}
	.submit-form textarea{
		width:100%;
	}
	.thanks-container .notify-container{
		width: 100%;
	}
	.navbar{
		padding: 0;
	}
	.navbar-default{
		z-index: 2;
		background: rgba(119, 118, 137, 1);
	}
	.navbar-nav{
		padding:0;
	}
	.navbar-default .navbar-nav > li > a{
		margin:0;
	}
	.logindropdown{
		position: relative;
		right: auto;
		left:0;
	}
	#login_dialog{
		background: rgba(134, 3, 39, 0.3);
	}
	/*footer{
		position: relative;
	}*/
	.page-wrapper{
		margin-bottom: 0 !important;
	}
	.entry-name{
		font-size: 3em;
	}
	.entry-description{
		font-size: 3em;
	}
	.forgot-pass .form-group{
		max-width: 100%;
	}
	.logindropdown a{
		font-size: 2.5em;
	}
	.thanks-container .share-buttons{
		text-align: center;
		display: block;
		width: 100%;
	}
	.thanks-container .share-buttons a{
		width:35px;
		display: inline-block;
	}
	.thanks-container .notify-container{
		width: 100%;
	}
	.thanks-container .share-container{
		margin-top: 0;
		margin-right: .3;
		width: 100%;
		text-align: center;
	}
	.notify-container{
		text-align: center;
	}
	.entry-content a.active{
		transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
	}
	.close-photo{
		display: none;
	}
	#dvRegisterLogin{
		width: 100%;
	}
	.landing-form-container{
		width: 100%;
		margin-left: 0;
	}
	.form-control{
		width: 100%;
	}
	.twitter-instagram-container{
		width: 100%;	
	}
	.landing-image-container{
		width: 100%;
		margin-top:50px;
	}
	.form-button-container{
		text-align: center;
	}
	.form-button-container a{
		display: inline;
		margin: auto;
	}
	.button-header-container{
		margin-top:25px;
		margin-bottom:25px;
	}
	.logo-header-container{
		margin-top:25px;
		margin-bottom:25px;	
	}
	.countdown-page-container{
		margin-top:25px;
		margin-bottom:25px;
	}
	.countdown-page-container h1{
		font-size: 20px;
	}
	.landing-image-container{
		margin-top:0;
	}
	.welcome-container img{
		margin-bottom: 0;
	}
	.submit-container{
		margin:0;
	}
	.heading-submit{
		font-size: 25px;
	}
	h1.heading-thanks{
		margin-left: -4px;
		margin-top:0;
	}
	h2.heading-thanks{
		font-size: 20px;
	}
	.submit-container .heading-small{
		font-size: 20px;
	}
	.thanks-photo{
		margin-bottom: 15px;
	}
}
@media (max-width: 480px) { /* phones  */
	.campaign-name{
		font-size: 3em;
	}
	.entry-content a.active{
		transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
	}
	.close-photo{
		display: none;
	}
	.button-header-container{
		margin-top:25px;
		margin-bottom:25px;
	}
	.logo-header-container{
		margin-top:25px;
		margin-bottom:25px;	
	}
}
/* end Responsive */