<link rel="stylesheet" href="http://new.cfdevs.com/Masnet3/Content/bootstrap/bootstrap-full/css/bootstrap.min.css" />
<link rel="stylesheet" href="site.css" />
<style>
    ul.circle, ul.circle > li {
        list-style-type: circle;
        padding-left: 15px;
    }

    li.mar15 > p {
        margin-left: 20px;
    }
</style>
<div class="modal-header text-center">
    <h4 class="modal-title" id="myModalLabel">Official Rules</h4>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="rules-container privacy-container">
                    <h1>Come Away With Me</h1>
                    <h2>Official Rules</h2>
                    <p><b>NO PURCHASE OR PAYMENT IS NECESSARY TO ENTER OR WIN. A PURCHASE OR PAYMENT OF ANY KIND WILL NOT INCREASE YOUR CHANCES OF WINNING. VOID WHERE PROHIBITED BY LAW.</b></p>

                    <ul>
                        <li>
                            1. Eligibility
                            <p>Come Away with Me (the "Promotion") is open only to legal residents of the fifty (50) United States (and the District of Columbia) and Canada (excluding Quebec) who as of the time of entry, are 18 years of age or older. Void in Quebec where prohibited by law. Proof of residency and age may be required. Employees and directors of Collette Travel Services, Inc., Contest Factory and their subsidiaries, divisions, affiliates, and advertising or promotional agencies or individuals involved with the design, production, execution or distribution of the Promotion and the immediate family and household members of such individuals, are not eligible to enter or win. "Immediate family members" shall mean parents, stepparents, children, stepchildren, siblings, stepsiblings, or spouses, regardless of where they live. "Household members" shall mean people who share the same residence at least three months a year, whether related or not. In order to enter the Promotion or receive the prize, you must fully comply with the Official Rules and, by entering, you represent and warrant that you agree to be bound by these Official Rules and the decisions of the Sponsor, whose decisions shall be binding and final in all respects relating to this Promotion.</p>
                        </li>
                        <li>
                            2. Sponsor and Administrator
                            <p>Sponsor: Collette Travel Services, Inc., 180 Middle Street, Pawtucket, RI 02860. 
                                US: CST#2006766-20 | UBN#601220855 | Nevada Seller of Travel Registration No. 2003-0279
                                CAD: Travel Industry Council of Ontario Reg #3206405 | B.C. Registration #23337
                                Administrator: Contest Factory, 17602 17th Street #102 - 116, Tustin, CA 92780.
                                This Promotion is not sponsored, endorsed or administrated by, or associated with Facebook. 
                            </p>
                        </li>
                        <li>
                            3. Timing
                            <p>Promotion begins on February 1, 2017 at 12:00 a.m. Eastern Standard Time ("EST") and ends on April 3, 2017 at 11:59 p.m. EST ("Promotion Entry Period"). The Promotion is governed by these Official Rules and is subject to all applicable federal, state, and local laws. Sponsor is the official time keeper for this Promotion.</p>
                        </li>
                        <li>
                            4. How to Enter
                            <p>During the Promotion Entry Period go to <a href="http://www.gocollette.com/comeaway" target="_blank">www.gocollette.com/comeaway</a> or <a href="http://www.facebook.com/gocollette" target="_blank">www.facebook.com/gocollette</a> and complete the online registration form by providing your name, email address, phone number, country and answer one survey question.  By registering you will automatically receive one entry into the drawing for the Promotion. Limit one entry per person per day. After you successfully register you will have the option to share the Promotion on Facebook and Twitter to receive one bonus entry per social share. Limit one share per social site per day.  Then you will have the option of entering the contest portion of the Promotion. To enter the contest you must submit either a video essay or text essay about where you want to go and why Collette should take you there (the "Submission"). (Maximum length 90 seconds for video essay; 1,750 characters for text essay). Approved Submissions will be displayed in the gallery page. Limit of one contest Submission per person during the Promotion Entry Period. Use of multiple email addresses to enter by the same individual is prohibited and may result in disqualification. Submissions will be deemed to have been submitted by the authorized account holder of the email account from which the Submission is uploaded at the time of the entry, as identified by the primary email address associated with that account. Submissions will not be acknowledged or returned. To enter the weekly drawing (as described below in Section 8) via an alternate method of entry, send a 3.5" x 5" postcard with following information printed in blue ink, your full name, email address, phone number, and country of legal residence to The Come Away with Me Promotion c/o Contest Factory, 17602 17th Street #102 - 116, Tustin, CA 92780 or The Come Away with Me Promotion - Contest Factory c/o Collette, 40 Queen Street South, Mississauga, Ontario L5M 1K3, Canada.  Your postcard must be written clearly and legibly (illegible postcards will be disqualified). Limit one postcard per person per day. Postcard must be postmarked by April 3, 2017 and received no later than April 10, 2017. Each mailed in entry must be received individually.</p>
                        </li>
                        <li>
                            5. Submission Requirements
                            <p>The Submission must comply with the following requirements: (i) the Submission may not feature any person other than entrant unless entrant has obtained all necessary written permissions and releases from such persons prior to submission and such persons are over the age of majority in his/her state of legal residence; (ii) other than the Sponsor, its products, brands and/or logos, the Submission may not show, contain, mention, depict, refer or otherwise allude to the name, logo or product of any other retailer, manufacturer, brand, product, store, place of business, person, company or character in such a way or manner as to imply an affiliation with, or endorsement of, the Sponsor, its products, brands and/or this Promotion; (iii) the Submission must be entrant's own original work (or the entrant must have the rights from the photographer to make the submission), created solely by entrant and not created professionally; must not have been previously published, released or distributed in any form; must not have won any award; and must not infringe the copyright, trademark, privacy, publicity, or other personal or proprietary rights of any person or entity; (iv) the Submission may not contain, mention, refer or otherwise allude to any material that is violent, lewd, obscene, sexually explicit, pornographic, disparaging, defamatory, libelous, racially or morally offensive or otherwise contain inappropriate content or objectionable material; (v) the Submission cannot promote alcohol, illegal drugs or tobacco, firearms/weapons (or the use of any of the foregoing), any activities that may appear unsafe or dangerous, or any political agenda or message; (vi) the Submission cannot in any manner defame, misrepresent, contain disparaging remarks or reflect negatively about Sponsor, its products, or other people, products or companies or their products, or in any way reflect negatively upon such parties or explicitly or implicitly communicate messages or images inconsistent with the positive images and/or goodwill with which Sponsor wishes to be associated, as determined by Sponsor in its sole discretion; (vii) the Submission cannot contain any personal identification, such as personal names, email addresses or street addresses, without express permission; (viii) the Submission cannot itself be in violation of any law; and (ix) the Submission must otherwise be in compliance with these Official Rules. Sponsor reserves the right, in its sole discretion, to disqualify any Submission that Sponsor believes, in its sole discretion, does not comply with or is in violation of these Official Rules or that otherwise contains prohibited or inappropriate content.</p>
                        </li>
                        <li>
                            6. Grant of Rights
                            <p>By submitting a Submission, the entrant represents and warrants that he/she has all rights, title and interest necessary to grant the Sponsor the worldwide, irrevocable and unrestricted right and license to adapt, publish, use, edit, and/or modify such Submission in any way and post the Submission on the internet or use the Submission in any other way and agrees to indemnify and hold Sponsor harmless from any claims to the contrary.</p>
                        </li>
                        <li>
                            7. Representations and Warranties/Indemnification
                            <p>Each person who enters this Promotion represents and warrants as follows: (i) entrant has obtained any and all necessary permissions required to submit the Submission and for Sponsor's right to use the Submission for any purpose, including the consent of any identifiable third person(s) appearing in the Submission, and entrant can and will make written copies of such permissions available to Sponsor upon request; (ii) the Submission is owned by entrant and has not been previously published, distributed or otherwise exploited; (iii) the Submission is wholly original with entrant and, as of the date of submission, the Submission is not the subject of any actual or threatened litigation or claim; (iv) the Submission does not and will not violate or infringe upon the intellectual property rights or other rights of any other person or entity, including, but not limited to, rights of privacy and publicity; and (v) the Submission does not and will not violate any applicable laws, and is not and will not be considered defamatory or libelous. Each entrant hereby agrees to indemnify and hold the Sponsor, Administrator and their subsidiaries, affiliates, divisions, partners, representatives, agents, successors, assigns, employees, officers and directors harmless from and against any and all third party claims, actions or proceedings of any kind and from any and all damages, liabilities, costs, expenses and reasonable attorney's fees relating to or arising out of any breach or alleged breach of any of the warranties, representations or agreements of entrant hereunder.</p>
                        </li>
                        <li>
                            8. Winner Determination
                            <p>
                                <u>Winner Determination for Weekly Drawing</u><br/>
                                There will be nine (9) separate drawings. One winner will be named for each week of the Promotion Entry Period. For the weekly drawings the Sponsor will randomly select a winner amongst all valid entries. All non-winning weekly entries will carry over into the next weekly drawing. The specific weekly prize is stated in Section 11. Odds of winning a daily prize are based on the number of eligible entries received up to the time of the drawing. Limit of one weekly drawing prize per person for the entire Promotion Entry Period. If any potential winner is a Canadian resident he/she will be required to answer a time limited skill testing question without assistance, in order to be eligible to receive a prize.
                            </p>
                            <p>
                                <u>Winner Determination for Contest (one for Text Essay and one for Video Essay)</u><br/>
                                After the end of the Promotion Entry Period, a panel of qualified judges determined by Sponsor in its sole discretion will select the four (4) best Submissions from among all eligible Submissions that were submitted, based on an application of the following criteria: most engaging (33.33%), authentic (33.33%) and inspiring (33.33%). The judging will be conducted in rounds based on a judging panel of employees that work for the Sponsor in the marketing and/or creative team / department. There will be one text essay Submission winner from the US, one text essay Submission winner from Canada, one video essay Submission winner from the US, and one video essay Submission winner from Canada. In the event of any tie, potential prize winner will be selected based on the top score received for the first criteria (most engaging). Odds of winning depend on the number of eligible Submissions received during the Contest Entry Period and the quality of the Submission for the respective category.<br/><br/>

                                For all Winners: The winners will be contacted using the email address and/or phone number provided with the entry and may be awarded the prize (subject to verification of eligibility and compliance with the terms of these rules). Sponsor's decisions as to the administration and operation of the Promotion and the selection of the potential winners are final and binding in all matters related to the Promotion. Failure to respond to the initial verification within five (5) business days of notification may result in disqualification and selection of an alternate potential winner using the same criteria described above in Section 8.
                            </p>
                        </li>
                        <li>
                            9. POTENTIAL WINNERS ARE SUBJECT TO VERIFICATION BY SPONSOR AND/OR ADMINISTRATOR. SPONSOR AND ADMINISTRATOR'S DECISIONS ARE FINAL AND BINDING IN ALL MATTERS RELATED TO THE ADMINISTRATION, OPERATION, SELECTION OF THE WINNER AND OTHER MATTERS RELATED TO THE PROMOTION.
                        </li>
                        <li>
                            10. Verification of Potential Winners
                            <p>Potential winners may be required to complete and return an Affidavit of Eligibility, Release of Liability and Publicity Release (where permitted by law) (collectively, the "Affidavit") by the date specified by Sponsor, or an alternate potential winner may be selected. In the event: (a) potential winner cannot be reached for whatever reason after a reasonable effort has been exerted or the potential winner notification or Affidavit is returned as undeliverable; (b) potential winner declines or cannot accept, receive or use the prize for any reason; (c) of noncompliance with the above or within any of the aforesaid time periods, (d) potential winner is found to be ineligible to enter the Promotion or receive the prize, (e) potential winner cannot or does not comply with the Official Rules, or (f) potential winner fails to fulfill the Affidavit-related obligations, the potential winner may be disqualified from the Promotion and an alternate potential winner may be selected using the same criteria described above in Section 8. Sponsor reserves the right to modify the notification and Affidavit procedures in connection with the selection of alternate potential winner, if any.</p>
                        </li>
                        <li>
                            11. Prizes
                            <ul>
                                <li>Four (4) contest grand prize will be awarded. Each contest grand prize winner will receive a trip for two anywhere Collette goes. Approximate retail value of each contest grand prize is US$15,000 for US Winners and CDN$15,000 for Canadian Winners. Retail Value would be calculated at the brochure rate with no discounts. Air would be based out of the closest Major Gateway. This would include any trip that Collette offer that is a 12 day trip or less with the exception of: South Pacific Wonders which is a 15 day trip to Australia and would be included in this list and a 14 day trip Spectacular S. Africa. All federal, state and local taxes, fees and surcharges on prize packages are the responsibility of winners. Trip dates are subject to dates that Collette travels to that destination and based on availability. The prize has no cash value. Winner and guest must have a valid passport at time of travel. Costs for incidentals such as, personal items, and meals that are not included will be the sole responsibility of the winner. Travel is subject to availability and all travel restrictions. The trip is non-transferable/non-endorsable/non-refundable. The trip must be booked and confirmed at least 90 days prior to departure. Travel must be completed by April 30, 2018. Trip is not redeemable during black-out periods. Any costs for any pre or post nights or extensions will be the sole responsibility of the winner. Any changes to the reservation after booking are subject to change fees and will be the sole responsibility of the winner. Sponsor will allow winner to take a more expensive trip and winner will have to pay the difference of any amount that goes above and beyond the US$15,000 ARV. All winners will receive a 1099 from Sponsor.</li>
                                <li> Nine (9) weekly drawing prizes will be awarded. Each weekly prize winner will receive one hundred dollars (US$100) or (CDN$100) (based on the winner's residence).</li>
                            </ul>
                            <p>For all Prizes: Prizes are non-transferable and no substitution will be made except as provided herein at the Sponsor's sole discretion. Sponsor reserves the right to substitute the listed prize for one of equal or greater value for any reason. Winners are responsible for all taxes and fees associated with prize receipt and/or use. Approximate retail value of all prizes is US$60,900.</p>
                        </li>
                        <li>
                            12. Entry Conditions and Release
                            <p>Each entrant agrees to: (a) comply with and be bound by these Official Rules and the decisions of Sponsor, Administrator which are binding and final in all matters relating to this Promotion; (b) defend, indemnify, release and hold harmless the Sponsor, Administrator, Facebook and their respective parent, subsidiary, and affiliated companies, celebrities, and any other person and organization responsible for sponsoring, fulfilling, administering, advertising or promoting the Promotion, and all of their respective past and present officers, directors, employees, agents and representatives (collectively, the "Released Parties") from and against any and all claims, expenses, and liability, including but not limited to negligence and damages of any kind to persons and property, including but not limited to invasion of privacy (under appropriation, intrusion, public disclosure of private facts, false light in the public eye or other legal theory), defamation, slander, libel, violation of right of publicity, infringement of trademark, copyright or other intellectual property rights, property damage, or death or personal injury arising out of or relating to a participant's entry, creation of an entry or submission of an entry, participation in the Promotion, acceptance, possession, attendance at, defect in, delivery of, inability to use, use or misuse of prize which includes any travel or activity related thereto and/or the broadcast, exploitation or use of entry. Winner acknowledge that all prizes are awarded as-is without warranty of any kind.</p>
                        </li>
                        <li>
                            13. Publicity
                            <p>Except where prohibited or restricted by law, winner's acceptance of prize constitutes the winner's agreement and consent for Sponsor and any of its designees to use and/or publish winner's full name, city and state of residence, photographs or other likenesses, pictures, portraits, video, voice, testimonials, biographical information (in whole or in part), and/or statements made by winner regarding the Promotion or Sponsor, worldwide and in perpetuity for any and all purposes, including, but not limited to, advertising, marketing, trade and/or promotion on behalf of Sponsor, in any and all forms of media, now known or hereafter devised, including, but not limited to, print, TV, radio, electronic, cable, or World Wide Web, without further limitation, restriction, compensation, notice, review, or approval.</p>
                        </li>
                        <li>
                            14. General Conditions
                            <p>Sponsor and its subsidiaries, affiliates, divisions, partners, representatives, agents, successors, assigns, employees, officers and directors shall not have any obligation or responsibility, including any responsibility to award any prize to entrants, with regard to: (a) entries that contain inaccurate information or do not comply with or violate the Official Rules; (b) entries, prize claims or notifications that are lost, late, incomplete, illegible, unintelligible, damaged or otherwise not received by the intended recipient, in whole or in part, due to computer, human or technical error of any kind; (c) entrants who have committed fraud or deception in entering or participating in the Promotion or claiming the prize; (d) telephone, electronic, hardware, software, network, Internet or computer malfunctions, failures or difficulties; (e) any inability of the winner to accept the prize for any reason; (f) if a prize cannot be awarded due to delays or interruptions due to Acts of God, natural disasters, terrorism, weather or any other similar event beyond Sponsor's reasonable control; or (g) any damages, injuries or losses of any kind caused by any prize or resulting from awarding, acceptance, possession, use, misuse, loss or misdirection of any prize or resulting from participating in this Promotion or any promotion or prize related activities or participation in any trip awarded. Sponsor reserves the right, in its sole discretion, to disqualify any individual it finds to be (a) tampering with the entry process or the operation of the Promotion, or with any Website promoting the Promotion; (b) acting in violation of the Official Rules; or (c) entering or attempting to enter the Promotion multiple times through the use of multiple email addresses or the use of any robotic or automated devices to submit entries. If Sponsor determines, in its sole discretion, that technical difficulties or unforeseen events compromise the integrity or viability of the Promotion, Sponsor reserves the right to void the entries at issue, and/or terminate the relevant portion of the Promotion, including the entire Promotion, and/or modify the Promotion and/or award the prize from all eligible entries received as of the termination date.</p>
                        </li>
                        <li>
                            15. Limitations of Liability
                            <p>The Released Parties are not responsible for: (a) any incorrect or inaccurate information, whether caused by entrants, printing errors or by any of the equipment or programming associated with or utilized in the Promotion; (b) technical failures of any kind, including, but not limited to malfunctions, interruptions, or disconnections in phone lines or network hardware or software; (c) unauthorized human intervention in any part of the entry process or the Promotion; (d) technical or human error in the administration of the Promotion or the processing of registrations; or (e) any injury or damage to persons or property which may be caused, directly or indirectly, in whole or in part, from entrant's participation in the Promotion or receipt or use or misuse of any prize or participation in any trip awarded. If for any reason an entrant's registration is confirmed to have been erroneously deleted, lost, or otherwise destroyed or corrupted, entrant's sole remedy is another entry in the Promotion. No more than the stated number of each prize will be awarded.</p>
                        </li>
                        <li>
                            16. Disputes
                            <p>All issues and questions concerning the construction, validity, interpretation and enforceability of these Official Rules, or the rights and obligations of the entrant and Sponsor in connection with the Promotion, shall be governed by, and construed in accordance with, the laws of the State of Rhode Island, without giving effect to any choice of law or conflict of law rules (whether of the State of Rhode Island or any other jurisdiction), which would cause the application of the laws of any jurisdiction other than the State of Rhode Island.</p>
                        </li>
                        <li>
                            17. Entrant's Personal Information
                            <p>Information collected from entrants is subject to the Sponsor's Privacy Policy, which is available at <a href="http://www.gocollette.com/en/about-collette/privacy-policy" target="_blank">http://www.gocollette.com/en/about-collette/privacy-policy</a>.</p>
                        </li>
                        <li>
                            18. Promotion Results
                            <p>For Promotion results send a hand-printed, self-addressed, stamped envelope to Winners List - Come Away with Me c/o: Contest Factory, 17602 17th Street #102 - 116, Tustin, CA 92780. Requests for the winner list must be received by May 15, 2017.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
