﻿
/*Dialog*/
.page-admin .modal-dialog
{
    font-size:14px;
}

/*Admin table*/
.table-gridview {
    background-color: #fff;
    border: 1px solid #ececec;
}
.table-gridview thead {
    background-color: #efefef;
}
.page-admin td, th{
    padding: 5px;
}
.table-gridview th, .table-gridview td {
    border-top: 1px solid #dddddd;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.table-gridview td {
    box-sizing: inherit;
    color: black;
    font-size: 14px;
    padding: 5px;
    word-break: keep-all;
    word-wrap: break-word;
}
.table-gridview tbody > tr:nth-child(2n) > td {
   background-color: #f9f9f9;
}

.page-admin .btn-primary{
    font-size:1em;
}

.table-form{
    width:100%;
}

.page-admin #dvBodyContainer,.page-admin .widget-body > .container,.page-admin .content-background > .container{
    background:none;
    background-color:white;
}

/*Contest - Get Started*/
.media-thumbnail-s > .thumbnail {
    cursor: pointer;
    margin-bottom: 0;
    width: 130px;
}
.thumbnail {
    border: 1px solid #ecbd94;
    border-radius: 0;
    padding: 0;
}
.media-thumbnail-s {
    float: left;
    margin: 10px 0;
    width: 14.28%;
}

.sectionContestantVote{
    text-align:center;
}

/*Admin -Title*/
.sub-title {
    border-bottom: 1px solid #ebebeb;
    font-size: 17px;   
    padding: 4px 0;
}
.content-background-white .sub-title {
    color: #b31f29;
    font-size: 41px;
    line-height: 45px;    
    margin-bottom: 15px;
    font-weight:normal;
}

/*Admin Search box*/
.blocktitle {
    background-color: #efefef;
    border: 1px solid #ddd;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    text-decoration: none;
}
.blockcontent {
    background-color: rgba(0, 0, 0, 0);
    border-color: #94acb9;
    border-image: none;
    border-style: none solid solid;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 10px;
}

/*Contest Builder Nav*/
.widget-header .nav.nav-tabs li > a {
    font-size: 13px;
    padding: 5px 10px;
    font-weight:bold
}

/*Contest - CTA*/
.page-admin .form-group label{
    font-size:1em;
}

/*Left Accordian*/
a, a:active, a:focus {
    color: #860327;
    cursor: pointer;
    font-family: "Open Sans",sans-serif;
    outline: medium none;
}

/*Admin - Site Name*/
.admin-menu-top .site-info-dev, .admin-menu-top .site-info-test, .admin-menu-top .site-info-live {
    font-size: 14px;    
}
.admin-menu-top .site-info-dev, .admin-menu-top .site-info-test, .admin-menu-top .site-info-live {
    color: white;
    font-weight: 700;
    padding-left: 15px;
}
.not-active {
   pointer-events: none;
   cursor: default;
   color:gray;
}

.overText{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}


#dvSharing li{
    min-width: 150px;
}

.padding-xs { padding: .25em; }
.padding-sm { padding: .5em; }
.padding-md { padding: 1em; }
.padding-lg { padding: 1.5em; }
.padding-xl { padding: 3em; }

.padding-x-xs { padding: .25em 0; }
.padding-x-sm { padding: .5em 0; }
.padding-x-md { padding: 1em 0; }
.padding-x-lg { padding: 1.5em 0; }
.padding-x-xl { padding: 3em 0; }

.padding-y-xs { padding: 0 .25em; }
.padding-y-sm { padding: 0 .5em; }
.padding-y-md { padding: 0 1em; }
.padding-y-lg { padding: 0 1.5em; }
.padding-y-xl { padding: 0 3em; }

.padding-top-xs { padding-top: .25em; }
.padding-top-sm { padding-top: .5em; }
.padding-top-md { padding-top: 1em; }
.padding-top-lg { padding-top: 1.5em; }
.padding-top-xl { padding-top: 3em; }

.padding-right-xs { padding-right: .25em; }
.padding-right-sm { padding-right: .5em; }
.padding-right-md { padding-right: 1em; }
.padding-right-lg { padding-right: 1.5em; }
.padding-right-xl { padding-right: 3em; }

.padding-bottom-xs { padding-bottom: .25em; }
.padding-bottom-sm { padding-bottom: .5em; }
.padding-bottom-md { padding-bottom: 1em; }
.padding-bottom-lg { padding-bottom: 1.5em; }
.padding-bottom-xl { padding-bottom: 3em; }

.padding-left-xs { padding-left: .25em; }
.padding-left-sm { padding-left: .5em; }
.padding-left-md { padding-left: 1em; }
.padding-left-lg { padding-left: 1.5em; }
.padding-left-xl { padding-left: 3em; }

.margin-xs { margin: .25em; }
.margin-sm { margin: .5em; }
.margin-md { margin: 1em; }
.margin-lg { margin: 1.5em; }
.margin-xl { margin: 3em; }

.margin-x-xs { margin: .25em 0; }
.margin-x-sm { margin: .5em 0; }
.margin-x-md { margin: 1em 0; }
.margin-x-lg { margin: 1.5em 0; }
.margin-x-xl { margin: 3em 0; }

.margin-y-xs { margin: 0 .25em; }
.margin-y-sm { margin: 0 .5em; }
.margin-y-md { margin: 0 1em; }
.margin-y-lg { margin: 0 1.5em; }
.margin-y-xl { margin: 0 3em; }

.margin-top-xs { margin-top: .25em; }
.margin-top-sm { margin-top: .5em; }
.margin-top-md { margin-top: 1em; }
.margin-top-lg { margin-top: 1.5em; }
.margin-top-xl { margin-top: 3em; }

.margin-right-xs { margin-right: .25em; }
.margin-right-sm { margin-right: .5em; }
.margin-right-md { margin-right: 1em; }
.margin-right-lg { margin-right: 1.5em; }
.margin-right-xl { margin-right: 3em; }

.margin-bottom-xs { margin-bottom: .25em; }
.margin-bottom-sm { margin-bottom: .5em; }
.margin-bottom-md { margin-bottom: 1em; }
.margin-bottom-lg { margin-bottom: 1.5em; }
.margin-bottom-xl { margin-bottom: 3em; }

.margin-left-xs { margin-left: .25em; }
.margin-left-sm { margin-left: .5em; }
.margin-left-md { margin-left: 1em; }
.margin-left-lg { margin-left: 1.5em; }
.margin-left-xl { margin-left: 3em; }

.days {
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    color: #000;
    font-size: 8.5px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3px;
    line-height: 23px;
}

.countdownclock{
    /*min-width: 190px;*/
}

.cnt-digit {
    text-align: center;
    background: #34ace3;
    color: #fff;
    margin: 0 0.5px;
    border-radius: 4px;
    font-size: 18px;
    width: 19px;
    height: 32px;
    line-height: 32px;
}

.cnt-separator {
    width: 7px;
    color: #552a0d;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    margin-top: 23px;
    text-align: center;
}

.cnt-digit-container {
  float: left;
  text-align: center;
}

.pending .cnt-digit {
    background: #f3a054;
}

.live .cnt-digit {
    background: #90d06a;
}

