<link rel="stylesheet" href="//apps-ugc.contestfactory.com/Content/bootstrap/bootstrap-full/css/bootstrap.min.css" />
<link rel="stylesheet" href="//apps-ugc.contestfactory.com/Content/themes/wcao/site.css" />



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="rules-container">
                <h1>The Ford Whisperer Contest</h1>
                <h2>Official Rules</h2>
                <p><b>NO PURCHASE OR PAYMENT IS NECESSARY TO ENTER OR WIN. A PURCHASE OR PAYMENT OF ANY KIND WILL NOT INCREASE YOUR CHANCES OF WINNING. VOID WHERE PROHIBITED BY LAW.</b></p>

                <ul>
                    <li>
                        1. Eligibility
                        <p>The Ford Whisperer Contest (the "Promotion") is open only to legal residents of the State of Texas, who as of the time of entry, are 18 years of age or older and have a valid driver's license. The Ambassador Sweepstakes component of the Promotion is open only to legal residents of the State of Texas, who as of the time of entry, are 18 years of age or older. Void where prohibited by law. Proof of residency, age, and valid driver's license may be required. Employees and directors of PCF Acquisitions, Contest Factory and their subsidiaries, divisions, affiliates, and advertising or promotional agencies or individuals involved with the design, production, execution or distribution of the Promotion and the immediate family and household members of such individuals, are not eligible to enter or win. "Immediate family members" shall mean parents, stepparents, children, stepchildren, siblings, stepsiblings, or spouses, that reside in the same household. "Household members" shall mean people who share the same residence at least three months a year, whether related or not. In order to enter the Promotion or receive the prize, you must fully comply with the Official Rules and, by entering, you represent and warrant that you agree to be bound by these Official Rules and the decisions of the Sponsor, whose decisions shall be binding and final in all respects relating to this Promotion.</p>
                    </li>
                    <li>
                        2. Sponsor and Administrator
                        <p>Sponsor: PCF Acquisitions, 16175 Addison Rd. Addison, TX 75001
                        Administrator: Contest Factory, 17602 17th Street #102 - 116, Tustin, CA 92780.
                        This Promotion is not sponsored, endorsed or administrated by, or associated with Facebook.
                        </p>
                    </li>
                    <li>
                        3. Timing
                        <p>Promotion begins on March 19, 2018 at 12:00 p.m. Central Time ("CT") and ends on May 11, 2018 at 11:59 p.m. CT ("Promotion Entry Period"). The Promotion is governed by these Official Rules and is subject to all applicable federal, state, provincial, and local laws. Sponsor is the official time keeper for this Promotion.</p>
                    </li>
                    <li>
                        4. How to Enter
                        <p>During the Promotion Entry Period go to <a href="http://www.planetford.com/" target="_blank">www.planetford.com</a> or <a href="https://www.facebook.com/FordWhisperer/" target="_blank">https://www.facebook.com/FordWhisperer/</a> and complete the online registration form by providing your name, and email address. To enter the contest section of the Promotion, you must submit either a video essay or text essay about how you are a Ford Whisperer, how the Ford Whisperer has helped you, or create your own original Ford Whisperer tale (the "Submission") (see contest entry video for ideas). (Video Requirements: Maximum length of 90 seconds and a maximum file size of 200MB; Essay Requirements: Maximum length of 1,000 characters). Approved Submissions will be displayed in the gallery page. Limit of one Submission per person per day. Use of multiple email addresses to enter by the same individual is prohibited and may result in disqualification. Submissions will be deemed to have been submitted by the authorized account holder of the email account from which the Submission is uploaded at the time of the entry, as identified by the primary email address associated with that account. Submissions will not be acknowledged or returned. </p>
                        <p>To enter the Ambassador Sweepstakes of the Promotion, you can receive sweepstakes entries by the following:</p>
                        <ol>
                            <li>Registering for the Promotion (You will receive one entry into the Sweepstakes for registering)</li>
                            <li>Sharing the Promotion site via Email, on Facebook and/or Twitter (Limit one entry per social media site or email share per day).</li>
                            <li>Sharing your Submission via Email, on Facebook and/or Twitter (Limit one entry per social media site per day).</li>
                            <li>Voting for your favorite Submission. (Limit one entry in the voter giveaway per person per day regardless of how many times you vote)</li>
                        </ol>
                    </li>
                    <li>
                        5. Submission Requirements
                        <p>The Submission must comply with the following requirements: (i) the Submission may not feature any person other than entrant unless entrant has obtained all necessary written permissions and releases from such persons prior to submission and such persons are over the age of majority in his/her state of legal residence; (ii) other than the Sponsor, its products, brands and/or logos, the Submission may not show, contain, mention, depict, refer or otherwise allude to the name, logo or product of any other retailer, manufacturer, brand, product, store, place of business, person, company or character in such a way or manner as to imply an affiliation with, or endorsement of, the Sponsor, its products, brands and/or this Promotion; (iii) the Submission must be entrant's own original work (or the entrant must have the rights from the videographer or photographer to make the submission), created solely by entrant and not created professionally; must not have been previously published, released, distributed, or submitted to the Promotion previously in any form; must not have won any award; and must not infringe the copyright, trademark, privacy, publicity, or other personal or proprietary rights of any person or entity; (iv) the Submission may not contain, mention, refer or otherwise allude to any material that is violent, lewd, obscene, sexually explicit, pornographic, disparaging, defamatory, libelous, racially or morally offensive or otherwise contain inappropriate content or objectionable material; (v) the Submission cannot promote alcohol, illegal drugs or tobacco, firearms/weapons (or the use of any of the foregoing), any activities that may appear unsafe or dangerous, or any political agenda or message; (vi) the Submission cannot in any manner defame, misrepresent, contain disparaging remarks or reflect negatively about Sponsor, its products, or other people, products or companies or their products, or in any way reflect negatively upon such parties or explicitly or implicitly communicate messages or images inconsistent with the positive images and/or goodwill with which Sponsor wishes to be associated, as determined by Sponsor in its sole discretion; (vii) the Submission cannot contain any personal identification, such as personal names, email addresses or street addresses, without express permission; (viii) the Submission cannot itself be in violation of any law; and (ix) the Submission must otherwise be in compliance with these Official Rules. Sponsor reserves the right, in its sole discretion, to disqualify any Submission that Sponsor believes, in its sole discretion, does not comply with or is in violation of these Official Rules or that otherwise contains prohibited or inappropriate content.</p>
                    </li>
                    <li>
                        6. Grant of Rights
                        <p>By submitting a Submission, the entrant represents and warrants that he/she has all rights, title and interest necessary to grant the Sponsor the worldwide, irrevocable and unrestricted right and license to adapt, publish, use, edit, and/or modify such Submission in any way and post the Submission on the internet or use the Submission in any other way and agrees to indemnify and hold Sponsor harmless from any claims to the contrary.</p>
                    </li>
                    <li>
                        7. Representations and Warranties/Indemnification
                        <p>Each person who enters this Promotion represents and warrants as follows: (i) entrant has obtained any and all necessary permissions required to submit the Submission and for the Sponsor's right to use the Submission for any purpose, including the consent of any identifiable third person(s) appearing in the Submission, and entrant can and will make written copies of such permissions available to Sponsor upon request; (ii) the Submission is solely owned by entrant and has not been previously published, distributed or otherwise exploited; (iii) the Submission is wholly original with entrant and, as of the date of submission, the Submission is not the subject of any actual or threatened litigation or claim; (iv) the Submission does not and will not violate or infringe upon the intellectual property rights or other rights of any other person or entity, including, but not limited to, rights of privacy and publicity; and (v) the Submission does not and will not violate any applicable laws, and is not and will not be considered defamatory or libelous. Each entrant hereby agrees to indemnify and hold the Sponsor, Administrator and their subsidiaries, affiliates, divisions, partners, representatives, agents, successors, assigns, employees, officers and directors harmless from and against any and all third party claims, actions or proceedings of any kind and from any and all damages, liabilities, costs, expenses and reasonable attorney's fees relating to or arising out of any breach or alleged breach of any of the warranties, representations or agreements of entrant hereunder.</p>
                    </li>
                    <li>
                        8. Winner Determination
                        <p>
                            <u>Winner Determination for the Promotion</u><br/>
                            A panel of qualified judges determined by Sponsor in its sole discretion will select the potential Grand Prize Winner by selecting the best Submission from among all eligible Submissions that were submitted, based on an application of the following criteria equally: Relevance, Creativity and Originality ("Winner"). In the event of any tie for the best Submission, the entrant whose Submission received the highest score for Creativity, will be selected from among the tied entrants as the potential Winner.  In the event of a tie on the Creativity, Sponsor at its sole discretion will select the potential Winner. The Winner must be present at the location to be awarded the prize (subject to verification of eligibility and compliance with the terms of these rules).
                        </p>
                        <p>
                            <u>Winner Determination for Ambassador Sweepstakes</u><br/>
                            There will be sixteen (16) separate weekly drawings. Two (2) winners will be names for each week of the Promotion Entry Period on or about March 26, April 2, April 9, April 16, April 23, April 30, May 7, and May 14. For each weekly drawing the Sponsor will randomly select two (2) winners amongst all valid entries received by the end of the previous week. All non-winning weekly entries will carry over into the next weekly drawing. The specific weekly prize is detailed in Section 11. Odds of winning a weekly prize are based on the number of eligible entries received up to the time of the drawing. Limit of one weekly sweepstakes prize per person for the entire Promotion Entry Period.
                        </p>
                        <p>For all Winners: The winners will be announced during the Grand Re-Opening of the Planet Ford dealership in Spring on May 18th, 2018. Sponsor's decisions as to the administration and operation of the Promotion and the selection of the potential winners are final and binding in all matters related to the Promotion. Failure to respond to the initial announcement by the Sponsor may result in disqualification and selection of an alternate potential winner using the same criteria described above in Section 8.</p>
                    </li>
                    <li>
                        9. POTENTIAL WINNERS ARE SUBJECT TO VERIFICATION BY SPONSOR AND/OR ADMINISTRATOR. SPONSOR AND ADMINISTRATOR'S DECISIONS ARE FINAL AND BINDING IN ALL MATTERS RELATED TO THE ADMINISTRATION, OPERATION, SELECTION OF THE WINNER AND OTHER MATTERS RELATED TO THE PROMOTION.
                        <p></p>
                    </li>
                    <li>
                        10. Verification of Potential Winners
                        <p>Potential winners may be required to complete and return an Affidavit of Eligibility, Release of Liability and Publicity Release (where permitted by law) (collectively, the "Affidavit") by the date specified by Sponsor, or an alternate potential winner may be selected. In the event: (a) potential winner cannot be reached for whatever reason after a reasonable effort has been exerted or the potential winner notification or Affidavit is returned as undeliverable; (b) potential winner declines or cannot accept, receive or use the prize for any reason; (c) of noncompliance with the above or within any of the aforesaid time periods, (d) potential winner is found to be ineligible to enter the Promotion or receive the prize, (e) potential winner cannot or does not comply with the Official Rules, or (f) potential winner fails to fulfill the Affidavit-related obligations, the potential winner may be disqualified from the Promotion and an alternate potential winner may be selected using the same criteria described above in Section 8. Sponsor reserves the right to modify the notification and Affidavit procedures in connection with the selection of alternate potential winner, if any.</p>
                    </li>
                    <li>
                        11. Prizes
                        <ul style="margin-left: 0; margin-top: 10px;">
                            <li><b>GRAND PRIZE</b>: One (1) grand prize will be awarded. Grand prize will consist of the following: Winner's choice of a Ford Shelby GT 350, or a Ford F-150 Raptor Truck. Sales tax, destination charges, freight, delivery, dealer prep, additional equipment, licensing, registration, insurance, title and all other expenses on the receipt and use of the Grand Prize vehicle is the sole responsibility of the Winner. The Winner of the Prize vehicle is not eligible for any cash rebate programs. Model, color, package, factory options, and other prize specifics are subject to availability. Approximate Retail Value ("ARV") for the Grand Prize is $80,000.</li>
                            <li><b>GRAND PRIZE RESTRICTIONS</b>: Other than the manufacturer's limited warranty, Sponsor does not make, nor in any manner is responsible or liable for any warranty, representation or guarantee, express or implied, in fact or in law, relative to the vehicle including but not limited to its quality, fitness for purpose or mechanical condition. Winner must have proof of insurance and a valid U.S. driver's license from their state or place of residence in the U.S. to take delivery of vehicle; failure to show same may result in prize forfeiture and selection of an alternate Winner. Winner will be provided instructions to obtain his/her Prize vehicle at a Sponsor dealership to be determined by Sponsor. Vehicle delivery may take up to 8 weeks. Winner must take delivery of vehicle within thirty (30) days of notification that dealership has received vehicle. If Prize is unclaimed within a reasonable time after notification from Sponsor, as determined by Sponsor in their sole discretion, it will be forfeited, and time permitting, an alternate Winner may be selected from the remaining eligible entries at Sponsor's sole discretion.</li>
                            <li><b>AMBASSADOR SWEEPSTAKES PRIZE</b>: Sixteen (16) Ambassador Sweepstakes prizes will be awarded. Each weekly prize winner will receive a Special Edition Ford Whisperer Ambassador T-Shirt (ARV $20), Certificate for The Works (ARV $39.95), and a $50 Planet Ford Gift Card for Parts or Accessories. Total ARV for each prize is $109.95.</li>
                        </ul>
                        <p>For all Prizes: Prizes are non-transferable and no substitution will be made except as provided herein at the Sponsor's sole discretion. Sponsor reserves the right to substitute the listed prize for one of equal or greater value for any reason. Winners are responsible for all taxes and fees associated with prize receipt and/or use. Approximate retail value of all prizes is $81,759.20.</p>
                    </li>
                    <li>
                        12. Entry Conditions and Release
                        <p>Each entrant agrees to: (a) comply with and be bound by these Official Rules and the decisions of Sponsor, Administrator which are binding and final in all matters relating to this Promotion; (b) defend, indemnify, release and hold harmless the Sponsor, Administrator, Facebook and their respective parent, subsidiary, and affiliated companies, celebrities, and any other person and organization responsible for sponsoring, fulfilling, administering, advertising or promoting the Promotion, and all of their respective past and present officers, directors, employees, agents and representatives (collectively, the "Released Parties") from and against any and all claims, expenses, and liability, including but not limited to negligence and damages of any kind to persons and property, including but not limited to invasion of privacy (under appropriation, intrusion, public disclosure of private facts, false light in the public eye or other legal theory), defamation, slander, libel, violation of right of publicity, infringement of trademark, copyright or other intellectual property rights, property damage, or death or personal injury arising out of or relating to a participant's entry, creation of an entry or submission of an entry, participation in the Promotion, acceptance, possession, attendance at, defect in, delivery of, inability to use, use or misuse of prize which includes any travel or activity related thereto and/or the broadcast, exploitation or use of entry. Winners acknowledge that all prizes are awarded as-is without warranty of any kind. By participating, you release Facebook and its parent companies, subsidiaries, affiliates, partners, employees, directors, agents, advertising agencies, from any and against any and all injury, loss or damage caused or claimed to be caused by your participation in the Sweepstakes and/or the acceptance, awarding, receipt, use and/or misuse of the prize. Any information you submit online is to the Sponsor, and not to Facebook.</p>
                    </li>
                    <li>
                        13. Publicity
                        <p>Except where prohibited or restricted by law, winner's acceptance of prize constitutes the winner's agreement and consent for Sponsor and any of its designees to use and/or publish winner's full name, city and state of residence, photographs or other likenesses, pictures, portraits, video, voice, testimonials, biographical information (in whole or in part), and/or statements made by winner regarding the Promotion or Sponsor, worldwide and in perpetuity for any and all purposes, including, but not limited to, advertising, marketing, trade and/or promotion on behalf of Sponsor, in any and all forms of media, including, but not limited to, print, TV, radio, electronic, cable, or World Wide Web, without further limitation, restriction, compensation, notice, review, or approval.</p>
                    </li>
                    <li>
                        14. General Conditions
                        <p>Sponsor and its subsidiaries, affiliates, divisions, partners, representatives, agents, successors, assigns, employees, officers and directors shall not have any obligation or responsibility, including any responsibility to award any prize to entrants, with regard to: (a) entries that contain inaccurate information or do not comply with or violate the Official Rules; (b) entries, prize claims or notifications that are lost, late, incomplete, illegible, unintelligible, damaged or otherwise not received by the intended recipient, in whole or in part, due to computer, human or technical error of any kind; (c) entrants who have committed fraud or deception in entering or participating in the Promotion or claiming the prize; (d) telephone, electronic, hardware, software, network, Internet or computer malfunctions, failures or difficulties; (e) any inability of the winner to accept the prize for any reason; (f) if a prize cannot be awarded due to delays or interruptions due to Acts of God, natural disasters, terrorism, weather or any other similar event beyond Sponsor's reasonable control; or (g) any damages, injuries or losses of any kind caused by any prize or resulting from awarding, acceptance, possession, use, misuse, loss or misdirection of any prize or resulting from participating in this Promotion or any promotion or prize related activities. Sponsor reserves the right, in its sole discretion, to disqualify any individual it finds to be (a) tampering with the entry process or the operation of the Promotion, or with any Website promoting the Promotion; (b) acting in violation of the Official Rules; or (c) entering or attempting to enter the Promotion multiple times through the use of multiple email addresses or the use of any robotic or automated devices to submit entries. If Sponsor determines, in its sole discretion, that technical difficulties or unforeseen events compromise the integrity or viability of the Promotion, Sponsor reserves the right to void the entries at issue, and/or terminate the relevant portion of the Promotion, including the entire Promotion, and/or modify the Promotion and/or award the prize from all eligible entries received as of the termination date.</p>
                    </li>
                    <li>
                        15. Limitations of Liability
                        <p>The Released Parties are not responsible for: (a) any incorrect or inaccurate information, whether caused by entrants, printing errors or by any of the equipment or programming associated with or utilized in the Promotion; (b) technical failures of any kind, including, but not limited to malfunctions, interruptions, or disconnections in phone lines or network hardware or software; (c) unauthorized human intervention in any part of the entry process or the Promotion; (d) technical or human error in the administration of the Promotion or the processing of registrations; or (e) any injury or damage to persons or property which may be caused, directly or indirectly, in whole or in part, from entrant's participation in the Promotion or receipt or use or misuse of any prize. If for any reason an entrant's registration is confirmed to have been erroneously deleted, lost, or otherwise destroyed or corrupted, entrant's sole remedy is another entry in the Promotion. No more than the stated number of each prize will be awarded.</p>
                    </li>
                    <li>
                        16. Disputes
                        <p>All issues and questions concerning the construction, validity, interpretation and enforceability of these Official Rules, or the rights and obligations of the entrant and Sponsor in connection with the Promotion, shall be governed by, and construed in accordance with, the laws of the State of California without giving effect to any choice of law or conflict of law rules (whether of the State of California or any other jurisdiction), which would cause the application of the laws of any jurisdiction other than the State of California.</p>
                    </li>
                    <li>
                        17. Entrant's Personal Information
                        <p>Information collected from entrants is subject to the Sponsor's Privacy Policy, which is available at <a href="https://apps-ugc.contestfactory.com/content/themes/wcao/privacy.html" target="_blank">https://apps-ugc.contestfactory.com/content/themes/wcao/privacy.html</a></p>
                    </li>
                    <li>
                        18. Promotion Results
                        <p>For Promotion results send a hand-printed, self-addressed, stamped envelope to Winners List - The Ford Whisperer Contest c/o: Contest Factory, 17602 17th Street #102 - 116, Tustin, CA 92780. Requests for the winner list must be received by June 30, 2018.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

