﻿.site-content {
    min-height: 500px;
    background: #FFF;
}

/*---- width ---------------------------------*/
h1 {
    font-size: 17px;
}

table {
    width: 100%;
}

th, td {
    text-align: left;
}

select, input[type="text"], input[type="password"] {
    width: 280px;
    margin-bottom: 0px !important;
}

textarea {
    width: 98%;
}

button, input[type="submit"], input[type="button"] {
    cursor: pointer;
    background-color: #ED8C26;
    color: #FFFFFF;
    text-shadow: none;
    background-image: none !important;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-repeat: repeat-x;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
}

/*--------------------------------------------*/

/*---- validation-error ----------------------*/
.input-validation-error {
    border: 1px solid #FF0000 !important;
    background: #eef88f !important;
}

.field-validation-error {
    color: #FF0000;
}
/*-------------------------------------------*/

/*---- width ---------------------------------*/
.normal-width {
    width: 40%;
}
/*--------------------------------------------*/

.fieldName {
    width: 15%;
    float: left;
    padding-right: 5px;
    margin: 5px 0;
}

.fieldControl {
    float: left;
    width: 80%;
    margin: 5px 0;
}

.clearer {
    clear: both;
}

/*----- Contest status -----------------------------------------*/
.contest_status {
    text-transform: none;
    padding: 2px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    white-space: nowrap;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: gray;
}

.contest_status_Over {
    background-color: #FF0000;
}

.contest_status_Completed {
    background-color: #0099CB;
    color: white;
}

.contest_status_Active, .contest_status_PendingActive {
    background-color: green;
    color: white;
}

.contest_status_Open, .contest_status_PendingOpen {
    background-color: orange;
    color: black;
}

.contest_status_OpenActive {
    background-color: #DA8EF2;
    color: white;
}

.contest_status_Tied {
    color: #FFFFFF;
    background-color: #727171;
}

.contest_status_InProcess, .contest_status_OpenExpired,
.contest_status_PendingApproval {
    background-color: #727171;
}
/*--------------------------------------------------------------*/

.fetable {
}

    .fetable th {
        background-color: #B8D6E6;
        padding: 20px 5px;
    }

    .fetable th, .fetable td {
        border-bottom: 1px solid #CCCCCC;
    }

    .fetable td {
        padding: 13px 5px;
        font-size: 13px;
        color: black;
        -moz-box-sizing:inherit;
    }

    .fetable th {
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
    }

        .fetable th a:link, .fetable th a:hover {
            font-size: 12px;
            text-decoration: underline;
            font-weight: bold;
            background-color: transparent;
            background-repeat: no-repeat;
            background-image: url(data:image/gif;base64,R0lGODlhCQAMAIABAAAAAP///yH5BAEAAAEALAAAAAAJAAwAAAIRjI8HaeDpooqSWUZryPDhmxQAOw==);
            background-position: right center;
            display: inline;
            padding: 0 15px 0 0;
        }

.table-search {
}

    .table-search th {
        white-space: nowrap;
        text-align: left;
    }

.contest-name {
    font-size: 14px;
    line-height: inherit;
    margin: 0;
}
.float-right {
    float:right;
}
.not-active {
   pointer-events: none;
   cursor: default;
   color:gray;
}

#dvSharing li{
    min-width: 150px;
}