@import "vars"
/* ----------- Countdown ----------- */
.countdown-inner
	text-align: right

.countdown-container
	float: none
	display: inline-block
	margin-top: 30px

.countdown-header
	text-align: center
	margin-right: 30px
	font-size: 30px
	text-transform: uppercase
	display: inline-block

.days
  display:  block
  color: $color-accent
  font-size:  14px
  text-transform: uppercase
  text-align:  center
  padding-bottom:  3px

.countdown-wrapper
	margin: 0 auto 
	text-align: center
	display: table
	border-radius: 0 
	padding: 1em
	background: #fff

#header_countdown_contest_counter
	display: inline-block

.cnt-separator 
	width: 10px 
	color: $color
	height:  37px 
	line-height:  37px 
	font-size:  17px 
	font-weight:  700
	text-align:  center

.cnt-digit-container
	float: left
	text-align:  center
	position: relative

.cnt-digit-container:nth-of-type(1):after
	content: 'days'

.cnt-digit-container:nth-of-type(3):after
	content: 'hours'

.cnt-digit-container:nth-of-type(5):after
	content: 'minutes'

.cnt-digit-container:nth-of-type(7):after
	content: 'seconds'

.cnt-digit-container:after
	width: 100%
	text-align: center
	position: absolute
	left: 0
	top: 37px
	font-size: 12px
	

.cnt-digit
	background:  $color-accent
	color: #fff
	margin:  0 1px
	border-radius: 4px
	font-size:  24px
	width:  26px
	height:  37px
	line-height:  37px
	font-weight:  700

.countdown-title
	font-size:  20px
	text-align:  center
	font-weight:  600

.campaign-ended-title
	font-size:  40px
	text-align:  center
	margin-top: 110px
	font-weight:  700
	margin-bottom:  10px	

.campaign-ended-title2
	font-size:  25px
	text-align:  center
	font-weight:  700

#countdown
	margin: 0 auto  
	display:  table
	padding: 15px
	border-radius: 5px

.ended-page
	padding: 5em 3em

.countdown-message-description
	font-size: 23px
	max-width: 70%
	margin-left: auto
	margin-right: auto

@media (max-width: 1200px)
	.countdown-message-description
		max-width: 100%
		font-size: 21px

@media (max-width: 1024px)
	.ended-page h1
		font-size: 30px

	.countdown-message-description
		font-size: 18px

	.cnt-digit
		width: 18px
		height: 29px
		line-height: 29px
		font-size: 18px

	.cnt-separator
		height: 29px
		line-height: 29px
		font-size: 18px

	.cnt-digit-container:after
		top: 28px
		font-size: 11px


@media (max-width: 992px)
	.countdown-container
		margin-top: 20px	

@media (max-width: 767px)
	#countdown
		padding: 5px
	.cnt-digit
		
	.cnt-separator
		height: 40px
		line-height: 40px
	.days
		font-size: 10px

	.ended-page h1
		font-size: 20px

	.countdown-message-description
		font-size: 14px

	.countdown-inner
		text-align: center

	.countdown-header
		margin-right: 0
		margin-bottom: 15px

