@import "vars"
/* ----------- Footer ----------- */
.footer-container 
    color: $color-footer
    border-top: 1px solid #e7e8e9

    .container
        background-color: $bg-footer
        margin: 0 auto
        padding: 35px 15px
        max-width: $container-max-width        

    a 
        color: $color-footer-link
        font-size: 16px
        font-family: $font-body
        text-decoration: none

    a:hover 
        color: $color-footer-link-hover
        text-decoration: underline

    .footer-copyright 
        font-size: 16px
        font-family: $font-body

    .list-inline 
        margin-bottom: 0

    .list-inline li 
        margin-right: 0
        margin-left: 0

    .poweredby 
        text-align: right

    .poweredby img 
        display: inline-block
    
    .separator
        display: none       

@media screen and (max-width: 767px) 
    .footer-container .footer-copyright
        text-align: center
        margin-bottom: 15px
        font-size: 12px
  
    .footer-container .poweredby
        text-align: center
        margin-top: 15px
        font-size: 12px
  
    .footer-container a
        font-size: 12px
  
    .poweredby img
        display: inline-block
