@import "vars"
/* ----------- Rules ----------- */
.rules-container
	background-color: #fff
	color: $color
	padding: 25px
	max-width: 1140px
	margin-left: auto
	margin-right: auto
	margin-bottom: 15px
	margin-top: 15px
	text-align: left
	line-height: 1.5
	font-family: $font-body

.rules-container h1, 
.rules-container h2
	color: $color-accent
	text-align: center
	font-size: 1em
	font-weight: 700
	font-size: 25px
	font-family: $font-body

.rules-container h1
	font-size: 1.5em
	margin-bottom: 10px
	margin-top: 20px

.rules-container h2
	margin-top: 0
	margin-bottom: 25px

.rules-container > p
	font-weight: 400
	font-size: 12px
	font-family: $font-body

.rules-container .no-purchase
	font-weight: 700
	font-size: 13px

.rules-container ul
	list-style-type: none
	padding-left: 0
	margin-top: 20px
	
.rules-container ul li 
	margin-bottom: 14px
	font-weight: 700

.rules-container ul li p 
	margin-top: 0
	margin-bottom: 20px
	font-weight: 400
	font-size: 14px

.rules-container ul ul 
	list-style-type: disc
	padding-left: 25px
	margin-left: 25px
	margin-top: 0
	margin-bottom: 15px

.rules-container ul ul li
	margin-bottom: 0
	font-weight: 400

.rules-container ul ul li p
	margin-bottom: 5px



.rules-container ol li 
	font-weight: 400


.rules-container table 
	border-collapse: collapse
	width: 100%
	margin-bottom: 25px


.rules-container table th,
.rules-container table td 
	font-weight: normal
	border: 1px solid #ccc
	padding: 5px

.rules-container table th 
	font-weight: 700
	text-align: center


@media screen and (max-width: 767px) 
	.rules-container 
  	line-height: 1.3
  
	.rules-container h1,
	.rules-container h2 
  	font-size: 18px
  
	.rules-container > p 
  	font-size: 12px
  
	.rules-container ul li 
  	font-size: 12px
  
	.rules-container ul li p 
  	text-align: left
  	font-size: 11px
  
	.rules-container table 
  	width: 767px
  	font-size: 10px
  


@media screen and (max-width: 480px) 
	.rules-container table 
  	width: 480px  
