@import "vars"
/* ----------- Countdown ----------- */
.countdown-page
	h1
		margin-bottom: .2em

.countdown-container
	float: none

.days
  display:  block
  color: $color-accent
  font-size:  14px
  text-transform: uppercase
  text-align:  center
  padding-bottom:  3px

.countdown-wrapper
	margin: 0 auto 
	text-align: center
	display: table
	border-radius: 0 
	padding: 1em
	background: #fff 

.cnt-separator 
	width: 14px 
	color: #8f8f8f 
	height:  60px 
	line-height:  60px 
	font-size:  45px 
	font-weight:  400
	margin-top: 17px
	text-align:  center

.cnt-digit-container
	float: left
	text-align:  center

.cnt-digit
	background:  $color-accent
	color: #fff
	margin:  0 1px
	border-radius: 4px
	font-size:  45px
	width:  34px
	height:  60px
	line-height:  60px
	font-weight:  700
	box-shadow: 0 3px 0 darken($color-accent, 15%), inset 0 2px 0 #fff

.countdown-title
	font-size:  20px
	text-align:  center
	font-weight:  600

.campaign-ended-title
	font-size:  40px
	text-align:  center
	margin-top: 110px
	font-weight:  700
	margin-bottom:  10px	

.campaign-ended-title2
	font-size:  25px
	text-align:  center
	font-weight:  700

#countdown
	margin: 0 auto  
	display:  table
	padding: 15px
	border-radius: 5px

.ended-page
	padding: 5em 3em

.countdown
	float: right

.page-contest-submit
	.countdown
		float: none

.countdown-days
	display: table
	margin-left: auto
	margin-right: auto
 	
	.message-description
		display: table-cell
		vertical-align: middle
		padding: 0 9px

	.cnt-days
		display: table-cell
		vertical-align: middle
		border-radius: 7px
		background: #e1e1e1
		background: -moz-linear-gradient(top,  #e1e1e1 1%, #c7c7c7 100%)
		background: -webkit-linear-gradient(top,  #e1e1e1 1%,#c7c7c7 100%)
		background: linear-gradient(to bottom,  #e1e1e1 1%,#c7c7c7 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#c7c7c7',GradientType=0 )
		text-align: center
		border-bottom: 3px solid #696969

		.days-value
			font-size: 28px
			font-weight: 700
			color: #333
			text-shadow: 0 1px rgba(#fff, .5)
			padding: 4px 15px
			margin: 0
			line-height: 1

		.days-text
			background-color: #a8a8a8
			border-top: 1px solid #d9d9d9
			color: #333
			text-shadow: 0 1px rgba(#fff, .3)
			font-weight: 700
			font-size: 12px
			line-height: 12px
			padding: 4px 6px 2px
			margin: 0


.home-countdown
	text-align: center

	.countdown-header
		text-align: center
		font-size: 36px
		font-weight: 700
		font-family: 'Roboto Condensed', sans-serif

	.message-description
		font-size: 22px
		font-weight: 700
		margin-bottom: 30px
		font-family: 'Roboto Condensed', sans-serif

	#countdown
		border: 1px solid #ccc
		margin-top: 30px;

@media (max-width: 1024px)
	.ended-page h1
		font-size: 30px

@media (max-width: 767px)
	#countdown
		padding: 5px
	.home-countdown
		#countdown
			padding: 10px
	.cnt-digit
		font-size: 30px
		width: 25px
		height: 40px
		line-height: 40px
	.cnt-separator
		height: 40px
		line-height: 40px
	.days
		font-size: 10px

	.ended-page h1
		font-size: 20px
	
	.countdown

	.home-countdown 
		.countdown-header
			font-size: 28px

		.message-description
			font-size: 3.7vw



	.countdown-days
		display: block
		text-align: center
		float: none
		margin-bottom: 10px

		.message-description
			display: block

		.cnt-days
			display: inline-block


