@import "vars"

/* ----------- Form ----------- */

label
	color: $color
	font-size: 20px
	font-weight: 600

.form-control
	border-radius: 0
	background-color: $bg-form-control
	border-color: $border-color-form-control
	color: $color-form-control
	padding: 7px 5px

*::-webkit-input-placeholder
	color: #979797 !important

*:-moz-placeholder
	color: #979797 !important

*::-moz-placeholder
	color: #979797 !important

*:-ms-input-placeholder
	color: #979797 !important

.form-inline 
	.form-group
		vertical-align: top
		text-align: left

.fieldName
	color: #f47302
	font-weight: 400
	display: inline-block
	font-size: 1.8em
	height: 34px
	line-height: inherit !important
	margin-bottom: 0
	vertical-align: middle
	text-align: right
	padding: 0 5px 0 0

	.fieldNameLabel
		vertical-align: middle
		font-size: 16px
		color: #555
		height: 34px




#landing-form .row > div:nth-child(1)
	padding-right: 0

#landing-form .row > div:nth-child(2)
	padding-left: 10px

.input-lg
	height: 48px

#submit-agreement .checkbox, #newsletter .checkbox
	text-align: left

.checkbox, .radio
	margin-bottom: 1em

.checkbox label, .radio label
	font-size: 16px
	color: $color

.checkbox, .radio
	text-align: center

input[type=checkbox], input[type=radio]
	margin: 7px 0 0
	display: inline

p.required-fields
	color: $color-accent
	font-size: 14px
	font-weight: 600
	margin-top: 1em

#reg-form a
	color: $color-register-link
	text-decoration: underline

#reg-form a:hover
	color: $color-register-link-hover

.form-control:focus
	border-color: $bg-btn-primary
	outline: 0
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(153, 133, 244, 0.6)
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(153, 133, 244, 0.6)

select.form-control
	padding: 5px 5px 7px 5px

/* ----------- Form Error validation ----------- */
.reg-form-container, .form-container
	span.Error
		font-size: 12px
		padding: 3px 6px
		background: #e14949
		color: #ffffff
		border-radius: 3px
		position: relative
		display: inline-block

	span.Error:before
		content: ""
		position: absolute
		top: -10px
		left: 10px
		width: 0
		height: 0
		border-left: 10px solid transparent
		border-right: 10px solid transparent
		border-bottom: 10px solid #e14949

.filter-control
	.form-group
		width: calc(14.2857% - 10px)
		margin-left: 5px
		margin-right: 5px
		float: left
	label
		color: #666666
		font-family: 'Open Sans', sans-serif
		font-size: 16px
		font-weight: 400
	.btn
		padding: 10px 15px



@media screen and (max-width: 767px)
	.form-control
		height: auto
		font-size: 12px
		padding: 6px

	.socialiconss
		button
			margin-bottom: 10px

	.filter-control
		.form-group
			width: calc(50% - 10px)

@media screen and (max-width: 376px)
	.form-control
		font-size: 11px
		padding: 5px

	#btnRegister
		font-size: 20px
		padding: 15px 45px

