@import "vars"

/* ----------- Landing ----------- */
.contests-container
	font-family: 'Roboto Condensed', sans-serif

	h2
		border-bottom: 1px solid #c7c7c7
		font-family: 'Roboto Condensed', sans-serif
		font-weight: 700
		font-size: 26px
		padding-bottom: 10px
		margin-bottom: 30px

	h2.no-border
		border-bottom: none
		margin-bottom: 0

	.contest-box
		border-bottom: 1px solid #c7c7c7
		padding-bottom: 20px
		margin-bottom: 20px
		// overflow: hidden
		
		> div > a
			max-width: 218px
			display: block

		img
			float: left
			margin-right: 15px
			border: 3px solid #ffffff
			box-shadow: 0 0 5px rgba(#000, .25)
			

		.contest-info
			float: left
			width: calc(100% - 235px)

			h3
				font-family: 'Roboto Condensed', sans-serif
				font-weight: 400
				font-size: 26px
				margin-top: 0

			.description
				font-size: 17px
				font-family: 'Open Sans', sans-serif
				line-height: 1.3

			.btn-primary
				font-size: 20px

			// .countdown 
			// 	float: right

.page-contest-directory
	.contests-container
		h2
			border-bottom: none
			margin-bottom: 0

.contest-box
	a
		// display: inline

.page-static-content
	color: #666666
	h3
		font-family: "Roboto Condensed", serif
		font-weight: bold
		font-size: 23px
		color: #333333
	p
		font-family: Arial, Helvetica, sans-serif
		font-size: 17.5px

.page-contest-details,
.page-contest-submit
	h2
		font-size: 24px
		font-weight: 700
		margin: 0
	h3
		font-size: 18px
		margin: 10px 0 15px 0
	p
		font-size: 14px
		color: #666666
	.contests-container
		margin: 20px 0
		border-bottom: 1px solid #c7c7c7
	.contest-box
		border: none
		overflow: inherit
		padding-bottom: 0
		margin-bottom: 0

		img
			float: none !important
			margin-right: 0
		.shelter-info
			h4
				font-weight: bold
				margin: 15px 0 5px 0
				font-size: 18px
		.contest-info
			float: none !important
			width: auto !important
			text-align: left !important
			h3
				font-weight: bold
				font-size: 20px
			.description p
				color: #666666
				font-size: 14px
	.vote-box
		border: 1px solid #c7c7c7
		background-color: #f9f9f9
		padding: 10px 15px
		.vote-box-header
			border-bottom: 1px solid #c7c7c7
			margin-bottom: 10px
			color: $bg-btn-primary
			font-family: "Roboto Condensed", serif
			font-size: 14px
			h3
				font-weight: 400
				font-size: 26px
				margin-top: 10px
			p
				font-size: 14px
			a
				text-decoration: none
				color: $bg-btn-primary
				.text-underline
					border-bottom: 1px solid $bg-btn-primary
			a:hover
				color: #333333
				.text-underline
					border-color: #333333
		.vote-box-content
			h4
				font-family: "Roboto Condensed", serif
				font-weight: 700
				font-size: 20px
			ul
				list-style: none
				margin: 0
				padding: 0
				li
					margin: 15px 0
				li.voted
					color: #969696
					.btn
						background-color: #bfbfbf
						text-shadow: none
						color: #333333
						opacity: 1
						text-transform: uppercase
						outline: 2px solid transparent
						box-shadow: inset 0 -3px 0 #9b9b9b
						transform-origin: 50% 50%
				li:last-child
					margin-bottom: 5px
			p
				font-family: "Roboto Condensed", serif
				position: relative
				margin: 0

			.text-underline
				position: relative
				display: inline-block
			.text-underline:after
				border-bottom: 1px solid #333333
				content: ""
				position: absolute
				display: block
				width: 100%
				bottom: 3px
			a
				color: #333333
			a:hover
				color: #666666
				.text-underline:after
					border-color: #666666
		.vote-box-content.text-center
			color: #333333
			padding: 40px 0
			p
				font-size: 18px

	.vote-message-box
		font-family: "Roboto Condensed", serif
		color: #333333
		-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
		-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
		border-radius: 10px
		border: 2px solid $bg-btn-primary
		background-color: #ffffff
		padding: 1px
		margin-bottom: 20px
		.vote-message-inside
			padding: 30px 15px 20px 15px
			background-color: #efefef
			border-radius: 8px
			h3
				font-weight: 700
				text-shadow: 0 2px 0 #ffffff
				font-size: 22px
				line-height: 1.5
				margin-top: 0
				.text-underline
					position: relative
					display: inline-block
				.text-underline:after
					border-bottom: 1px solid #333333
					content: ""
					position: absolute
					display: block
					width: 100%
					bottom: 4px
		.top-underline
			margin-top: 10px
			padding-top: 10px
			border-top: 1px solid #c7c7c7
	.btn-sm
		font-size: 20px
		text-transform: capitalize
	.btn-extend
		padding-left: 50px
		padding-right: 50px
	.popover
		text-align: center
		.popover-title
			font-size: 14px
			color: $bg-btn-primary
			background: none
			border: none
		.popover-content
			.btn
				border: 1px solid #221f1f
				padding: 5px 25px
				margin: 0 2px
				min-width: 85px
			.btn:hover
				background-color: #221f1f
				color: #ffffff
	.button-other-entries
		margin: 20px 0
		text-align: center
		.btn
			min-width: 127px
			margin: 0 5px
	.carousel-caption
		position: relative
		left: 0
		right: 0
		bottom: 0
		padding: 0
		margin: 5px 0 0 0
		font-size: 14px
		text-shadow: none
		color: #666666
	.carousel-control
		background: none
		top: 35%
		opacity: 1
		bottom: unset
		.glyphicon
			background-color: #ffffff
			text-shadow: none
			color: #221f1f
			font-size: 14px
			padding: 7px
			border: 1px solid #221f1f
	.carousel-control:hover
		.glyphicon
			background-color: $bg-btn-primary
			color: #ffffff
			border: none
			box-shadow: inset 0 -3px 0 #331a4d
			transform-origin: 50% 50%
	.carousel-control.left
		left: -27px
	.carousel-control.right
		right: -27px
	.popover		
		min-width: 250px
		font-size: 14px
		color: #9966cc
		.arrow
			border-width: 5px
			bottom: -10px
			margin-left: -6px
			border-top-color: transparent
		.popover-content
			padding: 3px 5px
	.popover.top
		margin-top: -7px
		> .arrow:after
			border-top-color: #000000
			border-width: 5px
			bottom: -5px
			margin-left: -7px
	.question
		font-weight: 700
		margin: 0
		color: #000000
		font-size: 14px

	.answer
		font-size: 20px
		color: $bg-btn-primary
		margin-bottom: 30px
		line-height: 1.5
	p > b
		color: #000000

.page-contest-submit.vote-box
	a
		color: $color-accent

.media-container
	.carousel-caption
		position: relative
		left: 0
		right: 0
		bottom: 0
		padding: 0
		margin: 5px 0 0 0
		font-size: 14px
		text-shadow: none
		color: #666666
	.carousel-control
		background: none
		top: 35%
		opacity: 1
		.glyphicon
			background-color: #ffffff
			text-shadow: none
			color: #221f1f
			font-size: 14px
			padding: 7px
			border: 1px solid #221f1f
	.carousel-control:hover
		.glyphicon
			background-color: $bg-btn-primary
			color: #ffffff
			border: none
			box-shadow: inset 0 -3px 0 #331a4d
			transform-origin: 50% 50%
	.carousel-control.left
		left: -27px
	.carousel-control.right
		right: -27px

.modal-box
	.modal-body,
	.modal-footer
		padding: 15px 30px

.sharing-list
	margin: 0
	padding: 0
	li
		display: inline-block
		vertical-align: middle
		margin-right: 2px
		a
			font-size: 24px
			color: #333333
			.fa-envelope
				position: relative
				top: -1px
		a:hover
			color: $bg-btn-primary
	a.shared-disabled:hover 
		color: $color-sharing-disabled
	li.text-label
		font-size: 14px
		margin-right: 5px
	a
		font-size: 24px
		color: #333333
		.fa-envelope
			position: relative
			top: -1px
	a:hover
		color: $bg-btn-primary
	p.text-label
		display: inline-block
		vertical-align: middle
		font-size: 14px
		margin-right: 5px
		color: #333333 !important

.sharing-list.bigger
	li
		a
			font-size: 26px

.btn-xs
	font-size: 14px
	padding: 10px 15px

.btn-default
	font-family: "Roboto Condensed", serif
	font-size: 16px
	border: 1px solid #221f1f
	transform-origin: 50% 50%
	padding-top: 11px
	padding-bottom: 11px
	.btn-xs
		padding: 8px 15px
		margin-top: 0
	&:hover
		transform: translate3d(0, 3px, 0)

.btn_shadow
	box-shadow: inset 0 -2px 0 #221f1f

.through-line
	border-bottom: 1px solid $bg-btn-primary
	position: relative
	text-align: center
	margin: 0 0 20px 0
	span
		font-family: "Roboto Condensed", serif
		font-size: 22px
		font-weight: normal
		display: inline-block
		background-color: #ffffff
		color: $bg-btn-primary
		padding: 5px 15px
		position: relative
		top: 18px
		margin-top: 1px

.through-header
	font-size: 28px
	font-family: "Roboto Condensed", serif
	font-weight: normal

.page-contest-directory
	.short-description,
	.message-description,
	.description
		color: #666666
	.nav-tabs > li a
		color: #666666
		padding-left: 25px
		padding-right: 25px
	.nav-tabs > li.active a,
	.nav-tabs > li.active a:hover,
	.nav-tabs > li.active a:focus
		background-color: #ffffff
	.countdown-days
		.message-description
			color: #5b595d
			font-size: 14px

.page-contest-details,
.page-home-index
	.vote-box
		.vote-box-content
			a
				color: $color-accent
				p
					color: $color-accent
					font-size: 22px

			p
				a
					color: $color
					font-size: 26px

.page-shelter-all
	table
		td
			a
				text-decoration: underline

@media screen and (min-width: 1024px)
	.page-contest-details,
	.page-home-index
		.vote-box
			.vote-box-content
				a
					p
						font-size: 20px
						margin: 0

				p
					a
						font-size: 22px

	#btnVoteContestant
		min-width: 100px



@media screen and (max-width: 767px)
	.contests-container
		.contest-box
			> div > a
				max-width: 100%

	select
		-webkit-appearance: menulist-button
	
	.contests-container
		.contest-box
			img
				width: 55%
				margin-right: 10px

	.contests-container
		h2
			margin-bottom: 0

		.contest-box
			h3
				margin-bottom: 20px
				font-size: 20px

			img
				float: left
				margin-top: 0

			.contest-info
				text-align: center

				.btn-primary
					font-size: 16px

				.cta-container
					text-align: center

		.description
			font-size: 14px
			margin-top: 15px
	.page-contest-details
		h2
			font-size: 18px
			margin-top: 20px
		h3
			font-size: 14px
		.vote-box
			.vote-box-header
				.col-sm-5,
				.col-sm-7
					text-align: center
					h3
						// margin-bottom: 5px
					p

			.vote-box-content
				.text-underline
					text-decoration: underline
				.text-underline:after
					display: none
		.vote-message-box
			.vote-message-inside
				h3
					text-shadow: none
					.text-underline
						text-decoration: underline
					.text-underline:after
						display: none
	.modal-box
		.modal-title
			font-size: 24px
			margin-bottom: 0
		.modal-body
			.btn-primary,
			.btn-default
				font-size: 12px
			.btn-extend
				padding-left: 30px
				padding-right: 30px
			.btn-default.btn-extend
				padding-top: 11px
				padding-bottom: 11px

	.sharing-list
		text-align: center
		margin-bottom: 10px

	.page-contest-details,
	.page-home-index
		.vote-box
			.vote-box-content
				a
					p
						font-size: 14px

				p
					
					a
						font-size: 14px

	.contests-container
		.contest-box
			text-align: center
			img
				max-width: 50%
				float: none
				display: inline-block

			.contest-info
				width: 100%


@media screen and (max-width: 767px) and (orientation: landscape)
	.contests-container
		.contest-box
			.contest-info
				text-align: center

				.cta-container,
				.countdown-days
					text-align: center
	
@media screen and (max-width: 736px)
	.page-contest-details
		.vote-box
			.vote-box-content
				.btn
					font-size: 16px

@media screen and (max-width: 736px) and (orientation: portrait)
	.page-contest-details
		.vote-box
			.vote-box-content
				p
					line-height: 1.1
		.bottom-buttons
			.btn
				width: 100%
				margin: 0 0 10px 0 !important

@media screen and (max-width: 415px)
	.contests-container
		.contest-box
			text-align: left
			img
				max-width: 200px
				width: 50%
				margin-right: 5px
				float: left

			.contest-info
				width: 46%

@media screen and (max-width: 360px)
	.contests-container
		.contest-box
			img
				max-width: 170px
				margin-right: 5px

			.contest-info
				

				.btn-primary
					font-size: 13px

	.page-contest-details
		.vote-box
			.vote-box-content
				.btn
					font-size: 14px

