@import "vars"
/* ----------- Main ----------- */
html
	min-height: 100%
	position: relative

body
	font-size: 16px
	height: 100%
	line-height: 1.5

	min-width: 320px
	overflow-x: hidden
	opacity: 1

	background-color: $bg-body
h6 
	line-height: 1.5

a
	color: $color
	&:hover
		color: $color-accent

#dvBodyContainer
	background-color: $bg-body

.main_container.open-left-login
    // padding: 0 25px 25px
    // width: calc(100% - 230px)
    // margin-left: 230px    

.widget-header:before, 
.widget-header:after
	display: unset

.content-wrapper,
#divMainContainer
	overflow: visible

.content-inner
	background-color: $bg-content-inner
	padding: 30px 0
	max-width: 1170px
	margin-left: auto
	margin-right: auto

.padding-right-0
	padding-right: 0

.page-title
	margin-bottom: 30px

	h1
		color: $color-page-title
		font-size: 36px
		margin-bottom: 10px
	h1.text-primary
		color: $bg-btn-primary
	h1.bottom-line
		border-bottom: 1px solid #c7c7c7
		padding-bottom: 10px

	.short-description.purple
		color: $bg-btn-primary

.page-slogan
	color: $color
	font-size: 23px
	font-family: 'Roboto Condensed', sans-serif
	padding-bottom: 25px
	border-bottom: 3px solid #ee2e24
	text-align: center
	margin-bottom: 30px
	line-height: 1.3

.btn
	border-radius: 0
	border: 0
	padding: 12px 15px
	font-family: 'Roboto Condensed', sans-serif
	line-height: 1
	transition: all 0.12s ease-in-out 0s

.btn-primary,
.btn-success,
.btn-danger,
#btnAjaxSubmit,
#btnSubmitYoutube
	background-color: $bg-btn-primary
	color: $color-btn-primary
	font-size: 16px
	font-weight: 400
	text-transform: uppercase
	outline: 2px solid transparent
	box-shadow: inset 0 -3px 0 darken($bg-btn-primary, 40%)
	text-shadow: 0 -1px darken($bg-btn-primary, 20%)
	transform-origin: 50% 50%

.btn-primary,
#btnAjaxSubmit,
#btnSubmitYoutube,
	&:hover
		background-color: $bg-btn-primary-hover
		color: $color-btn-primary-hover
		text-shadow: 0 -1px darken($bg-btn-primary-hover, 10%)
		box-shadow: inset 0 -3px 0 darken($bg-btn-primary-hover, 15%), 0 0 15px 2px rgba(#000, .2)
		outline: 2px solid #ffffff
		transform: translate3d(0, 3px, 0)

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary
	background-color: #fff
	color: #9966cc
	box-shadow: inset 0 0 0 0 rgba(lighten($bg-btn-primary-hover, 40%), .35), 0 0 15px rgba(#031e2e, .15)
	text-shadow: 0 -1px #fff
	border: 1px solid #9966cc
	transform: scale(.92, .92)
	outline: 0

.btn-success
	background-color: $bg-btn-success
	color: $color-btn-success
	box-shadow: inset 0 0 40px 7px rgba(darken($bg-btn-success, 40%), .35)
	border-top-color: lighten($bg-btn-success, 20%)
	border-bottom-color: darken($bg-btn-success, 20%)
	text-shadow: 0 -2px darken($bg-btn-success, 20%)

.btn-success:hover
	background-color: $bg-btn-success-hover
	color: $color-btn-success-hover
	box-shadow: inset 0 0 40px 7px rgba(darken($bg-btn-success-hover, 40%), .35)
	text-shadow: 0 -2px darken($bg-btn-success-hover, 20%)
	border-top-color: lighten($bg-btn-success-hover, 20%)
	border-bottom-color: darken($bg-btn-success-hover, 20%)

.btn-danger
	background-color: $bg-btn-danger
	color: $color-btn-danger
	box-shadow: inset 0 0 40px 7px rgba(darken($bg-btn-danger, 40%), .35)
	border-top-color: lighten($bg-btn-danger, 20%)
	border-bottom-color: darken($bg-btn-danger, 20%)
	text-shadow: 0 -2px darken($bg-btn-danger, 20%)

.btn-danger:hover
	background-color: $bg-btn-danger-hover
	color: $color-btn-danger-hover
	box-shadow: inset 0 0 40px 7px rgba(darken($bg-btn-danger-hover, 40%), .35)
	text-shadow: 0 -2px darken($bg-btn-danger-hover, 20%)
	border-top-color: lighten($bg-btn-danger-hover, 20%)
	border-bottom-color: darken($bg-btn-danger-hover, 20%)

.btn-md
	font-size: 26px
	font-weight: 700
	border-top-width: 5px
	border-bottom-width: 5px
	padding: 15px 65px

.btn-lg
	font-size: 40px
	font-weight: 700
	border-top-width: 5px
	border-bottom-width: 5px
	padding: 20px 55px

.btn-info
	background-color: $bg-btn-info
	border: 1px solid #acacac
	color: $color-btn-info
	font-size: 24px
	font-weight: 700
	line-height: 1
	padding: 15px 35px
	box-shadow: inset 0 2px 0 #ffffff, 0 2px 10px 0 rgba(172, 172, 172, .4)

.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info.active
	background-color: $bg-btn-info-hover
	color: $color-btn-info-hover
	// text-shadow: 0 1px 0 #c0241c
	box-shadow: inset 0 2px 0 $bg-btn-info-hover, 0 2px 10px 0 rgba(172, 172, 172, .4)
	border-color: $color-btn-info-hover

.btn-info.btn-sm
	font-size: 16px
	padding: 12px 10px

.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled.focus, 
.btn-primary[disabled].focus, 
fieldset[disabled] .btn-primary.focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active
	background-color: #bfbfbf
	color: $color
	text-shadow: none

.vote-box
	.btn.disabled, 
	.btn[disabled], 
	fieldset[disabled] .btn
		opacity: 1

button:focus,
input[type="button"]:focus
	outline: 0 !important

ul, ol
	list-style: none

.table,
.table-responsive
	th, td
		a:not(.btn)
			color: #666666			
		a:not(.btn):hover
			color: $bg-btn-primary

.table,
.table-responsive
	th td
		a:not(.btn)
			white-space: nowrap


.table.violet-link
	th, td
		a
			color: $bg-btn-primary
		a:hover
			color: #333333

.table.text-center
	th, td
		text-align: center


/* div, p
	&:empty
		display: none */



.paging
	display: table
	padding-left: 0
	margin: 20px auto
	border-radius: 4px
	font-size: 0
	text-align: center
	a,
	span
		position: relative
		float: left
		padding: 6px 12px
		margin: 0 0 5px -1px
		line-height: 1.4
		color: #666666
		text-decoration: none
		background-color: #ffffff
		border: 1px solid #e6e6e6
		font-size: 14px
	.dots
		border-top: none
		border-right: none
		border-bottom: none
	a:hover
		background-color: #e6e6e6
		color: #666666
	.disabled
		cursor: not-allowed
	.current
		background-color: $bg-btn-primary
		color: #ffffff

.field-validation-error, .password-verdict, .error-list
	color: #ff0000
	display: block
	font-size: 12px

.margin-top-5
	margin-top: 5px

.margin-top-10
	margin-top: 10px !important

.margin-top-15
	margin-top: 15px

.margin-top-20
	margin-top: 20px

.margin-top-30
	margin-top: 30px

.margin-bottom-0
	margin-bottom: 0

.margin-bottom-10
	margin-bottom: 10px !important

.margin-bottom-20
	margin-bottom: 20px

.margin-left-5
	margin-left: 5px !important

.margin-right-50
	margin-right: 50px

.margin-0
	margin: 0 !important

.p20tb
	padding: 20px 0

.float-right
	float: right

.box-80-center
	width: 80%
	margin: 30px auto
	text-align: center

.text-red
	color: #ef2525

.text-green
	color: #26b52d

a:focus
	outline: none

.width-15
	width: 15%

.requireloginpopup
	background-color: #fff
	padding: 10px !important
	box-shadow: 0 0 10px rgba(#000, .2)

.page-shelter-detail
	.shelter-info
		margin-top: 15px

@media (min-width: 1200px)
	.container
		width: 1200px

@media screen and (max-width: 1280px)
	.btn-lg
		font-size: 35px
		padding: 20px 40px

	.btn-info.btn-sm
		font-size: 14px
		padding: 8px 6px

@media screen and (max-width: 1280px)
	.content-inner
		padding: 30px 15px 15px

@media screen and (max-width: 1024px)
	.btn-lg
		padding: 10px 25px
		font-size: 28px

@media screen and (max-width: 767px)
	.page-slogan
		font-size: 14px
		padding-bottom: 15px
		padding-left: 15px
		padding-right: 15px
		margin-bottom: 15px

	.page-title
		h1
			font-size: 22px

	.btn-info
		font-size: 18px
		padding: 10px 20px

	.form-group
		// margin-left: 15px
		// margin-right: 15px

	.btn-primary
		margin-left: auto
		margin-right: auto

	.btn-primary,
	.btn-success,
	.btn-danger
		font-size: 20px

	.btn-lg
		margin-left: auto
		margin-right: auto

	.center-align-xs
		text-align: center
		margin-bottom: 15px

	.page-shelter-detail
		.col-sm-3.col-md-4.padding-right-0
			padding-right: 15px

		.contests-container 
			.contest-box
				img
					width: 100%
					max-width: 100%

				.shelter-info
					text-align: center
				.contest-info 
					h3
						text-align: center
						margin-top: 15px
						margin-bottom: 10px
					.description
						margin-top: 0

	.shelter-list-result
		margin-left: 10px
		margin-right: 10px
	
	#dvRegistrationGridView
		margin-bottom: 0

	#tblRegistration
		border: 1px solid #ddd
		margin-bottom: 0 !important
		.shelter-name
			width: 60%
		.address

		.city
			width: 40%
		.state

		.zip

		.country



		tr
			td:nth-child(1)
				> a
					white-space: initial
					> span					
						overflow-wrap: break-word
						word-wrap: break-word
						-ms-word-break: break-all					
						word-break: break-all					
						word-break: break-word					
						-ms-hyphens: auto
						-moz-hyphens: auto
						-webkit-hyphens: auto
						hyphens: auto
			// td:nth-child(2)
			// 	width: 30%

			th:nth-child(2),
			td:nth-child(2),
			
			th:nth-child(4),
			td:nth-child(4),
			
			th:nth-child(5),
			td:nth-child(5),
			th:nth-child(6),
			td:nth-child(6)
				display: none

	.table-responsive>.table>thead>tr>th, 
	.table-responsive>.table>tbody>tr>th, 
	.table-responsive>.table>tfoot>tr>th, 
	.table-responsive>.table>thead>tr>td, 
	.table-responsive>.table>tbody>tr>td, 
	.table-responsive>.table>tfoot>tr>td
		white-space: normal



@media screen and (max-width: 360px)
	.btn
		padding: 7px 10px

	.btn-primary,
	.btn-success,
	.btn-danger
		font-size: 18px

	.page-title
		h1
			font-size: 18px

	p
		font-size: 12px
