@import "vars"

/* ----------- Moderation ----------- */
#dvModerator
	margin-top: 35px
	text-align: center

#btnApprove,
#btnReject,
#btnFlag
	margin-bottom: 5px

#btnFlag
	i

#btnFlag:hover
	i

.page-admin
	.contestant-name
		font-size: 22px

@media screen and (max-width: 1200px)
	#btnApprove,
	#btnReject
		font-size: 30px

@media screen and (max-width: 992px)
	#btnApprove,
	#btnReject
		font-size: 22px