@import "vars"

/* ----------- Password Forgot ----------- */
.page-registration-forgotpassword
	[class*=col-]
		padding: 0
		float: none
		display: inline-block
		width: auto
		vertical-align: top

	.row
		margin-left: 0
		margin-right: 0
	
	.col-sm-6.col-sm-height 
		width: 100%

	.col-sm-offset-3
		margin-left: 0

	.form-inline
		.btn
			height: 34px
			padding-top: 0
			padding-bottom: 0

	.content-inner 
		> div
			padding-left: 15px
			padding-right: 15px

@media screen and (max-width: 767px)
	.page-registration-forgotpassword
		.content-inner
			padding-right: 15px
			padding-left: 15px

		.form-inline
			.form-group
				padding: 0
				margin: 0
				display: inline-block

		.form-inline
			.btn
				height: 30px
