@import "vars"

/* ----------- Password Reset ----------- */
.page-registration-resetpassword
	.row
		h3
			margin-left: 25%
			text-align: left !important
			padding-left: 5px
			font-weight: 700

@media screen and (min-width: 1024px)
	.page-registration-resetpassword
		.col-sm-5
			max-width: 25%


@media screen and (max-width: 767px)
	.page-registration-resetpassword
		.content-inner
			padding: 30px 30px 15px
