@import "vars"

/* ----------- Star ----------- */
.rating-box
	margin-bottom: 14px
	padding-bottom: 5px
	border-bottom: 1px solid #c7c7c7

.br-theme-fontawesome-stars-o
	.br-widget
		height: 28px
		white-space: nowrap
		a
			font: normal normal normal 20px/1 FontAwesome
			text-rendering: auto
			-webkit-font-smoothing: antialiased
			text-decoration: none
			margin-right: 5px
		a:after
			content: '\f006'
			color: #333333
		a.br-active:after
			content: '\f005'
			color: $bg-btn-primary
		a.br-selected:after
			content: '\f005'
			color: $bg-btn-primary
		a.br-fractional:after
			content: '\f123'
			color: $bg-btn-primary
		.br-current-rating
			display: none
	.br-readonly
		a
			cursor: default
	.br-reverse
		a.br-fractional
			display: inline-block
			transform: scaleX(-1)
			-moz-transform: scaleX(-1)
			-webkit-transform: scaleX(-1)
			filter: FlipH
			-ms-filter: "FlipH"

@media print
	.br-theme-fontawesome-stars
		.br-widget
			a:after
				content: '\f006'
				color: black
			a.br-active:after,
			a.br-selected:after
				content: '\f005'
				color: black