﻿@charset "utf-8";
/* CSS Document */
html, body{ height:100%; }
body{
	background:#fff;	
}

.wrapper {
	background:#fff;
	width:486px;
	height:248px;
	margin:auto;
}
.wheelContainer
{
	/*width:656px;*/
	/*height:358px;*/
	overflow:hidden;
	/*float:left;*/
	position:relative;
	/*border-top:1px solid #9d5a2f;
	border-bottom:1px solid #9d5a2f;*/
}
.wheel {
	/*width:218px;
	height:358px;*/
	/*overflow:hidden;*/
	float:left;
	background:#fff;
	position:relative;
}
.prize {
	/*width:218px;*/
	/*height:179px;*/
	/*background:#fff;*/
	text-align:center;
	vertical-align:middle;
	/*display:table-cell;*/
	/*border:1px solid #9d5a2f;*/
	overflow:hidden;
	position:absolute;
    width: 100%;
}
.clear{ clear:both; }
#debugger{
	padding:5px;
	background:#000;
	border:1px solid green;
	position:absolute;
	min-height:40px;
	color:#fff;
	top:0;
}
.preloader
{
	width:157px;
	height:25px;
	background:url(../../skins/standard/images/bgPreloader.png) no-repeat;
	margin-top:268px;
	margin-left:250px;
	position:absolute;
	z-index:2;
	padding:5px;	
}
.loadPerc
{	
	width:0;
	background:#F00;
	float:left;
	height:15px;
	
}