@import "vars"
/* ----------- Countdown ----------- */
.countdown-page
	h1
		margin-bottom: .2em

.countdown-container


.days
  display:  block
  color: $color-accent
  font-size:  14px
  text-transform: uppercase
  text-align:  center
  padding-bottom:  3px

.countdown-wrapper
	margin: 0 auto 
	text-align: center
	display: table
	border-radius: 0 
	padding: 1em
	background: #fff 

.cnt-separator 
	width: 14px 
	color: #8f8f8f 
	height:  60px 
	line-height:  60px 
	font-size:  45px 
	font-weight:  400
	margin-top: 17px
	text-align:  center

.cnt-digit-container
	float: left
	text-align:  center

.cnt-digit
	background:  $color-accent
	color: #fff
	margin:  0 1px
	border-radius: 4px
	font-size:  45px
	width:  34px
	height:  60px
	line-height:  60px
	font-weight:  700
	box-shadow: 0 3px 0 darken($color-accent, 15%), inset 0 2px 0 #fff

.countdown-title
	font-size:  20px
	text-align:  center
	font-weight:  600

.campaign-ended-title
	font-size:  40px
	text-align:  center
	margin-top: 110px
	font-weight:  700
	margin-bottom:  10px	

.campaign-ended-title2
	font-size:  25px
	text-align:  center
	font-weight:  700

#countdown
	margin: 0 auto  
	display:  table
	padding: 15px
	border-radius: 5px

.ended-page
	padding: 5em 3em

@media (max-width: 1024px)
	.ended-page h1
		font-size: 30px

@media (max-width: 767px)
	#countdown
		padding: 5px
	.cnt-digit
		font-size: 30px
		width: 25px
		height: 40px
		line-height: 40px
	.cnt-separator
		height: 40px
		line-height: 40px
	.days
		font-size: 10px

	.ended-page h1
		font-size: 20px
