@import "vars"
/* ----------- Header ----------- */

header
	background-color: $bg-header

	.logo-container,
	.week-logo
		margin-bottom: 2em
	
	img
		display: inline-block !important

.header
	> .container
		padding: 30px 15px
		background-color: $bg-header-inner

.navbar-default
	background-color: $bg-navbar-default
	border: 0

.navbar-collapse
    padding-left: 0
    padding-right: 0
    background-color: $bg-navbar-collapse
    margin-left: -15px !important
    margin-right: -15px !important

.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-nav > li > a:link, 
.navbar-default .navbar-nav > li > a:active, 
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:visited 
	background-color: $bg-topnav-link
	color: $color-topnav-link
	padding: 15px 40px
	border-right: 1px solid $border-right-topnav-link

.navbar-default .navbar-nav > li > a:hover
	background-color: $bg-topnav-link-hover
	color: $color-topnav-link-hover

.navbar-default .navbar-nav > li > a.active
    background-color: $bg-topnav-link-active
    color: $color-topnav-link-active

.navbar-right
	margin-right: 0

#campaign-name-header
	color: $color-campaign-name-header
	text-transform: uppercase
	font-size: 32px
	text-align: right
	font-family: 'Oswald', sans-serif
	margin-bottom: 4px

#header-slogan
	color: $color-header-slogan
	font-size: 26px
	text-align: right
