@import "vars"
/* ----------- Main ----------- */
html
	min-height: 100%
	position: relative

body
	font-size: 16px
	height: 100%
	line-height: 1.75
	margin-bottom: 130px

	min-width: 320px
	overflow-x: hidden
	opacity: 1

	background-color: #000000
	background-image: url('images/bg-body.jpg')
	background-attachment: fixed
	background-size: cover
	/* background-position: 50% 50% */

.content-inner
	background-color: $bg-content-inner
	padding: 30px 15px 57px
	max-width: 1140px
	margin-left: auto
	margin-right: auto
	margin-bottom: 30px

#page-container

.btn
	border-radius: 0
	border: 0
	padding: 10px 30px

.btn-primary
	background-color: $bg-btn-primary
	color: $color-btn-primary
	font-size: 20px
	font-weight: 700
	text-transform: uppercase

.btn-primary:hover
	background-color: $bg-btn-primary-hover
	color: $color-btn-primary-hover

