@import "vars"
/* ----------- Rules ----------- */
.rules-container
	text-align: left
	line-height: 1.5

.rules-container h1, 
.rules-container h2
	text-align: center
	font-size: 1em
	font-weight: 700
	font-size: 25px

.rules-container .no-purchase
	font-weight: 700
	font-size: 16px

.rules-container ul
	list-style-type: none
	padding-left: 0

.rules-container ul li
	margin-bottom: 14px
	font-weight: 700

.rules-container ul li p
	margin-top: 0
	margin-bottom: 20px
	font-weight: 400

.rules-container ol li
	font-weight: 400

.rules-container table
	border-collapse: collapse
	width: 100%

.rules-container table th,
.rules-container table td
	font-weight: normal 
	border: 1px solid #ccc
	padding: 5px

.rules-container table th
	font-weight: 700
	text-align: center

.rules-container table td:nth-child(5)

@media screen and (max-width: 767px)
	.rules-container
		line-height: 1.3

	.rules-container h1, 
	.rules-container h2
		font-size: 18px

	.rules-container > p
		font-size: 12px

	.rules-container ul li
		font-size: 12px

	.rules-container ul li p
		text-align: left
		font-size: 11px

	.rules-container table
		width: 767px
		font-size: 10px

@media screen and (max-width: 480px)
	.rules-container table
		width: 480px