@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #ededee;
    font-size: 10px;
    color: #474747;
    /*overflow: hidden;*/
    /*background-attachment: fixed;
	background-size: 100% auto;
	background-position: 50% 100%;
	background-repeat: no-repeat;*/
}

    body.loading {
        background: url(../images/loading.gif) no-repeat 50%;
    }

.page-wrapper {
    display: none;
    overflow: hidden;
    /*height: 0;*/
    z-index: 2;
}

.header {
    /*position: relative;
 	z-index: 4;*/
    overflow: visible;
}

.header-nomenu {
}

.mobile-title {
    float: left;
    margin: 0 0 0 15px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
}

.content {
    padding: 5em 0 0;
    background: #ededee;
}

.widget-body > .container, 
.content-background > .container {
    background: url(../images/content-bg.png) no-repeat;
    background-position: 100% 100%;
    padding-bottom: 3em;
}
/* Bootstrap override */
a {
    color: #b31f29;
    /*font-size: 2em;*/
}

    a:hover,
    a:active,
    a:focus {
        color: #474747;
    }

    a,
    a:hover,
    a:focus,
    a:active {
        outline: 0;
    }

.btn {
    border-radius: 0;
    border: 0;
    font-size: 25px;
    padding: 3px 15px;
}

.btn-primary {
    background: #b31f29;
    border: 3px solid #b31f29;
    color: #fff;
    font-weight: 700;
    font-size: 1.8em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus {
        background: #fff;
        border: 3px solid #b31f29;
        color: #b31f29;
    }

.btn-lg {
    font-size: 4em;
}

.btn-md {
    font-size: 3em;
}

.btn-sm {
    padding: 0.2em .75em;
    font-size: 18px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

    .text-left img,
    .text-right img {
        display: inline;
    }
h1,
h2,
h3,
h4,
h5 {
    color: #b31f29;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
}

.heading{
	font-size: 30px
}
.new-user-heading{
	font-size: 20px
}

.margin-top-1 {
    margin-top: 1em;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-top-3 {
    margin-top: 3em;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-bottom-2 {
    margin-bottom: 2em;
}

.input-group-addon {
    background: #c8c8c8;
    border: 0;
    border-radius: 0;
    padding: 0;
}

    .input-group-addon a {
        color: #474747;
        font-size: 1.4em;
        padding: 6px 12px;
    }

.help-block {
    display: inline;
    font-size: 0.8em;
    margin: 0;
}

.help-block {
    color: rgba(71, 71, 71, .5);
}



/* end Bootstrap override */

/* Landing page */
.you-could-win {
	font-size: 6em;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 30px;
}

.enter-container {
}

.logo {
    margin: 3em 0;
}

.logo-header-container {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
}

.logo-header {
    margin: auto;
    text-align: center;
}

    .logo-header img {
        display: inline;
    }

.enter-slogan-container {
    color: #b31f29;
    font-weight: 700;
    font-size: 2.8em;
    line-height: 1.4;
    background: url(../images/landing-arrow.png) no-repeat;
    padding-left: 60px;
    margin-left: -60px !important;
}

.prizes-title {
    font-size: 2.8em;
    font-weight: 700;
}

.prizes-list > li {
    font-size: 2.5em;
    list-style-type: initial;
}

.logo-container,
.enter-slogan-container {
    margin: 1em 0;
}

.enter-btn-container {
    margin: 4em 0;
}

.like-btn-container {
    font-size: 20px;
}

    .like-btn-container p {
        margin-top: 1.5em;
        line-height: 1.2em;
    }

    .like-btn-container a {
        font-size: 1em;
    }

.btn-enter {
}

.landing-photo-container {
}

.social {
    font-size: 2em;
    font-weight: 700;
}

    .social a {
        display: inline-block;
        margin-right: 10px;
    }

/* end Landing page */
/* Register page */
.you-could-win-register {
    font-size: 3.9em;
    font-weight: 700;
    line-height: 1.2;
    color: #b31f29;
    margin-bottom: 15px;
}

.enter-slogan-container-register {
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.3;
}

.form-inline .form-group {
    width: 100%;
    margin-bottom: 8px;
}

.form-inline .form-control {
    /*width: 100%;*/
    /*font-size: 18px;*/
}
.register-container{
	margin-bottom: -30px;
}
#registerColumnsContainer{
	display: table;
}
#registerColumnsContainer .col-sm-6{
	width: 50%;
}
.col-sm-height{
	display: table-cell;
	float: none;
	height: 100%;
}
.register-container .form-inline .form-control{
	width: 100%;
}
.money-container{
	height: 100%;
	vertical-align: bottom;
	text-align: center;
}
.money-container img{
	display: inline-block;
}

select.form-control {
    padding-right: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #a9a9a9 !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a9a9a9 !important;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a9a9a9 !important;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #a9a9a9 !important;
}

label {
    color: #474747;
    font-size: 22px;
    font-weight: 400;
}

.help-icon {
    border-radius: 50%;
    border: 1px solid #6c0619;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    font-size: 13px;
    color: #6c0619;
}

.form-control {
    border-radius: 0;
    background: #fff;
    border: 1px solid #c8c8c8;
    color: #474747;
}

    .form-control:focus {
        border-color: #8d8d8d;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.2);
        outline: 0 none;
    }

.checkbox {
    margin-bottom: 1em !important;
    display: block !important;
}

    .checkbox label {
        font-size: 15px;
        padding-left: 20px !important;
    }

    .checkbox a {
        text-decoration: underline;
    }

    .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
        margin-left: -20px !important;
        position: absolute !important;
    }

    .checkbox small {
        font-size: 14px;
        color: #f47302;
    }

.forgot-pass-register {
    font-size: 14px;
}

.forgot-pass .form-group {
    max-width: 50%;
}

.progress {
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
}

.error-list {
    margin: 0;
    padding: 1px;
}

ul, ol {
    list-style: outside none none;
}

.password-strength {
    font-size: 1.6em;
}
/* end Register page */

/* Forgot Passsword page */
.forgot-pass .form-control {
    /*width: auto;*/
}

.forgot-pass label {
    margin-right: .5em;
}

.forgot-pass-input input {
    /*width: 50%;*/
}
/* End Forgot Passsword page */

/* Logined header nav */
.navbar-collapse.in {
    overflow-y: visible;
}

.navbar-default {
    background: transparent;
    position: absolute;
    top: 6em;
    border: 0;
    border-radius: 0;
    width: 100%;
    margin-bottom: 0;
}

.container > .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-collapse {
    position: relative;
    margin: 0 -15px !important;
    padding: 0;
    max-height: none;
    background-color: transparent;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.login-li {
    clear: both;
}

.loginhandle {
    display: block;
    /*min-width: 230px;*/
}

.logindropdown {
    position: absolute;
    z-index: 3;
    left: -59px;
}

    .logindropdown a {
        color: #f9e394;
        font-size: 1.5em;
        display: inline-block;
        margin-top: .5em;
    }

        .logindropdown a:hover,
        .logindropdown a:active,
        .logindropdown a:focus {
            color: #fff;
        }

#login_dialog {
    display: none;
    background-color: rgba(134, 3, 39, .2);
    padding: 1.5em;
    min-width: 230px;
    border-radius: 0 0 3px 3px;
}

    #login_dialog .btn-container {
        text-align: left;
    }

#login_form {
}

.logo-header a {
    background: transparent !important;
    border: 0 !important;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus 
{
    background-color: #b31f29;
    color: #fff;
    font-weight: 400;
    font-size: 2em;
    margin-right: 0.5em;
    border: 3px solid #b31f29;
    padding: 8px 15px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.active 
{
    background-color: #fff;
    color: #b31f29;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.welcome {
    font-size: 2em;
    display: inline-block;
    margin-right: 0.5em;
}

.logined-user {
    /*background: rgba(179, 31, 41, 0.3);*/
    height: 50px;
    line-height: 50px;
    color: #fff;
    margin-right: 0;
    padding-right: 15px;
    padding-left: 15px;
}

.logined-user > li > a {
    display: inline;
    color: #fff;
    font-size: 2em;
    text-decoration: underline;
}

.navbar-collapse {
    border: 0;
}
/* End Logined header nav */

/* Gallery page */
.campaign-name {
    color: #b31f29;
    font-size: 4.1em;
    margin-bottom: 15px;
    line-height: 1.2em;
}

.gallery-slogan-container {
    font-size: 2.4em;
    margin: 0;
    line-height: 1.3em;
}

.search-sort-container,
.countdown-container {
}

.countdown-container {
    width: 300px;
    margin: auto;
}

.search-container .input-group {
    width: 100%;
}

.form-group label {
    margin-bottom: 0;
    font-size: 1.8em;
    display: inline;
    line-height: 34px;
    vertical-align: middle;
}

.form-inline select {
    font-size: 16px !important;
    padding-top: 0;
    padding-bottom: 0;
}

.countdown-container {
    text-align: center;
}

.cntDigit {
    background: #34ace3;
    color: #fff;
    margin: 0 1px;
    border-radius: 4px;
    font-size: 25px;
    line-height: 42px;
    text-align: center;
}

.cntSeparator {
    width: 14px;
    color: #552a0d;
    height: 42px;
    line-height: 42px;
    font-size: 23px;
    font-weight: bold;
}

.gallery-container {
    /*background: #fdddc3;*/
    padding-top: 15px;
    padding-bottom: 15px;
    /*padding-right: 30px;
	padding-left: 30px;*/
    z-index: 11;
    position: relative;
}

    .gallery-container .row {
        /*margin-top: 30px;
	margin-bottom: 30px;*/
    }

.show-more-container {
    /*background: #fdddc3;*/
    padding-top: 15px;
    padding-bottom: 15px;
}

.entry-container {
    position: static;
}

    .entry-container:nth-child(1) .active {
        -ms-transform-origin: 0% 50%;
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }

    .entry-container:nth-child(4) .active {
        -ms-transform-origin: 100% 50%;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

.entry-content {
    background: #fff;
    border: 1px solid #c8c8c8;
    margin-bottom: 15px;
}

    .entry-content a {
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }

        .entry-content a:hover,
        .entry-content a:active,
        .entry-content a:focus {
            text-decoration: none;
        }

        .entry-content a.active {
            transform: scale(1.75);
            -ms-transform: scale(1.75);
            -webkit-transform: scale(1.75);
            background: #fff;
            z-index: 1000;
            display: block;
            border: 1px solid #474747;
            /*-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;*/
        }

.close-photo {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #b31f29;
    color: #fff;
    text-align: center;
    line-height: 16px;
    top: -8px;
    right: -8px;
}

.show-more-container {
    position: relative;
    z-index: 1;
}

.entry-name {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2em;
    font-weight: 700;
}

.entry-description,
.entry-milestone {
    text-align: center;
    padding: 4px 8px 8px;
    font-size: 1.5em;
    display: block;
    color: #474747;
    word-wrap:break-word;
    height:100%;
}
.entry-container .active .entry-description{
	line-height: 1.2;
}

.entry-milestone {
    font-weight: 700;
    padding-bottom: 0;
    padding-top: 8px;
}

.entry-winner,
.entry-pending {
    text-align: center;
    padding: 8px 8px 8px;
    font-size: 1.5em;
    font-weight: 700;
    display: block;
    color: #fff;
    background: #b31f29;
    margin-right: -1px;
    margin-left: -1px;
}

.entry-pending {
    background: #d0868b;
}
/* End Gallery page */

/* submit-form */
.submit-form label,
.upload-file label
{
    margin-bottom: 10px;
    display: block;
    font-size: 2.5em;
    line-height: 1.1;
}

.submit-form textarea,
.submit-form select {
    width: 50%;
}

.submit-form textarea {
    height: 80px;
}

.submit-btn-container {
    margin-bottom: 2em;
}

.required-text {
    font-size: 1.4em;
}
/* End submit-form */
/* thanks page */
.thanks-container .notify-container {
    font-size: 2.5em;
    line-height: 1.2em;
    margin: .3em 0 .5em;
    width: 70%;
}

.thanks-container .share-container {
    font-size: 2.2em;
    color: #b31f29;
    width: 60%;
    margin-right: 1em;
    margin-top: .5em;
    line-height: 1.2;
}

.thanks-container .share-buttons a {
    display: inline-block;
    margin-right: .5em;
    margin-top: 2.2em;
}

.thanks-user-photo {
    margin-bottom: 3.5em;
}
/* End thanks page */

/* Contestant page */
.entry-name-container {
}

.next-prev-container {
    margin-left: 1.5em;
}

    .next-prev-container i {
        font-size: 4em;
    }

    .next-prev-container a {
        margin-left: .5em;
    }

        .next-prev-container a:hover,
        .next-prev-container a:active,
        .next-prev-container a:focus {
            text-decoration: none;
        }

.entry-media-container {
    
}

    .entry-media-container .entry-description {
        text-align: left;
        font-size: 2em;
        padding: 0;
        margin: 1em 0;
    }

.judging-criteria h3 {
    margin: 0 0 .5em;
    font-size: 2.7em;
}

.criterialist {
}

.dvVoteCriteria {
    margin-bottom: 1.5em;
}

.voting_criteria {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.criteria-name {
    color: #f47302;
}

.criteria-score {
    color: #680013;
}
/* slider */
.ui-widget-content {
    background: #fdddc3;
    border-color: #cdb39e;
}

.ui-slider-horizontal {
    height: 1.5em;
}

.ui-slider .ui-slider-handle {
    width: 2em;
    height: 2em;
    background: #39b0e5;
    border-color: #1b92c7;
    box-shadow: inset 0 1px 5px #a8dcf4;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.4em;
    cursor: pointer;
}
/* end slider */
.avgscore {
    font-size: 2.5em;
}

.scoreValue {
    color: #680013;
}

.dvSubmitVoteBtn {
    margin: 1.5em 0;
}
/* End Contestant page */

/* Rules */
#rules {
    line-height: 1.2;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #555;
}
.bg-header{
    
}
.bg-header img{
    display: inline-block;
}
.bg-header .col-md-12{
    padding-top: 16px;
    padding-bottom: 16px;
}
.table>tbody>tr>td {
    vertical-align: middle;
}
a{
    color:#b31f29;
    /*font-size: 2em;*/
}
a:hover,
a:active,
a:focus
{   
    color:#474747;
}
a,
a:hover,
a:focus,
a:active
{
   outline: 0;
}
.content-row{
    background: #fff;
    background-size: 100% 100%;
    padding: 2em 3em;
}
.rules-container {
    font-size: 1.400em;
}

.rules-container table {
    margin-top: 15px;
    margin-bottom: 10px;
    background: #fff;
}

.rules-container > ol > li {
    margin-bottom: 16px;
}

#rules h1 {
    text-align: center;
}
#rules h2 {
    text-align: center;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    padding: 14px 0;
    margin-bottom: 34px;
}

sup{
    font-size: 0.5em;
    top:-1em;
}
.rules-container{
}

.rules-container img{
    display: inline-block;
}
.rules-container h1,
.rules-container h2
{
    text-align: center;
    font-size: 19px;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: .7em;
    margin-bottom: .7em;
}
.nopurchase{
    margin: 1.2em 0;
    font-size: 1.62em;
    font-weight: 700;
}

.rules-container .no-purchase{
    
}
.rules-container ol
{
    padding-left: 20px;
    font-weight: 700;
    margin-top: 30px;
    font-size: 16px;
    list-style-type: decimal;
}
.rules-container ol > li > p{
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}
.rules-container table td{
    font-weight: 400;
    font-size: 14px;
}
.rules-container ol > li > ul{
    padding-left: 13px;
    margin-top: 15px;
}
.rules-container ol > li > ul > li{
    font-size: 14px;
    list-style-type: initial;
}

.last-p{
    margin-bottom: 30px;
}
/* End Rules */

/* footer */
footer {
    background: #fff;
}
/*footer > img{
	visibility: hidden;
}*/
.footer-container {
    padding: 4em 0;
}

#footer-links a {
    /*color:#f9e394;*/
    font-size: 1.5em;
}

.disclaimer {
    font-size: 1.4em;
    margin: 2em 0;
}

ul, ol {
    margin: 0;
}
/* end footer */
/* like modal */
#likeModal .modal-dialog {
    margin: 30px 30px 30px auto;
}

#likeModal .modal-body {
    padding: 30px 30px;
}

#likeModal .like {
    font-size: 3em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
}

#likeModal .skip {
    font-size: 1.6em;
    margin-top: 1em;
    display: inline-block;
    margin-left: 1em;
    vertical-align: sub;
}

    #likeModal .skip a {
    }
/* end like modal */

.content-wrapper{
    overflow: visible;
}
#divMainContainer{
    overflow: hidden;
}

/* Responsive */

@media (max-width: 1199px) {
    footer {
        position: relative;
    }

    .forgot-pass .form-group {
        max-width: 75%;
    }
}

@media (min-width: 1200px) {
    body {
        /*background-image: url(../images/bg-footer.jpg);*/
    }
}

@media (max-width: 979px) and (min-width: 768px){
    .main_container {
        margin-left: 0 !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 9px;
        /*background-image: url(../images/bg-footer-md.jpg);*/
    }

    .logindropdown {
        left: -69px;
    }

    .page-wrapper {
        margin-bottom: 0 !important;
    }

    .thanks-container .share-buttons a {
        width: 55px;
    }

    .thanks-container .share-container {
        margin-top: 0;
        margin-right: .3;
    }

    .thanks-container .notify-container {
        width: 90%;
    }

    .entry-content a.active {
        transform: scale(2);
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
    }
    .you-could-win-register{
        font-size: 3.6em;
    }
    .enter-slogan-container{
        margin-left: -35px !important;
        padding-left: 35px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 7px;
        /*background-image: url(../images/bg-footer-sm.jpg);*/
    }

    .logindropdown {
        left: -90px;
    }

    .page-wrapper {
        margin-bottom: 0 !important;
    }

    .thanks-container .share-buttons a {
        width: 55px;
    }

    .thanks-container .share-container {
        margin-top: 0;
        margin-right: .3;
    }

    .thanks-container .notify-container {
        width: 90%;
    }

    .entry-content a.active {
        transform: scale(1.9);
        -ms-transform: scale(1.9);
        -webkit-transform: scale(1.9);
    }
    .enter-slogan-container{
        margin-left: -35px !important;
        padding-left: 35px;
    }
}

@media (max-width: 767px) { /* phones */
    body {
        font-size: 8px;
    }

    .enter-slogan-container
    {
        margin-left:-35px!important;
    }

    .logo-container,
    .enter-slogan-container,
    .enter-btn-container {
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;

    }

    .logo-container img {
        display: inline;
    }

    .vcenter {
        display: block;
        vertical-align: middle;
    }

    .navbar {
        /*height: 40px !important;*/
        /*position: relative;*/
        /*background:#fdddc3;*/
        padding-top: 10px;
        padding-bottom: 10px;
        top: 0;
    }

    .navbar-nav {
        /*float:left;*/
        margin: 0;
        padding-left: 15px;
    }
    /*.navbar-nav > li{
		float:left;	
	}*/

    .logined-user {
        height: 40px;
        line-height: 40px;
        background: transparent;
    }

    .campaign-name {
        text-align: center;
        margin-bottom: 1em;
    }

    .gallery-slogan-container {
        text-align: center;
    }

    .form-group label {
        font-size: 2.4em;
    }

    .forgot-pass-input label {
        font-size: 1.4em !important;
    }

    .submit-form textarea {
        width: 100%;
    }

    .thanks-container .notify-container {
        width: 100%;
    }

    .navbar {
        padding: 0;
        min-height: 0;
    }
    .navbar-header{
        border: 0;
        padding: 10px 15px;
    }
    .navbar-default {
        z-index: 2;
        height: auto;
        background: #b31f29;
        border-bottom: 2px solid #fff;
    }
    .navbar-default .navbar-toggle,
    .navbar-default .navbar-toggle:hover, 
    .navbar-default .navbar-toggle:focus
    {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: #fff;
    }
    .navbar-default .navbar-nav > li > a, 
    .navbar-default .navbar-nav > li > a:active, 
    .navbar-default .navbar-nav > li > a:focus
    {
        background-color: transparent;
        border: 0;
        /*border-bottom: 1px dotted rgba(255, 255, 255, .5);*/
    }
    .navbar-default .navbar-nav > li > a:hover, 
    .navbar-default .navbar-nav > li > a.active
    {
        background-color: rgba(0, 0, 0, .2);
        color: #fff;
    }

    .logined-user > li > a{
        text-decoration: none;
    }

    .navbar-nav {
        padding: 0;
    }

    .navbar-default .navbar-nav > li > a {
        margin: 0;
    }

    .logindropdown {
        position: relative;
        right: auto;
        left: 0;
    }

    #login_dialog {
        background: rgba(134, 3, 39, 0.3);
    }
    /*footer{
		position: relative;
	}*/
    .page-wrapper {
        margin-bottom: 0 !important;
    }

    .entry-name {
        font-size: 2.5em;
    }

    .entry-description,
    .entry-milestone,
    .entry-winner,
    .entry-pending {
        font-size: 2em;
    }

    .logo-header-container {
        left: 9%;
        top: 60px;
    }

    .header {
        padding-top: 50px;
    }

    .forgot-pass .form-group {
        max-width: 100%;
    }

    .logindropdown a {
        font-size: 2.5em;
    }

    .thanks-container .share-buttons {
        text-align: center;
        display: block;
        width: 100%;
    }

        .thanks-container .share-buttons a {
            width: 35px;
            display: inline-block;
        }

    .thanks-container .notify-container {
        width: 100%;
    }

    .thanks-container .share-container {
        margin-top: 0;
        margin-right: .3;
        width: 100%;
        text-align: center;
    }

    .notify-container {
        text-align: center;
    }

    .entry-content a.active {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }

    .close-photo {
        display: none;
    }

    .you-could-win {
        font-size: 4.5em;
    }

    .you-could-win,
    .prizes-title,
    .logo,
    .landing-photo-container,
    .social {
        text-align: center;
    }

    .you-could-win br {
        display: none;
    }

    .landing-photo-container img {
        display: inline-block;
    }
    .content-inner{
        padding: 0;
    }
    #dvBodyContainer {
        padding: 2em 0 0;
    }
    #registerColumnsContainer{
        display: block;
    }
    #registerColumnsContainer .col-sm-6{
        width: 100%;
    }
    .col-sm-height{
        display: block;
        float: none;
        height: auto;
    }
    .form-group label{
        font-size: 1.6em;
    }
    /*.form-group .row > div{
        padding:0 5px;
    }*/
    .form-group .row > div:nth-child(1){
        text-align: left;
    }
    .register-btn-container,
    .required-text
    {
        text-align: center !important;
    }
    .required-text{
        margin: 5px 0;
    }
    .you-could-win-register{
        font-size: 2.5em;
    }
    #btnAlreadyRegistered{
        margin-bottom: 10px;
    }
    .enter-slogan-container-register{
        font-size: 1.8em;
    }
    .heading{
        padding: 0;
        margin-top: 10px;
    }
    .page-title h1{
        font-size: 2.7em;
    }
    .submit-form label,
    .upload-file label{
        font-size: 2.5em;
    }
    .help-block{
        font-size: 0.7em;
    }
    .social{
        margin: 1em 0;
    }
    .thanks-user-photo{
        margin-bottom: 1.5em;
    }
    .enter-slogan-container{
        margin-left: -26px !important;
        padding-left: 30px;
        font-size: 2.3em;
        padding-top: 0.5em;
    }
    .entry-photo a{
        text-align: center;
        display: block;
    }
    .entry-photo .img-responsive{
        display: inline-block;
    }
}

@media (max-width: 480px) { /* phones  */
    .campaign-name {
        font-size: 3em;
    }

    .entry-content a.active {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }

    .close-photo {
        display: none;
    }
    .you-could-win{
        font-size: 2.9em;
        line-height: 1.2;
        margin-bottom: 15px;
    }
    .prizes-title{
        font-size: 2em;
        margin-bottom: 5px;
    }
    .prizes-list{
        padding-left: 15px;
    }
    .prizes-list > li{
        font-size: 1.7em;
    }
    .enter-slogan-container{
        margin-left: -26px !important;
        padding-left: 30px;
        font-size: 1.8em;
        padding-top: 1em;
    }
}
.loader--text{
    font-size: 14px;
}
/* end Responsive */


/* errors */
.error {
    font-size: 2.5em;
}

.dvError {
    float: left;
    margin: 2em auto;
    width: auto !important;
}

.error-container {
    color: #000;
    font-size: 25px;
    margin-top: 100px;
}

.field-validation-error, .password-verdict, .error-list {
    color: #FF0000;
    display: block;
    font-size: 14px;
}

/* end errors */

.disabled-link {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: default;
}

#inputFile {
    font-size: 16px !important;
}

.page-admin #dvBodyContainer {
    font-size: 14px
}

.paging {
    padding: 20px 0px;
}
.paging > a, .paging > span {
    font-size: 14px !important;
    font-weight: 400;
    color: #333 !important;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFF;
    padding: 6px 12px;
    border-radius: 4px;
    border: solid 1px #ccc;
    margin-right: 3px;
}

.paging span.current {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}

.sidebar-nav .accordion-toggle[data-toggle]::before, [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

#dvStandardFields > div {
    clear: both;
}

#dvContestants #dvContestantGirdView {
    float: left;
    margin-bottom: 20px
}
/* Campaign Ended */

/* End Campaign Ended */
