.fieldName{color: !important;font-size:px !important}
.contest-name{color:#333333 !important;font-size:32px !important}
.contest_status{color: !important;font-size:px !important}
.shortDecriptionCn{color:#333333 !important;font-size:17px !important}
.clock-label{color:#333333 !important;font-size:14px !important}
.normal{color:#333333 !important;font-size:14px !important}
.innerLink{color:#1f9d92 !important;font-size:12px !important}
.cmdbutton{color:#ffffff !important;font-size:20px !important}
.castyourvotes{color: !important;font-size:px !important}
.button-logout{color: !important;font-size:px !important}
.countdown-header{color:#333333 !important;font-size:36px !important}
.footer-copyright{color:#ffffff !important;font-size:14px !important}
.footer-disclaimer{color:#ffffff !important;font-size:14px !important}
.message-description{color:#000000 !important;font-size:25px !important}
.a.show-more{color: !important;font-size:px !important}
.breadcrumb-item{color:#444444 !important;font-size:14px !important}
.contest_description_para{color: !important;font-size:px !important}
.heading{color: !important;font-size:px !important}
.submit_contest_enter{color: !important;font-size:px !important}
.register-thanks-message{color: !important;font-size:px !important}
.contest-ended-header{color: !important;font-size:px !important}
.contest-ended-message{color: !important;font-size:px !important}
.footer-menu{color:#dfe61c !important;font-size:18px !important}
.menu-level1{color:#3cd5c8 !important;font-size:18px !important}
.menu-level2{color: !important;font-size:px !important}
.site-footer{color: !important;font-size:px !important}
.edit-label{color: !important;font-size:px !important}
.small-contestant-name{color:#1f9d92 !important;font-size:14px !important}
.contestant-name{color: !important;font-size:px !important}
.listTitle{color:#1765a9 !important;font-size:16px !important}
.span{color: !important;font-size:px !important}
.tblFE-td{color: !important;font-size:px !important}
.widget-header{color: !important;font-size:px !important}
.loginhandle-button{color:#3cd5c8 !important;font-size:18px !important}
.breadcrumb-item-current{color: !important;font-size:px !important}
.span-show-more{color: !important;font-size:px !important}
.forgotpassword-link{color: !important;font-size:px !important}
.show-more{color: !important;font-size:px !important}
.link{color: !important;font-size:px !important}
.ui-widget button{color: !important;font-size:px !important}
.contestant-winner-header{color: !important;font-size:px !important}
.contestant-winner-name{color: !important;font-size:px !important}
.contestant-winner-desc{color: !important;font-size:px !important}
.blocktitle{color: !important;font-size:px !important}
.text-warning{color: !important;font-size:px !important}
.text-success{color: !important;font-size:px !important}
.backlink{color: !important;font-size:px !important}
.dialogtitle{color: !important;font-size:px !important}
.breadcrumb-item-active{color:#ffffff !important;font-size:14px !important}
.comments-title{color: !important;font-size:px !important}
.prize-item-prizename{color: !important;font-size:px !important}
.prize-list-title{color: !important;font-size:px !important}

